.loaderWrapper {
  width: 100%;
  height: 100%;
  background-color: #f9f9fa;
  overflow: hidden;

  &.isInsideComponent {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
  }

  &.type {
    &_square {
      border-radius: 8px;
    }

    &_circle {
      border-radius: 50%;
    }
  }
}

.loaderBody {
  transition: all 0.25s ease, opacity 1s ease-in-out;
  background: linear-gradient(to right, #f9f9fa 0%, #e6e6ea 35%, #e6e6ea 55%, #f9f9fa 95%);
  width: 100%;
  height: 100%;
  animation: loading 2s infinite linear forwards;
}

@keyframes loading {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
