@import '../../assets/styles/transitions';
@import '../../assets/styles/colors';
@import '../../assets/styles/grid';

.dropdownIcon {
  display: inline-flex;
  position: relative;
}

.dropdownWrapper {
  position: fixed;
  z-index: 500;
  background: map-get($general-color, 'general-white-100');
  box-shadow: 0 10px 30px rgba(192, 196, 205, 0.3);
  border-radius: $border-radius-default;
  border:  1px solid map-get($general-color, 'general-grey-20');
  cursor: default;
  overflow: hidden;

  display: flex;

  @include border-colors-new;
}

.custom_scroll {
  max-height: 600px;
  overflow: auto;
  padding-right: 6px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    box-shadow: inset 0 0 10px 10px map-get($general-color, 'general-grey-20');
    border: solid 3px map-get($general-color, 'general-white-100');
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px map-get($general-color, 'general-white-100');
  }
}


.scrolledContainer {
  list-style: none;

  display: flex;
  @include flex-direction;
  @include gap;

  // Direction
  @include dropdownDirection;

  // Padding
  &.padding {
    &_none {
      padding: 0;
    }

    &_8 {
      padding: 8px;
    }

    &_10 {
      padding: 10px;
    }

    &_16 {
      padding: 16px;
    }

    &_20 {
      padding: 20px;
    }

    &_24 {
      padding: 24px;
    }

    &_32 {
      padding: 32px;
    }
  }
}

