@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';

.footer {
  display: flex;
  align-items: center;
  padding: 24px;
  border-top: 1px solid map-get($general-color, 'general-grey-20');
  background: map-get($general-color, 'general-white-100');
  width: 100%;
  &.justify-content {
    &_center {
      justify-content: center;
    }
    &_flex-start {
      justify-content: flex-start;
    }
    &_flex-end {
      justify-content: flex-end;
    }
    &_space-around {
      justify-content: space-around;
    }
    &_space-between {
      justify-content: space-between;
    }
    &_space-evenly {
      justify-content: space-evenly;
    }
  }
}
