.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 464px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  .title {
    margin-top: 32px;
  }
  .description {
    margin-top: 12px;
  }
  .action {
    margin-top: 32px;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}
