@import '../../../../assets/styles/colors';

.clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  animation: fadeIn 0.25s ease;
  transition: $transition-default;
  color: map-get($general-color, 'general-black-100');
  &:hover {
    color: map-get($extra-color, 'extra-red-90');
    transform: translateY(-50%) rotate(90deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
