@import '../../../assets/styles/colors';

.switch {
  appearance: none;
  width: 100%;
  max-width: 44px;
  min-width: 44px;
  height: 24px;
  position: relative;
  transition: $transition-default;
  cursor: pointer;
  border-radius: 12px;
  &:active,
  &:visited {
    outline: 0;
  }
  &:focus {
    outline: 0;
    // box-shadow: 0 0 0 2px map-get($general-color, 'general-violet-90');
    // &:hover {
    // 	box-shadow: 0 0 0 2px map-get($general-color, 'general-violet-100');
    // }
  }
  // Display of icon when "checked"
  // Border and background
  &:before {
    position: absolute;
    content: '';
    min-width: 44px;
    height: 24px;
    top: 0;
    left: 0;
    background: map-get($general-color, 'general-grey-90');
    border: 1px solid map-get($general-color, 'general-grey-90');
    border-radius: 12px;
    transition: inherit;
  }
  // Icon
  &:after {
    position: absolute;
    content: '';
    background: map-get($general-color, 'general-white-100');
    transition: inherit;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
  }
  // Default hover
  &:hover {
    &:before {
      background: map-get($general-color, 'general-grey-100');
    }
  }
  // Default checked
  &:checked {
    &:before {
      background: map-get($general-color, 'general-violet-90');
    }
    &:after {
      transform: translate(21px, -50%);
    }
    // Default checked hover
    &:hover {
      &:before {
        background: map-get($general-color, 'general-violet-100');
      }
    }
  }

  // Disabled settings
  &.disabled {
    cursor: not-allowed;
    &:before {
      opacity: 0.4;
    }
  }
}
