@import '../../../../assets/styles/colors';

.component {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  transition: $transition-default;
  border-radius: 4px;
  &:hover {
    background: map-get($general-color, 'general-grey-10');
    & .wrapper .text {
      color: map-get($general-color, 'general-violet-90');
    }
    & .checkbox {
      input:before {
        border: 1px solid map-get($general-color, 'general-violet-90');
      }
      &.checked {
        input:before {
          background: map-get($general-color, 'general-violet-100');
          border: 1px solid map-get($general-color, 'general-violet-100');
        }
      }
    }
  }
  &.stacked {
    align-items: flex-start;
  }
  &.min-width {
    &_default {
      min-width: 270px;
    }
    &_minimal {
      min-width: auto;
    }
  }
  & .checkbox {
    margin-right: 8px;
    &.blurred input {
      opacity: 0.3;
    }
  }
  & .wrapper {
    display: flex;
    flex-direction: column;
  }
}
