@import '../../../../../assets/styles/colors';

.selectIcon {
  flex-shrink: 0;

  transition: $transition-default;

  &.focused {
    color: map-get($general-color, 'general-violet-90');
  }

  &.disabled {
    color: map-get($general-color, 'general-grey-90');
  }

  &.error {
    color: map-get($extra-color, 'extra-red-90');
  }
}
