@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-radius: $border-radius-default;
  border: 1px solid map-get($general-color, 'general-grey-90');
  transition: $transition-default;
  cursor: pointer;
  user-select: none;
  &:active,
  &:focus,
  &:visited {
    outline: 0;
  }
  // Padding settings
  &.padding {
    &_default {
      padding: 16px;
    }
    &_minimal {
      padding-left: 10px;
      padding-right: 10px;
      height: unset;
    }
    &_none {
      padding: 0;
      height: unset;
    }
  }
  &.gray {
    background: map-get($general-color, 'general-grey-10');
  }
  &.transparent {
    background: transparent;
  }
  &_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    &.minimal {
      width: min-content;
      white-space: nowrap;
    }
    &.small {
      width: 150px;
    }
    &.medium {
      width: 190px;
    }
    &.intermediate {
      max-width: 215px;
      width: 100%;
    }
    &.modal-sm {
      width: 230px;
    }
    &.large {
      width: 215px;
    }
    &.modal-md {
      width: 260px;
    }
    &.rules {
      width: 300px;
    }
    &.default {
      width: 320px;
    }
    &.full {
      width: 100%;
    }
    &.auto {
      width: auto;
    }
    .label {
      display: inline-flex;
      margin-right: 10px;
      @include font-caption-regular;
      user-select: none;
      &.required {
        position: relative;
        &:after {
          position: relative;
          content: '*';
          top: 0;
          right: -1px;
          color: map-get($extra-color, 'extra-red-90');
        }
      }
      &.pointer {
        cursor: pointer;
      }
      &_wrapper {
        display: inline-flex;
        // justify-content: space-between;
        margin-bottom: 4px;
      }
      &_icon {
        font-size: 0;
        cursor: pointer;
      }
    }
  }
  &_icon {
    margin-right: 10px;
    & + .select_text {
      flex-grow: 1;
    }
  }
  &_arrow {
    margin-left: 5px;
    transition: all 0.35s ease;
    flex-shrink: 0;
    path {
      fill: currentColor;
    }
    &_dark {
      path {
        fill: map-get($general-color, 'general-black-100');
      }
    }
    &_light {
      path {
        fill: map-get($general-color, 'general-white-100');
      }
    }
    &_secondary {
      path {
        fill: map-get($general-color, 'general-grey-100');
      }
    }
    &_tertiary {
      path {
        fill: map-get($general-color, 'general-grey-90');
      }
    }
    &_active {
      path {
        fill: map-get($general-color, 'general-violet-90');
      }
    }
    &_active-hover {
      path {
        fill: map-get($general-color, 'general-violet-100');
      }
    }
    &_checked {
      transform: rotate(180deg);
    }
  }
  &_text {
    // color: currentColor;
  }
  &_active {
    // border: 1px solid map-get($general-color, 'general-blue-10');
    border: 1px solid map-get($general-color, 'general-grey-100');
  }
  &.success {
    border: 1px solid map-get($extra-color, 'extra-green-90');
    color: map-get($extra-color, 'extra-green-90');
    &:hover,
    &:focus {
      border: 1px solid map-get($extra-color, 'extra-green-90');
    }
  }
  &.warning {
    border: 1px solid map-get($extra-color, 'extra-yellow-90');
    color: map-get($extra-color, 'extra-yellow-90');
    &:hover,
    &:focus {
      border: 1px solid map-get($extra-color, 'extra-yellow-90');
    }
  }
  &.error {
    border: 1px solid map-get($extra-color, 'extra-red-90');
    color: map-get($extra-color, 'extra-red-90');
    &:hover,
    &:focus {
      border: 1px solid map-get($extra-color, 'extra-red-90');
    }
  }
  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
    border: 1px solid map-get($general-color, 'general-grey-90');
    &::placeholder {
      color: map-get($general-color, 'general-grey-100');
    }
    &:hover {
      border: 1px solid map-get($general-color, 'general-grey-90');
      &::placeholder {
        color: map-get($general-color, 'general-grey-100');
      }
    }
  }
  &.no_border,
  &.no_border:hover,
  &.no_border:focus {
    border: none;
  }
}

.list {
  min-width: 170px;
  max-height: 200px;
  width: 100%;
  // overflow: scroll; (Temporarily disabled for tesing purposes)
  overflow: auto;
  list-style: none;
  background: map-get($general-color, 'general-white-100');
  box-shadow: 0 10px 30px rgba(192, 196, 205, 0.3);
  padding: 8px 10px;
  margin-top: 4px;
  border-radius: $border-radius-default;
  transition: $transition-default;
  position: absolute;
  animation: SelectTop 0.5s ease;
  &.top-left {
    bottom: calc(100% + 10px);
    left: 0;
    animation: SelectBottom 0.5s ease;
  }
  &.top-right {
    bottom: calc(100% + 10px);
    right: 0;
    animation: SelectBottom 0.5s ease;
  }
  &.right-top {
    top: 0;
    left: calc(100% + 20px);
    animation: SelectLeft 0.5s ease;
  }
  &.right-bottom {
    bottom: 0;
    left: calc(100% + 20px);
    animation: SelectLeft 0.5s ease;
  }
  &.bottom-right {
    top: calc(100% + 10px);
    right: 0;
    animation: SelectTop 0.5s ease;
  }
  &.bottom-left {
    top: calc(100% + 10px);
    left: 0;
    animation: SelectTop 0.5s ease;
  }
  &.left-bottom {
    bottom: 0;
    right: calc(100% + 20px);
    animation: SelectRight 0.5s ease;
  }
  &.left-top {
    top: 0;
    right: calc(100% + 20px);
    animation: SelectRight 0.5s ease;
  }
  z-index: 10;
  &_item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 8px;
    border-radius: $border-radius-default;
    transition: $transition-default;
    user-select: none;
    @include font-caption-regular;
    &:not(:last-of-type) {
      margin-bottom: 4px;
    }
    &_main {
      color: map-get($general-color, 'general-black-100');
      display: flex;
      align-items: center;
      transition: inherit;
    }
    &_secondary {
      color: map-get($general-color, 'general-grey-100');
      transition: inherit;
    }
    &:hover {
      background: map-get($general-color, 'general-grey-10');
      .list_item_main {
        color: map-get($general-color, 'general-violet-90');
      }
    }
    &_active {
      background: map-get($general-color, 'general-grey-20');
      color: map-get($general-color, 'general-violet-100');
      &:hover {
        background: map-get($general-color, 'general-grey-20');
        color: map-get($general-color, 'general-violet-100');
      }
    }
    svg {
      margin-right: 10px;
    }
  }
}

@keyframes SelectLeft {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
}
@keyframes SelectRight {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
}
@keyframes SelectBottom {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
}
@keyframes SelectTop {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
}
