@import "../../../../../../src/assets/styles/variables";
@import "../../../../../../src/assets/styles/colors/generalcolors";
@import '../../../../../../src/assets/styles/fonts';

.rangeDatepickerWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 320px;

  & .presetsWrapper {
    display: flex;
    flex-direction: column;

    gap: 16px;

    & .tabsContainer {
      display: flex;
      justify-content: center;

      .tabsWrapper {
        display: inline-flex;
        overflow: hidden;
        height: 32px;
        border: 1px solid map-get($general-color, 'general-violet-90');
        border-radius: $border-radius-default;

      }

      & .tabItem {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 32px;
        min-width: 110px;
        padding: 8px;
        transition: $transition-default;
        cursor: pointer;

        color: map-get($general-color, 'general-violet-90');
        @include font-caption-regular;

        &.active {
          background: map-get($general-color, 'general-violet-90');
          color: map-get($general-color, 'general-white-100');
        }
      }
    }
  }
}
