@import '../../../../../assets/styles/colors';

.card {
  width: 148px;
  height: 88px;
  transition: $transition-default;
  color: map-get($general-color, 'general-grey-100');
  background: map-get($general-color, 'general-grey-10');
  border-radius: $border-radius-default;
  padding: 12px 8px 12px 12px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  .title {
    margin-top: 8px;
  }
  &:hover {
    color: map-get($general-color, 'general-violet-100');
    background: map-get($general-color, 'general-blue-10');
  }
}
