@import '../../../../assets/styles/colors';

.container {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  max-width: 645px;
  width: 100%;
  background: map-get($general-color, 'general-grey-10');
  border-radius: $border-radius-default;
  margin-top: 4px;
  & .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & .description {
    &:first-of-type {
      margin-top: 10px;
    }
  }
}
