@import '../../../../assets/styles/colors';

$background: 4px solid map-get($general-color, 'general-white-100');
$element: 4px solid map-get($general-color, 'general-violet-90');

.loading {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-top: $element;
  border-right: $background;
  border-bottom: $background;
  border-left: $background;
  animation: rotate 1.5s linear infinite;
  // @for $i from 4 through 25 {
  //   $value: $i * 4;
  //   &.width_#{$value} {
  //     $size: #{$value}px;
  //     width: $size;
  //     height: $size;
  //   }
  // }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
