@import '../../../../assets/styles/colors';

.wrapper {
  display: inline-flex;
  overflow: hidden;
  height: 32px;
  border: 1px solid map-get($general-color, 'general-violet-90');
  border-radius: $border-radius-default;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 110px;
  padding: 8px;
  color: map-get($general-color, 'general-violet-90');
  transition: $transition-default;
  cursor: pointer;
  &.active {
    background: map-get($general-color, 'general-violet-90');
    .text {
      color: map-get($general-color, 'general-white-100');
    }
  }
}
