@import '../../../../../../assets/styles/colors';

.success {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: map-get($general-color, 'general-violet-90');
}
.file {
  position: relative;
  .filetype {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 32px;
  }
}
