@import '../../../../assets/styles/colors';

.counter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  height: 32px;
  border-radius: 12px;
  padding: 0 16px;
  background: map-get($general-color, 'general-violet-10');
  &.expired {
    background: rgba(map-get($extra-color, 'extra-red-90'), 0.5);
  }
}
