@import '../../../../../assets/styles/colors';

.component {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .swapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: map-get($general-color, 'general-grey-10');
    border-radius: 50%;
    transition: $transition-default;
    z-index: 1;
    .icon {
      transition: $transition-default;
      color: map-get($general-color, 'general-black-90');
    }
    &.active {
      background: map-get($general-color, 'general-blue-10');
      .icon {
        color: map-get($general-color, 'general-violet-90');
      }
    }
  }
  .line {
    position: absolute;
    z-index: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    height: 100%;
    width: 1px;
    background: map-get($general-color, 'general-grey-20');
  }
}
