@import '../../../assets/styles/colors';

.component {
  display: flex;
  margin-top: 10px;
  height: 60px;
  & .container {
    max-width: 300px;
    border-radius: 4px;
    flex-grow: 1;
    height: 60px;
    background: map-get($general-color, 'general-grey-10');
    padding: 16px;
    margin-right: 10px;
  }
  & .action {
    background: map-get($general-color, 'general-grey-10');
    border-radius: 4px;
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    & svg path {
      transition: $transition-default;
      fill: map-get($general-color, 'general-grey-100');
    }
    &:hover {
      & svg path {
        fill: map-get($general-color, 'general-black-100');
      }
    }
  }
}
