.group {
  display: flex;
  align-items: center;
  flex-grow: 1;
  &.margin {
    &_big {
      &.left {
        & > *:not([data-vertical='true']) {
          margin-right: 20px;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
      &.center {
        & > *:not([data-vertical='true']) {
          margin-right: 20px;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
      &.right {
        & > *:not([data-vertical='true']) {
          margin-left: 20px;
          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }
    &_small {
      &.left {
        & > *:not([data-vertical='true']) {
          margin-right: 10px;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
      &.center {
        & > *:not([data-vertical='true']) {
          margin-right: 10px;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
      &.right {
        & > *:not([data-vertical='true']) {
          margin-left: 10px;
          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }
  }
  &.margin {
    &_big,
    &_small {
      &.nospace {
        & > *:not([data-vertical='true']) {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
  &.left {
    justify-content: flex-start;
  }
  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: flex-end;
  }
  &.full {
    width: 100%;
    max-width: 100%;
  }
}
