@import '../../../assets/styles/colors';

.button {
  display: flex;
  align-items: center;
  min-width: 215px;
  padding: 12px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: $transition-default;
  & .icon {
    width: 16px;
    height: 16px;
    font-size: 0;
    margin-right: 10px;
    svg path {
      transition: all 0.2s linear;
      fill: map-get($general-color, 'general-grey-100');
    }
  }
  &:hover {
    background: map-get($general-color, 'general-grey-10');
    & .text {
      color: map-get($general-color, 'general-black-100');
    }
    & .icon svg path {
      fill: map-get($general-color, 'general-black-100');
    }
  }
}
