@import '../../../../assets/styles/colors.scss';

.component {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 16px 24px;
  position: relative;
  &:hover {
    background: map-get($general-color, 'general-violet-10');
  }
  & .dot {
    &::before {
      visibility: visible;
      width: 8px;
      height: 8px;
      background: map-get($general-color, 'general-violet-90');
      border-radius: 30px;
      cursor: pointer;
      content: '';
      position: absolute;
      top: 33px;
      left: 16px;


    }
    &:hover::before {
      border: 1px solid map-get($general-color, 'general-white-100');
      outline: 2px solid map-get($general-color, 'general-violet-100');
    }
  }
  & .hide_dot {
    &::before {
      visibility: hidden;
    }
  }
}