@import '../../../../assets/styles/colors';

.item {
  min-width: 268px;
  max-height: 52px;
  cursor: pointer;
  padding: 6px 40px 6px 10px;
  margin-bottom: 6px;
  border-radius: $border-radius-default;
  transition: $transition-default;

  & .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: map-get($general-color, 'general-grey-10');
    border-radius: $border-radius-default;
    transition: $transition-default;
    display: flex;
    justify-content: center;
    align-items: center;
    svg path {
      fill: map-get($general-color, 'general-grey-90');
    }
  }
  &:hover {
    background: map-get($general-color, 'general-grey-10');
    & .logo {
      background: map-get($general-color, 'general-white-100');
    }
  }
}
