@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/grid';

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 24px;
  @include justify-content;
  @include gap;
  &.direction {
    &_normal {
      flex-direction: row;
    }
    &_reverse {
      flex-direction: row-reverse;
    }
  }
  &.background {
    &_white-100 {
      background: map-get($general-color, 'general-white-100');
    }
    &_grey-10 {
      background: map-get($general-color, 'general-grey-10');
    }
  }
  &.border {
    border-top: 1px solid map-get($general-color, 'general-grey-20');
  }
}
