@import '../../../../../assets/styles/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 160px;
  align-items: center;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 30px;
    transition: $transition-default;
    background: map-get($general-color, 'general-white-100');
    border: 1px solid map-get($general-color, 'general-grey-20');
  }
  .text {
    margin-top: 16px;
  }
  &.active {
    cursor: pointer;
    color: map-get($general-color, 'general-grey-100');
    &:hover {
      color: map-get($general-color, 'general-violet-90');
      .container {
        background: map-get($general-color, 'general-blue-10');
        border: 1px solid map-get($general-color, 'general-blue-10');
      }
    }
  }
  &.disabled {
    color: map-get($general-color, 'general-grey-90');
    cursor: not-allowed;
  }
}
