@import '../../../../assets/styles/colors';

.button {
  display: flex;
  align-items: center;
  padding: 12px 8px;
  border-radius: $border-radius-default;
  cursor: pointer;
  transition: $transition-default;

  gap: 10px;

  &.size {
    &_auto {
      min-width: auto;
    }
    &_160 {
      min-width: 160px;
    }
    &_204 {
      min-width: 204px;
    }
    &_224 {
      min-width: 224px;
    }
  }

  & .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;
    font-size: 0;
    svg path {
      transition: all 0.2s linear;
      fill: map-get($general-color, 'general-grey-100');
    }
  }

  & .text {
    flex: 1 1 auto;
    min-width: 0;
  }

  & .dropIcon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;
    svg path {
      transition: all 0.2s linear;
      fill: map-get($general-color, 'general-grey-100');
    }
  }

  &:hover {
    & .text {
      color: map-get($general-color, 'general-violet-90');
    }
    & .icon svg path {
      fill: map-get($general-color, 'general-violet-90');
    }
  }
  &.default {
    &:hover {
      background: map-get($general-color, 'general-blue-10');
      & .text {
        color: map-get($general-color, 'general-violet-90');
      }
      & .icon svg path {
        fill: map-get($general-color, 'general-violet-90');
      }
    }
  }
  &.danger {
    &:hover {
      background: map-get($extra-color, 'extra-red-10');
      & .text {
        color: map-get($extra-color, 'extra-red-90');
      }
      & .icon svg path {
        fill: map-get($extra-color, 'extra-red-90');
      }
    }
  }
  // Disabled button
  &.disabled {
    color: map-get($general-color, 'general-grey-90');
    cursor: not-allowed;

    & .text {
      color: map-get($general-color, 'general-grey-90');
    }

    & .icon {
      svg path {
        fill: map-get($general-color, 'general-grey-90');
      }
    }
    &:hover {
      background: transparent;
      & .text {
        color: map-get($general-color, 'general-grey-90');
      }

      & .icon svg path {
        fill: map-get($general-color, 'general-grey-90');
      }
    }
  }
}
