@import '../styles/colors/generalcolors';
@import '../styles/transitions';
@import '../styles/variables';

.react-datepicker {
  &-popper {
    z-index: 10;

    &__width {
      &-260 {
        width: 260px;
      }

      &-300 {
        width: 300px;
      }

      &-320 {
        width: 320px;
      }

      &-408 {
        width: 408px;
      }
    }

    & > div {
      width: 260px;
      margin-left: auto;
      margin-right: auto;
    }

    & :local {
      animation: calendarAnimation 0.25s ease;
    }

    &[data-placement^='bottom'] {
      padding-top: 10px;
    }

    &[data-placement^='top'] {
      padding-bottom: 10px;
    }

    &[data-placement^='right'] {
      padding-left: 8px;
    }

    &[data-placement^='left'] {
      padding-right: 8px;
    }
  }
}

.react-datepicker--time-only {
  .react-datepicker__time-container {
    border-left: 0;
  }

  .react-datepicker__time,
  .react-datepicker__time-box {
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

.react-datepicker__header {
  text-align: center;
  background-color: map-get($general-color, 'general-grey-10');
  border-top-left-radius: $border-radius-default;
  padding-top: 0;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;

  &--time {
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;

    &:not(&--only) {
      border-top-left-radius: 0;
    }
  }

  &:not(&--has-time-select) {
    border-top-right-radius: $border-radius-default;
  }
}

.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 0.8rem * 1.18;
}

.react-datepicker-time__header {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.react-datepicker__navigation {
  align-items: center;
  background: none;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  padding-left: 7px;
  padding-right: 7px;
  border: none;
  z-index: 1;
  height: 32px;
  width: 32px;
  overflow: hidden;
  font-size: 0;
  transition: $transition-default;
  border-radius: 6px;
  outline: none;

  &:active,
  &:focus {
    outline: none;
  }

  &--previous {
    left: 22px;
  }

  &--next {
    right: 22px;

    &--with-time:not(&--with-today-button) {
      right: 85px;
    }
  }

  &--years {
    position: relative;
    width: 100%;
    top: 0;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
      height: 16px;
      text-indent: unset;
    }

  }
}

.react-datepicker__navigation-icon {
  position: relative;
  width: 100%;
  height: 100%;

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: inherit;
    width: 16px;
    height: 16px;
    text-indent: unset;
  }

  &--previous {
    &:after {
      content: url(../../../../assets/svg/v2/16/arrow-left.svg);
    }
  }

  &--next {
    &:after {
      content: url(../../../../assets/svg/16/arrow-right.svg);
    }
  }

  &--disabled,
  &--disabled:hover {
    cursor: not-allowed;
  }
}

.react-datepicker__year {
  margin: 0.4rem;
  text-align: center;

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 180px;
  }

  .react-datepicker__year-text {
    display: inline-block;
    width: 4rem;
    margin: 2px;
  }
}

.react-datepicker__month {
  .react-datepicker__month-text,
  .react-datepicker__quarter-text {
    display: inline-block;
    width: 4rem;
    margin: 2px;
  }
}

.react-datepicker__input-time-container {
  width: 100%;
  margin: 5px 0 10px 15px;
  text-align: left;

  .react-datepicker-time__caption {
    display: inline-block;
  }

  .react-datepicker-time__input-container {
    display: inline-block;

    .react-datepicker-time__input {
      display: inline-block;
      margin-left: 10px;

      input {
        width: auto;
      }

      input[type='time']::-webkit-inner-spin-button,
      input[type='time']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type='time'] {
        -moz-appearance: textfield;
      }
    }

    .react-datepicker-time__delimiter {
      margin-left: 5px;
      display: inline-block;
    }
  }
}

.react-datepicker__time-container {
  border-left: 1px solid #aeaeae;
  width: 85px;

  &--with-today-button {
    display: inline;
    border: 1px solid #aeaeae;
    border-radius: 0.3rem;
    position: absolute;
    right: -72px;
    top: 0;
  }

  .react-datepicker__time {
    position: relative;
    background: white;
    border-bottom-right-radius: 0.3rem;

    .react-datepicker__time-box {
      width: 85px;
      overflow-x: hidden;
      margin: 0 auto;
      text-align: center;
      border-bottom-right-radius: 0.3rem;

      ul.react-datepicker__time-list {
        list-style: none;
        margin: 0;
        height: calc(195px + (1.7rem / 2));
        overflow-y: scroll;
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        box-sizing: content-box;

        li.react-datepicker__time-list-item {
          height: 30px;
          padding: 5px 10px;
          white-space: nowrap;

          &:hover {
            cursor: pointer;
            background-color: map-get($general-color, 'general-white-100');
          }

          &--selected {
            background-color: map-get($general-color, 'general-violet-90');
            color: white;
            font-weight: bold;

            &:hover {
              background-color: map-get($general-color, 'general-violet-90');
            }
          }

          &--disabled {
            color: #ccc;

            &:hover {
              cursor: default;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

.react-datepicker__week-number {
  color: #ccc;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;

  &.react-datepicker__week-number--clickable {
    cursor: pointer;

    &:hover {
      border-radius: $border-radius-default;
      background-color: map-get($general-color, 'general-white-100');
    }
  }
}

.react-datepicker__day-names,
.react-datepicker__week {
  white-space: nowrap;
}

.react-datepicker__time-name {
  color: #000;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
}

.react-datepicker__month,
.react-datepicker__quarter {
  &--selected,
  &--in-selecting-range,
  &--in-range {
    border-radius: $border-radius-default;
    background-color: map-get($general-color, 'general-violet-90');
    color: #fff;

    &:hover {
      background-color: darken(map-get($general-color, 'general-violet-90'), 5%);
    }
  }

  &--disabled {
    color: #ccc;
    pointer-events: none;

    &:hover {
      cursor: default;
      background-color: transparent;
    }
  }
}

.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
  cursor: pointer;

  &:hover {
    border-radius: $border-radius-default;
    background-color: map-get($general-color, 'general-white-100');
  }

  &--today {
    font-weight: bold;
  }

  &--highlighted {
    border-radius: $border-radius-default;
    background-color: map-get($extra-color, 'extra-green-90');
    color: #fff;

    &:hover {
      background-color: darken(map-get($extra-color, 'extra-green-90'), 5%);
    }
  }

  &--selected,
  &--in-selecting-range,
  &--in-range {
    border-radius: $border-radius-default;
    background-color: map-get($general-color, 'general-violet-90');
    color: #fff;

    &:hover {
      background-color: darken(map-get($general-color, 'general-violet-90'), 5%);
    }
  }

  &--keyboard-selected {
    border-radius: $border-radius-default;
    background-color: lighten(map-get($general-color, 'general-violet-90'), 10%);
    color: #fff;

    &:hover {
      background-color: darken(map-get($general-color, 'general-violet-90'), 5%);
    }
  }

  &--in-range:not(&--in-selecting-range) {
    .react-datepicker__month--selecting-range & {
      background-color: map-get($general-color, 'general-white-100');
      color: #000;
    }
  }

  &--disabled {
    cursor: default;
    color: #ccc;

    &:hover {
      background-color: transparent;
    }
  }
}

.react-datepicker__month-text,
.react-datepicker__quarter-text {
  &.react-datepicker__month--selected,
  &.react-datepicker__month--in-range,
  &.react-datepicker__quarter--selected,
  &.react-datepicker__quarter--in-range {
    &:hover {
      background-color: map-get($general-color, 'general-violet-90');
    }
  }

  &:hover {
    background-color: map-get($general-color, 'general-white-100');
  }
}

.react-datepicker__input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.react-datepicker__year-read-view,
.react-datepicker__month-read-view,
.react-datepicker__month-year-read-view {
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

// Hides not clickable month and year in header
.react-datepicker__current-month {
  display: none;
}

.react-datepicker__aria-live {
  display: none;
}

// Hides not clickable month and year in header
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  display: none;
}

.react-datepicker {
  &-wrapper {
    display: inline-block;
    padding: 0;
    border: 0;
    width: 100%;
  }
}

.react-datepicker {
  display: inline-block;
  position: relative;
  width: 260px;
  font-family: 'Inter', sans-serif;
  background-color: map-get($general-color, 'general-white-100');
  border-radius: 10px;

  &_inline {
    .react-datepicker__header {
      background-color: map-get($general-color, 'general-white-100');
    }
  }

  &_dropdown {
    box-shadow: 0 0 4px rgba(94, 94, 94, 0.2);

    .react-datepicker__header {
      background-color: map-get($general-color, 'general-grey-10');
    }
  }
}

.react-datepicker {
  &__header {
    &__dropdown {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.react-datepicker {
  &__year {
    &-dropdown {
      &-container {
        display: flex;
      }
    }
  }
}

.react-datepicker {
  &__month {
    margin: 8px 12px;

    &-container {
      width: 100%;
    }

    &-dropdown {
      &-container {
        display: flex;
      }
    }
  }
}

.react-datepicker {
  &__week {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2px;
  }
}

.react-datepicker {
  &__day {
    width: 30px;
    height: 30px;
    border: 3px solid transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    transition: $transition-default;
    cursor: pointer;
    user-select: none;
    outline: none;

    &:hover:not(.react-datepicker__day--selected):not(.react-datepicker__day--range-end):not(.react-datepicker__day--range-start) {
      background-color: map-get($general-color, 'general-grey-20');
      color: map-get($general-color, 'general-violet-90');
    }

    &:focus {
      outline: none;
    }

    &--today {
      font-weight: 700;
      color: map-get($general-color, 'general-violet-90');

      &:hover {
        color: map-get($general-color, 'general-violet-100');
      }
    }

    &--outside-month {
      color: rgba(map-get($general-color, 'general-grey-100'), 0.6);

      &:hover {
        color: rgba(map-get($general-color, 'general-violet-90'), 0.6);
      }
    }

    &--selected,
    &--in-range {
      background-color: map-get($general-color, 'general-violet-90');
      color: map-get($general-color, 'general-white-100');

      &:hover {
        background-color: map-get($general-color, 'general-violet-100');
        color: map-get($general-color, 'general-white-100');
      }
    }

    &--range-start:not(.react-datepicker__day--range-end) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &--range-end:not(.react-datepicker__day--range-start) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &--range-start,
    &--range-end {
      background-color: map-get($general-color, 'general-violet-90');
      color: map-get($general-color, 'general-white-100');
    }

    &--in-selecting-range {
      background-color: transparent;
      color: map-get($general-color, 'general-black-100');
    }

    &--selecting-range-start,
    &--selecting-range-end {
      background-color: map-get($general-color, 'general-violet-90');
      color: map-get($general-color, 'general-white-100');
      border-radius: 5px;
      border: 3px solid transparent;
      outline: none;

      &:hover {
        border-radius: $border-radius-default;
      }
    }

    &--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end) {
      border-radius: 0;
      background: map-get($general-color, 'general-blue-10');
      color: map-get($general-color, 'general-violet-90');
      border: 3px solid map-get($general-color, 'general-blue-10');
      outline: 0;
    }

    &--highlighted {
      background-color: map-get($extra-color, 'extra-green-90');
      color: #fff;

      &:hover {
        background-color: darken(map-get($extra-color, 'extra-green-90'), 5%);
      }
    }

    &--keyboard-selected {
      outline: 1px solid map-get($general-color, 'general-violet-90');
    }

    &--in-selecting-range:not(&--in-range):has(.react-datepicker__day--selecting-range-end) {
      border-radius: 0;
      background-color: transparent;
      color: map-get($general-color, 'general-black-100');
      outline: 0;

      &:focus {
        outline: 0;
      }
    }

    &--in-range:not(&--in-selecting-range) {
      .react-datepicker__month--selecting-range & {
        background-color: map-get($general-color, 'general-white-100');
        color: map-get($general-color, 'general-black-100');
      }
    }

    &--disabled {
      cursor: not-allowed;
      color: map-get($general-color, 'general-grey-90');

      &:hover {
        background-color: transparent;
        color: map-get($general-color, 'general-grey-90');
      }
    }
  }
}

.react-datepicker {
  &__day-names {
    display: flex;
    justify-content: center;
  }
}

.react-datepicker {
  &__day-name {
    user-select: none;
    color: rgba(map-get($general-color, 'general-grey-100'), 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 14px;
  }
}

.react-datepicker {
  &__input {
    &_height {
      &-36 {
        height: 36px;
        font-size: 12px;
        line-height: 16px;

        &:hover {
          background: map-get($general-color, 'general-grey-20');
        }
      }

      &-48 {
        height: 48px;
        padding-right: 16px;
        padding-top: 16px;
        font-size: 14px;
        line-height: 28px;

        &:hover {
          background: map-get($general-color, 'general-grey-20');
        }

        &::placeholder {
          opacity: 0;
        }
      }
    }

    width: 100%;
    padding-left: 42px;
    border-radius: $border-radius-default;
    border: 1px solid map-get($general-color, 'general-grey-20');
    background-color: map-get($general-color, 'general-grey-10');
    transition: $transition-default;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    cursor: pointer;

    &:active,
    &:visited,
    &:focus {
      outline: 0;
      cursor: text;
    }

    &::placeholder {
      color: map-get($general-color, 'general-grey-100');
      user-select: none;
      transition: $transition-default;
    }

    &:focus {
      border: 1px solid map-get($general-color, 'general-violet-90');

      &::placeholder {
        color: map-get($general-color, 'general-grey-90');
        opacity: 1;
      }
    }

    &-disabled {
      cursor: not-allowed;
      color: map-get($general-color, 'general-grey-90');

      &:hover,
      &:focus {
        cursor: not-allowed;
      }
    }

    &-readonly {
      cursor: not-allowed;
      border: 1px solid map-get($general-color, 'general-grey-10');
      color: map-get($general-color, 'general-black-100');

      &:hover,
      &:focus {
        cursor: not-allowed;
        border: 1px solid map-get($general-color, 'general-grey-10');
      }
    }

    &-error {
      border: 1px solid map-get($extra-color, 'extra-red-10');
      background: map-get($extra-color, 'extra-red-10');
      color: map-get($extra-color, 'extra-red-90');

      &::placeholder {
        color: map-get($extra-color, 'extra-red-20');
      }

      &:hover {
        background: map-get($extra-color, 'extra-red-10');
      }

      &:focus {
        border: 1px solid map-get($extra-color, 'extra-red-20');
        background: map-get($extra-color, 'extra-red-10');
        color: map-get($extra-color, 'extra-red-90');

        &::placeholder {
          color: map-get($extra-color, 'extra-red-20');
        }
      }
    }
  }
}

// header month and year selector
.react-datepicker__month-read-view--selected-month,
.react-datepicker__year-read-view--selected-year {
  display: block;
  user-select: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: map-get($general-color, 'general-black-100');
  transition: background-color 0.25s ease;
  border-radius: 5px;
  background-color: transparent;
  padding: 8px 4px;

  &:hover {
    background-color: map-get($general-color, 'general-grey-20');
  }
}

.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown,
.react-datepicker__month-year-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: map-get($general-color, 'general-white-100');
  border-radius: $border-radius-default;
  padding: 30px;
  box-shadow: 0 0 4px rgba(94, 94, 94, 0.2);

  & :local {
    animation: calendarAnimation 0.25s ease;
  }
}

.react-datepicker__year-option,
.react-datepicker__month-option,
.react-datepicker__month-year-option {
  width: 60px;
  height: 32px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  transition: background-color 0.25s ease, color 0.25s ease;

  &:hover {
    color: map-get($general-color, 'general-violet-90');
    background-color: map-get($general-color, 'general-grey-20');
  }

  &--selected {
    display: none;

    &_month,
    &_year {
      color: map-get($general-color, 'general-violet-90');
    }
  }
}

.react-datepicker__year-dropdown {
  flex-wrap: wrap-reverse;
  direction: rtl;
}

.react-datepicker__year-option {
  &:first-child,
  &:last-child {
    width: 50%;
  }
}

.react-datepicker__year-option {
  &:first-child {
    order: 1;
  }
}

.react-datepicker__year-option {
  &:last-child {
    order: 2;
  }
}
