@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/grid';

.row {
  display: none;
  &.visible {
    display: flex;
  }
  justify-content: space-between;
  align-items: center;
  height: 60px;
  transition: $transition-default;
  &.type {
    &_primary {
      background: map-get($general-color, 'general-grey-10');
      position: relative;
      border-radius: $border-radius-default;
      &:before {
        position: absolute;
        content: '';
        width: 2px;
        height: 50%;
        background: map-get($general-color, 'general-violet-90');
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        transition: $transition-default;
        opacity: 0;
        z-index: 1;
      }
      &.active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &_secondary,
    &_tertiary {
      background: map-get($general-color, 'general-white-100');
    }
    &_secondary {
      &:not(:first-of-type) {
        border-top: 1px solid map-get($general-color, 'general-grey-20');
      }
    }
  }
  .button {
    z-index: 1;
    background: inherit;
    .control {
      transition: transform 0.6s ease;
      transform: rotateX(180deg);
      &.opened {
        transform: rotateX(0deg);
      }
    }
  }
}

.cell {
  background: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-default;
  transition: $transition-default;
  border: 1px solid transparent;
  overflow: hidden;
  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  &:hover {
    border: 1px solid map-get($general-color, 'general-grey-20');
    .row {
      &.type {
        &_primary {
          background: map-get($general-color, 'general-violet-10');
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
  &.active {
    border: 1px solid map-get($general-color, 'general-grey-20');

    &:hover {
      border: 1px solid map-get($general-color, 'general-violet-20');
    }
  }
}

.connector {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  &:before,
  &:after {
    position: absolute;
    content: '';
  }
  &:before {
    bottom: 16px;
    right: 16px;
    width: 1px;
    height: 48px;
    background: map-get($general-color, 'general-grey-20');
  }
  &:after {
    bottom: -3px;
    right: -11px;
    width: 28px;
    height: 20px;
    border-bottom: 1px solid map-get($general-color, 'general-grey-20');
    border-left: 1px solid map-get($general-color, 'general-grey-20');
    border-radius: 0px 0px 0px 10px;
  }
}
