@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/inputWidth';
@import 'mixins';

.inputWrapper {
  transition: $transition-default;
  border-radius: $border-radius-default;
  position: relative;
  overflow: hidden;

  width: 100%;
  @include inputWidth;

  @include height;
  @include min-height;

  @include focused;

  border: 1px solid map-get($general-color, 'general-grey-20');

  &.background {
    &_grey-10 {
      background: map-get($general-color, 'general-grey-10');
    }

    &_white-100 {
      background: map-get($general-color, 'general-white-100');
    }

    &_transparent {
      background: transparent;
      border: transparent;
    }
  }

  &.hovered {
    background: map-get($general-color, 'general-grey-20');

    .input,
    .label,
    .placeholder,
    .symbol {
      color: map-get($general-color, 'general-violet-90');
    }
  }

  &.focus {
    border: 1px solid map-get($general-color, 'general-violet-90');
  }

  &.focus.autoResizable {
    width: 100%;
  }

  &.disabled {
    cursor: not-allowed !important;
    border-color: map-get($general-color, 'general-grey-20');
  }

  &.view {
    cursor: auto !important;
    border-color: map-get($general-color, 'general-grey-10');
  }

  &.error {
    border: 1px solid map-get($extra-color, 'extra-red-10');
    background: map-get($extra-color, 'extra-red-10');

    &.focus {
      border: 1px solid map-get($extra-color, 'extra-red-20');
    }
  }

  display: flex;
  justify-content: space-between;
}

.innerTooltip {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  word-break: break-all;
  height: max-content;
}
