@mixin height {
  padding: 4px 16px;

  &.height {
    &_24 {
      height: 24px;
      padding: 6px 0;
    }

    &_28 {
      height: 28px;
      padding: 6px 8px;
    }

    &_36 {
      height: 36px;
      padding: 2px 8px;
    }

    &_48 {
      height: 48px;
      padding: 4px 16px;
    }
  }
}

@mixin min-height {
  &.minHeight {
    &_48 {
      min-height: 48px;
      padding: 0 16px;
    }

    &_88 {
      min-height: 88px;
    }

    &_128 {
      min-height: 128px;
    }

    &_134 {
      min-height: 134px;
    }

    &_155 {
      min-height: 155px;
    }
  }
}

@mixin focused {
  &.focused {
    border: 1px solid map-get($general-color, 'general-violet-90');
  }
}
