@import '../../../../../assets/styles/colors';

.wrapper {
  color: map-get($general-color, 'general-black-100');
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;

  .icon {
    transition: all 0.25s ease;
  }
  &:hover {
    color: map-get($general-color, 'general-violet-90');
  }
  &.active {
    color: map-get($general-color, 'general-violet-90');
    &:hover {
      color: map-get($general-color, 'general-violet-100');
    }
    .icon {
      transform: rotate(180deg);
    }
  }
}

.list {
  max-height: 192px;
  scrollbar-gutter: auto;
  padding: 8px;
}
