@import '../../../assets/styles/colors';

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 16px;
}
.component {
  display: flex;
  gap: 6px;
  align-items: center;
  min-height: 24px;

  & .itemNameContainer {
    padding: 4px;
    background: map-get($general-color, 'general-grey-20');
    border-radius: 8px;
  }

  & .collapseBtnContainer {
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;

    .badge {
      position: absolute;
      content: '';
      top: -3px;
      right: -11px;

      width: 12px;
      height: 12px;
      border-radius: 50%;

      background: map-get($general-color, 'general-violet-90');
      border: 1px solid map-get($general-color, 'general-white-100');
    }
  }
}

.group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 16px;

  .groupContainer:first-child {
    display: flex;
    .groupTitle {
      display: flex;
      align-items: center;
      position: relative;
    }
  }
  .groupContainer:not(:first-child) {
    display: none;
  }

  .connector {
    position: relative;
    display: block;
    bottom: 8px;
    left: -5px;
    width: 15px;
    height: 18px;
    border-bottom: 1px solid map-get($general-color, 'general-grey-90');
    border-left: 1px solid map-get($general-color, 'general-grey-90');
    border-radius: 0 0 0 10px;
  }

  .component + .component {
    margin-left: 1em;
  }
}