@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';

.wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  gap: 8px;
  @include text-colors-new;

  &.type {
    &_h1-bold {
      @include font-h1-bold;
    }
    &_h1-semibold {
      @include font-h1-semibold;
    }
    &_h2-bold {
      @include font-h2-bold;
    }
    &_h2-semibold {
      @include font-h2-semibold;
    }
    &_title-bold {
      @include font-title-bold;
    }
    &_title-semibold {
      @include font-title-semibold;
    }
    &_title-regular {
      @include font-title-regular;
    }
    &_body-medium {
      @include font-body-medium;
    }
    &_body-regular-16 {
      @include font-body-regular-16;
    }
    &_body-regular-14 {
      @include font-body-regular-14;
    }
    &_button {
      @include font-button;
    }
    &_caption-uppercase {
      @include font-caption-uppercase;
    }
    &_caption-bold {
      @include font-caption-bold;
    }
    &_caption-semibold {
      @include font-caption-semibold;
    }
    &_caption-regular {
      @include font-caption-regular;
    }
    &_text-medium {
      @include font-text-medium;
    }
    &_text-regular {
      @include font-text-regular;
    }
    &_subtext-bold {
      @include font-subtext-bold;
    }
    &_subtext-semibold {
      @include font-subtext-semibold;
    }
    &_subtext-medium {
      @include font-subtext-medium;
    }
    &_subtext-regular {
      @include font-subtext-regular;
    }
  }

  .radio {
    display: flex;
    appearance: none;
    cursor: pointer;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    // top: 6px;
    transition: $transition-default;
    // Outer circle
    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: map-get($general-color, 'general-white-100');
      border: 1px solid map-get($general-color, 'general-grey-90');
      transition: inherit;
    }
    // Inner circle
    &:after {
      opacity: 0;
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: map-get($general-color, 'general-white-100');
    }
    &:hover, &.hover {
      &:before {
        border: 1px solid map-get($general-color, 'general-violet-90');
      }
    }
    &:checked {
      &:before {
        background: map-get($general-color, 'general-violet-90');
        border: 1px solid map-get($general-color, 'general-violet-90');
      }
      &:after {
        opacity: 1;
      }
      &:hover, &.hover {
        &:before {
          background: map-get($general-color, 'general-violet-100');
          border: 1px solid map-get($general-color, 'general-violet-100');
        }
      }
    }

    // Focus settings
    &:focus {
      outline: 0;
    }
  }
  // Disabled state
  &.disabled {
    opacity: 0.4;
    &:hover, &.hover {
      &:before {
        border: 1px solid map-get($general-color, 'general-grey-90');
      }
    }
    &:checked {
      &:hover, &.hover {
        &:before {
          background: map-get($general-color, 'general-violet-90');
          border: 1px solid map-get($general-color, 'general-violet-90');
        }
      }
    }
  }
}

.tooltip {
  width: 100%;
  height: 100%;

  align-items: center;
}
