@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/grid';

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  transition: $transition-default;
  cursor: pointer;
  position: relative;
  border: 1px solid transparent;
  flex-shrink: 0;

  &:before {
    position: absolute;
    content: '';
    width: 2px;
    height: 50%;
    background: map-get($general-color, 'general-violet-90');
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: $transition-default;
    opacity: 0;
  }

  // Size settings
  &.size {
    &_auto-104 {
      max-height: 104px;
      align-items: flex-start;

      &.shownAll {
        max-height: 2000px;
      }
    }
    &_auto {
      max-height: 144px;
      align-items: flex-start;

      &.shownAll {
        max-height: 2000px;
      }
    }
    &_28 {
      height: 28px;
    }
    &_36 {
      height: 36px;
    }
    &_40 {
      height: 40px;
    }
    &_52 {
      height: 52px;
    }
    &_60 {
      height: 60px;
    }
  }

  &.gap {
    &_8 {
      margin-bottom: 8px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &.error {
    background: map-get($extra-color, 'extra-red-10');
    &:hover {
      background: map-get($extra-color, 'extra-red-20');
    }
  }
  // Background settings
  &.background {
    &_transparent {
      background: transparent;
    }
    &_info {
      border-bottom: 1px solid map-get($general-color, 'general-grey-20');
      border-radius: 0;
    }
    &_focusActive {
      background: map-get($general-color, 'general-white-100');
      box-shadow: 0px 10px 30px rgba(192, 196, 205, 0.6);
      z-index: 6;
    }

    &_focusActiveOutlined {
      background: map-get($general-color, 'general-white-100');
      border: 1px solid map-get($general-color, 'general-grey-20');
      box-shadow: 0 10px 30px 0 rgba(192, 196, 205, 0.3);
      z-index: 6;
    }
    &_focusDisabled {
      background: transparent;
    }
    &_blue-10 {
      background: map-get($general-color, 'general-blue-10');
    }
    &_grey-10:not(.active) {
      background: map-get($general-color, 'general-grey-10');
      &:hover {
        background: map-get($general-color, 'general-violet-10');
        border: 1px solid map-get($general-color, 'general-violet-20');

        &:before {
          opacity: 1;
        }
      }
    }
    &_white {
      background: map-get($general-color, 'general-white-100');
      &:not(:last-of-type) {
        margin-bottom: 8px;
      }
      &:hover {
        background: map-get($general-color, 'general-violet-10');
        border: 1px solid map-get($general-color, 'general-violet-20');

        &:before {
          opacity: 1;
        }
      }
    }
    &_transparent-with-border {
      background: transparent;
      border-bottom: 1px solid map-get($general-color, 'general-grey-20');
      border-radius: 0;

      &:hover {
        background: map-get($general-color, 'general-violet-10');
      }
    }
  }

  // Cursor settings
  &.cursor {
    &_auto {
      cursor: auto;
    }
    &_pointer {
      cursor: pointer;
    }
  }

  &.overflowY {
    overflow-y: hidden;
  }
}

.old {
  .row {
    // &.gap {
    //   &_0 {
    //     margin-bottom: 0;
    //   }

    // }

    // Background color
    &.primary {
      background: map-get($general-color, 'general-white-100');

      &:hover {
        box-shadow: 0 0 20px rgba(192, 196, 205, 0.2);
      }
    }

    &.secondary {
      background: map-get($general-color, 'general-grey-10');

      &:hover {
        // box-shadow: 0 0 20px rgba(192, 196, 205, .2)
        background: map-get($general-color, 'general-blue-10');
      }
    }

    &.mixed {
      &:hover {
        background: map-get($general-color, 'general-blue-10');
        box-shadow: 0 0 20px rgba(192, 196, 205, 0.2);
      }
    }

    &.expired {
      background: rgba(map-get($extra-color, 'extra-red-90'), 0.15);

      &:hover {
        box-shadow: 0 0 10px rgba(208, 103, 106, 0.15);
      }
    }
  }
}

.collapseBtnWrapper {
  position: absolute;
  bottom: 12px;
  right: 12px;
  transition: $transition-default;

  & > button > span > svg {
    transition: $transition-default;
  }

  &.opened > button > span > svg {
    transform: rotate(180deg);
  }
}

.collapseLinkWrapper {
  position: absolute;
  bottom: 12px;
  right: 12px;
  transition: $transition-default;

  & > span > svg {
    transition: $transition-default;
  }

  &.opened > span > svg {
    transform: rotate(180deg);
  }
}

.active {
  background: map-get($general-color, 'general-white-100');
  border: 1px solid map-get($general-color, 'general-grey-20');
  box-shadow: 0 10px 30px 0 rgba(192, 196, 205, 0.3);
}