@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/inputWidth';

.component {
  position: relative;
  width: 100%;
  transition: $transition-default;
  @include inputWidth;
  &.flexgrow {
    &_0 {
      flex-grow: 0;
    }
    &_1 {
      flex-grow: 1;
    }
  }
}

.wrapper {
  width: 100%;
  position: relative;
  .icon {
    position: absolute;
    right: 16px;
    top: 16px;
    color: map-get($general-color, 'general-grey-100');
  }
  .label {
    position: absolute;
    left: 17px; // 17
    top: 17px; // 17
    font-size: 14px;
    line-height: 14px;
    transition: $transition-default;
    pointer-events: none;
    user-select: none;
    color: map-get($general-color, 'general-grey-100');
    .required {
      color: map-get($extra-color, 'extra-red-90');
    }
  }
  .placeholder {
    position: absolute;
    left: 17px;
    top: 20px;
    pointer-events: none;
    opacity: 0;
  }
  .input {
    width: 100%;
    height: 48px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 32px;
    @include font-body-regular-14;
    border-radius: $border-radius-default;
    transition: $transition-default;
    background: map-get($general-color, 'general-grey-10');
    border: 1px solid map-get($general-color, 'general-grey-20');
    color: map-get($general-color, 'general-black-100');
    &::placeholder {
      color: map-get($general-color, 'general-grey-90');
      user-select: none;
      transition: $transition-default;
    }
    &:active,
    &:visited,
    &:focus {
      outline: 0;
    }
    &.hovered {
      & ~ .label {
        color: map-get($general-color, 'general-violet-90');
      }
      &:not(.focused) {
        // border: 1px solid map-get($general-color, 'general-violet-90');
        & ~ .icon {
          color: map-get($general-color, 'general-violet-90');
        }
      }
    }
    &.focused {
      border: 1px solid map-get($general-color, 'general-violet-90');
      & ~ .placeholder {
        opacity: 1;
      }
      & ~ .label {
        font-size: 12px;
        line-height: 12px;
        top: 6px;
      }
    }
    &.inputActive {
      & ~ .label {
        font-size: 12px;
        line-height: 12px;
        top: 6px;
      }
    }
    &.error {
      border: 1px solid map-get($extra-color, 'extra-red-10');
      background: map-get($extra-color, 'extra-red-10');
      & ~ .icon,
      & ~ .label {
        color: map-get($extra-color, 'extra-red-90');
      }
      &.hovered {
        border: 1px solid map-get($extra-color, 'extra-red-10');
        background: map-get($extra-color, 'extra-red-10');
        & ~ .icon {
          color: map-get($extra-color, 'extra-red-90');
        }
      }
    }

    &.readonly,
    &.disabled {
      cursor: not-allowed;
      & ~ .icon,
      & ~ .label {
        color: map-get($general-color, 'general-grey-100');
      }
      //   border: 1px solid map-get($general-color, 'general-grey-90');
      //   &::placeholder {
      //     color: map-get($general-color, 'general-grey-100');
      //   }
      // }
    }
    &.disabled {
      // opacity: 0.3;
      & ~ .icon,
      & ~ .label {
        color: map-get($general-color, 'general-grey-100');
        // opacity: 0.3;
      }
    }
  }
}
