@import '../../../assets/styles/colors';

.checkbox {
  &.size {
    &_medium {
      // max-width: 16px;
      // min-width: 16px;
      width: 16px;
      height: 16px;
      &:before {
        width: 16px;
        height: 16px;
      }
    }
    &_large {
      // max-width: 20px;
      // min-width: 20px;
      width: 20px;
      height: 20px;
      &:before {
        width: 20px;
        height: 20px;
      }
    }
  }
  appearance: none;
  // width: 100%;
  position: relative;
  transition: $transition-default;
  cursor: pointer;
  border-radius: 2px;
  &:active,
  &:visited {
    outline: 0;
  }
  &:focus {
    outline: 0;
    // box-shadow: 0 0 0 2px map-get($general-color, 'general-violet-90');
    // &:hover {
    // 	box-shadow: 0 0 0 2px map-get($general-color, 'general-violet-100');
    // }
  }
  // Display of icon when "checked"
  &.default {
    &:after {
      content: url(../../../assets/svg/16/check-light.svg);
    }
  }
  &.unselect {
    &:after {
      content: url(../../../assets/svg/16/minus-light.svg);
    }
  }
  &:checked {
    &:after {
      opacity: 1;
    }
  }
  &.default,
  &.unselect {
    &:before {
      background: map-get($general-color, 'general-grey-10');
      border: 1px solid map-get($general-color, 'general-grey-90');
    }
    // Default hover
    &:hover {
      &:before {
        border: 1px solid map-get($general-color, 'general-violet-100');
      }
    }
    // Default checked
    &:checked {
      &:before {
        background: map-get($general-color, 'general-violet-90');
        border: 1px solid map-get($general-color, 'general-violet-90');
      }
      // Default checked hover
      &:hover {
        &:before {
          background: map-get($general-color, 'general-violet-100');
          border: 1px solid map-get($general-color, 'general-violet-100');
        }
      }
    }
  }
  // Border and background
  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    border-radius: 2px;
    transition: inherit;
  }
  // Icon
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: inherit;
    width: 16px;
    height: 16px;
  }

  // Disabled settings
  &.disabled {
    cursor: not-allowed;
    // &:focus {
    // box-shadow: 0 0 0 2px map-get($general-color, 'general-blue-10');
    // }
    // Disabled default background and tick
    &:before,
    &:after {
      opacity: 0.3;
    }
    &.default {
      // Disabled default border
      &:hover {
        &:before {
          border: 1px solid map-get($general-color, 'general-grey-90');
        }
      }
      // Disabled checked background
      &:checked {
        &:hover {
          &:before {
            background: map-get($general-color, 'general-violet-90');
            border: 1px solid map-get($general-color, 'general-violet-90');
          }
        }
      }
    }
  }
  &_wrapper {
    display: inline-flex;
    align-items: center;
    // &.size {
    //   &_medium {
    //     width: 16px;
    //     height: 16px;
    //   }
    //   &_large {
    //     width: 20px;
    //     height: 20px;
    //   }
    // }
    .content {
      margin-left: 10px;
      cursor: pointer;
      display: flex;
      &::selection {
        background: map-get($general-color, 'general-violet-90');
        color: map-get($general-color, 'general-white-100');
      }
    }
  }
  &_wrapper.option {
    display: flex;
    width: 100%;
    transition: $transition-default;
    border-radius: $border-radius-default;
    padding: 9px 16px;
    &:hover {
      background-color: map-get($general-color, 'general-grey-10');
    }
    &:not(:last-of-type) {
      margin-bottom: 4px;
    }
    label {
      width: 100%;
    }
  }
  // Focus settings
  // &:focus {
  // outline: 0;
  // Focus default
  /* &:before {
			border: 1px solid map-get($general-color, 'general-violet-100');
		} */
  // Focus checked
  /* &:checked {
			&:before {
				background: map-get($general-color, 'general-violet-100');
			}
		} */
  // }
}
