@import '../../../../assets/styles/grid';

.container {
  width: 100%;
  display: flex;
  flex-direction: inherit;
  flex-wrap: wrap;
  @include justify-content;
  @include align-items;
  @include gap;
}
