@import '../../../assets/styles/colors';

.component {
  display: flex;
  margin-top: 10px;
  & .checkbox {
    flex-grow: 0;
    margin-right: 10px;
  }
  & .container {
    flex-basis: calc(50% - 20px);
    border-radius: 4px;
    flex-grow: 1;
    height: 60px;
    background: map-get($general-color, 'general-grey-10');
    padding: 16px;
    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}
