@import '../../../assets/styles/colors';

.wrapper {
  transition: $transition-default;
  height: 4px;
  background: map-get($general-color, 'general-grey-10');
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .line {
    transition: all 0.25s ease, opacity 1s ease-in-out;
    background: linear-gradient(
      90deg,
      rgba(241, 207, 70, 1) 0%,
      rgba(241, 207, 70, 1) 25%,
      rgba(99, 103, 246, 1) 75%,
      rgba(99, 103, 246, 1) 100%
    );
    min-width: 0%;
    max-width: 100%;
    width: 100%;
    height: 4px;
    opacity: 0;
    &.loading {
      animation: loading 10s infinite linear;
      opacity: 1;
    }
  }
}

@keyframes loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes loaded {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
