@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/inputWidth';

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-default;
  position: relative;
  transition: $transition-default;
  width: 100%;
  @include inputWidth;

  .select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    user-select: none;

    &.height {
      &_28 {
        height: 28px;

        .arrow {
          top: 6px;
        }
      }

      &_36 {
        height: 36px;

        .arrow {
          top: 10px;
        }
      }

      &_48 {
        height: 48px;

        .arrow {
          top: 16px;
        }
      }
      &_full {
        min-height: 48px;

        .arrow {
          top: calc(50% - 10px);
        }
      }
    }

    &:active,
    &:focus,
    &:visited {
      outline: 0;
    }

    .search input {
      cursor: pointer;
    }

    &.editable {
      .search input:focus {
        cursor: text;
      }
    }

    &:hover {
      .arrow {
        color: map-get($general-color, 'general-violet-90');
      }
    }

    .arrow {
      transition: $transition-default;
      position: absolute;
      right: 12px;

      &.active {
        transform: rotate(180deg);
        color: map-get($general-color, 'general-violet-90');
      }

      &.color {
        &_default {
          color: map-get($general-color, 'general-grey-100');

          &.active {
            color: map-get($general-color, 'general-violet-90');
          }
        }

        &_light {
          color: map-get($general-color, 'general-white-100');
        }
      }

      &.error {
        color: map-get($extra-color, 'extra-red-90');

        &.active {
          color: map-get($extra-color, 'extra-red-90');
        }
      }
    }

    &.disabled {
      .arrow {
        cursor: not-allowed;
      }
    }
  }

  //.list {
  //  position: fixed;
  //  max-height: 200px;
  //  list-style: none;
  //  background: map-get($general-color, 'general-white-100');
  //  box-shadow: 0 10px 30px rgba(192, 196, 205, 0.3);
  //  border-radius: $border-radius-default;
  //  transition: $transition-default;
  //  padding: {
  //    top: 8px;
  //    bottom: 8px;
  //    right: 6px;
  //    left: 2px;
  //  }
  //  z-index: 7;
  //  @include customScroll;
  //  &.mode {
  //    &_top-left {
  //      animation: SelectBottom 0.5s ease;
  //    }
  //    &_top-right {
  //      animation: SelectBottom 0.5s ease;
  //    }
  //    &_right-top {
  //      animation: SelectLeft 0.5s ease;
  //    }
  //    &_right-bottom {
  //      animation: SelectLeft 0.5s ease;
  //    }
  //    &_bottom-right {
  //      animation: SelectTop 0.5s ease;
  //    }
  //    &_bottom-left {
  //      animation: SelectTop 0.5s ease;
  //    }
  //    &_left-bottom {
  //      animation: SelectRight 0.5s ease;
  //    }
  //    &_left-top {
  //      animation: SelectRight 0.5s ease;
  //    }
  //  }
  //}
}

//@keyframes SelectLeft {
//  from {
//    opacity: 0;
//    transform: translateX(-10px);
//  }
//}
//@keyframes SelectRight {
//  from {
//    opacity: 0;
//    transform: translateX(10px);
//  }
//}
//@keyframes SelectBottom {
//  from {
//    opacity: 0;
//    transform: translateY(10px);
//  }
//}
//@keyframes SelectTop {
//  from {
//    opacity: 0;
//    transform: translateY(-10px);
//  }
//}
