@import '../../../assets/styles/colors';

.component {
  display: flex;
  margin-top: 10px;
  & .checkbox {
    flex-grow: 0;
    margin-right: 10px;
  }
  & .container {
    max-width: 320px;
    border-radius: 4px;
    flex-grow: 1;
    height: 60px;
    background: map-get($general-color, 'general-grey-10');
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & svg {
      cursor: pointer;
      & path {
        fill: map-get($general-color, 'general-violet-90');
      }
    }
    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}
