@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';

.wrapper {
  width: 188px;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: $transition-default;
  border-radius: $border-radius-default;
  overflow: hidden;
  background: map-get($general-color, 'general-grey-10');
  border: 1px solid map-get($general-color, 'general-grey-10');

  &.hovered {
    color: map-get($general-color, 'general-violet-90');
  }

  &.focused {
    color: map-get($general-color, 'general-black-100');
    border: 1px solid map-get($general-color, 'general-violet-90');
  }

  &.error {
    border: 1px solid map-get($extra-color, 'extra-red-10');
    background: map-get($extra-color, 'extra-red-10');
    color: map-get($extra-color, 'extra-red-90');
  }

  &.disabled {
    background: map-get($general-color, 'general-grey-20');
    color: map-get($general-color, 'general-grey-100');
    cursor: not-allowed;
    .input {
      cursor: not-allowed;
    }
  }

  .input {
    min-width: 0;
    height: 100%;
    text-align: right;
    border: none;
    color: inherit;
    background: transparent;
    @include font-body-regular-14;

    &:active,
    &:visited,
    &:focus,
    &.active {
      outline: 0;
    }
  }
}
