@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';

.wrapper {
  display: flex;
  position: relative;
  transition: $transition-default;
  width: 100%;
}

.tooltip {
  width: 100%;
  height: 100%;
}

.select {
  @include border-colors-new
}

.select {
  display: flex;
  align-items: center;
  width: 100%;
  user-select: none;
  height: 36px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: $border-radius-default;
  transition: $transition-default;
}

.select {
  &.disabled {
    cursor: not-allowed;
  }

  .icon,
  .input::placeholder,
  .arrow {
    color: map-get($general-color, 'general-grey-100');
  }

  .input {
    color: map-get($general-color, 'general-black-100');
  }

  &:not(.disabled) {
    &:hover {
      .icon,
      .input,
      .secondaryLabel,
      .input::placeholder,
      .arrow {
        color: map-get($general-color, 'general-violet-90');
      }
    }
  }

  &.activeRow {
    background: map-get($general-color, 'general-grey-10');
    border: 1px solid map-get($general-color, 'general-grey-20');

    &:hover {
      border: 1px solid map-get($general-color, 'general-violet-20');
    }

    &.focused {
      border: 1px solid map-get($general-color, 'general-violet-90');

      .input::placeholder {
        color: map-get($general-color, 'general-grey-90');
      }
    }
  }

  &.activeRow {
    &.disabled {
      background: map-get($general-color, 'general-grey-10');
      border: 1px solid map-get($general-color, 'general-grey-10');
    }
  }

  &.error {
    border: 1px solid map-get($extra-color, 'extra-red-10');
    background: map-get($extra-color, 'extra-red-10');

    .icon,
    .input,
    .input::placeholder,
    .arrow {
      color: map-get($extra-color, 'extra-red-90');
    }

    &:hover {
      .input::placeholder {
        color: map-get($extra-color, 'extra-red-90');
      }
    }
  }
}

.icon {
  padding-left: 8px;
}

.input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  transition: $transition-default;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:focus {
    cursor: text;
  }

  &::placeholder {
    transition: $transition-default;
  }
}

.field {
  display: flex;
  padding: 8px 28px 8px 8px;
  flex-grow: 1;

  &.type {
    &_single {
      .input {
        @include font-caption-regular;
      }
    }

    &_doubleHorizontal {
      justify-content: space-between;
      align-items: center;

      .input {
        @include font-caption-regular;
      }

      .secondaryLabel {
        position: relative;
        top: 1px;
        white-space: nowrap;
        flex-shrink: 0;
        max-width: 100px;
      }
    }

    &_doubleVertical {
      .input {
        @include font-caption-bold;
      }

      flex-direction: column;
    }
  }
}

.arrow {
  transition: $transition-default;
  position: absolute;
  right: 12px;
  top: 10px;
  // transform: translateY(-50%);
  &.active {
    // transform: translateY(-50%) rotate(180deg);
    transform: rotate(180deg);
    color: map-get($general-color, 'general-violet-90');
  }
}

//.list {
//  position: fixed;
//  max-height: 200px;
//  list-style: none;
//  background: map-get($general-color, 'general-white-100');
//  box-shadow: 0 10px 30px rgba(192, 196, 205, 0.3);
//  border-radius: $border-radius-default;
//  transition: $transition-default;
//  padding: {
//    top: 8px;
//    bottom: 8px;
//    right: 6px;
//    left: 2px;
//  }
//  z-index: 10;
//  @include customScroll;
//  &.min-width {
//    &_150 {
//      min-width: 150px;
//    }
//    &_180 {
//      min-width: 180px;
//    }
//    &_192 {
//      min-width: 192px;
//    }
//    &_200 {
//      min-width: 200px;
//    }
//    &_300 {
//      min-width: 300px;
//    }
//    &_320 {
//      min-width: 320px;
//    }
//    &_624 {
//      min-width: 624px;
//    }
//  }
//  &.mode {
//    &_top-left {
//      animation: SelectBottom 0.5s ease;
//    }
//    &_top-right {
//      animation: SelectBottom 0.5s ease;
//    }
//    &_right-top {
//      animation: SelectLeft 0.5s ease;
//    }
//    &_right-bottom {
//      animation: SelectLeft 0.5s ease;
//    }
//    &_bottom-right {
//      animation: SelectTop 0.5s ease;
//    }
//    &_bottom-left {
//      animation: SelectTop 0.5s ease;
//    }
//    &_left-bottom {
//      animation: SelectRight 0.5s ease;
//    }
//    &_left-top {
//      animation: SelectRight 0.5s ease;
//    }
//  }
//}
//
//@keyframes SelectLeft {
//  from {
//    opacity: 0;
//    transform: translateX(-10px);
//  }
//}
//@keyframes SelectRight {
//  from {
//    opacity: 0;
//    transform: translateX(10px);
//  }
//}
//@keyframes SelectBottom {
//  from {
//    opacity: 0;
//    transform: translateY(10px);
//  }
//}
//@keyframes SelectTop {
//  from {
//    opacity: 0;
//    transform: translateY(-10px);
//  }
//}

// .wrapper {
//   flex-direction: column;
//   .select {
//
//     justify-content: space-between;
//
//
//
//
//     &:active,
//     &:focus,
//     &:visited {
//       outline: 0;
//     }
//     .search input {
//       cursor: pointer;
//     }
//     &.editable {
//       .search input:focus {
//         cursor: text;
//       }
//     }
//     &:hover {
//       .arrow {
//         color: map-get($general-color, 'general-violet-90');
//       }
//     }

//       &.color {
//         &_default {
//           color: map-get($general-color, 'general-grey-100');
//           &.active {
//             color: map-get($general-color, 'general-violet-90');
//           }
//         }
//         &_light {
//           color: map-get($general-color, 'general-white-100');
//         }
//       }
//       &.error {
//         color: map-get($extra-color, 'extra-red-90');
//         &.active {
//           color: map-get($extra-color, 'extra-red-90');
//         }
//       }
//     }
//     &.disabled {
//       .arrow {
//         cursor: not-allowed;
//       }
//     }
//   }
//   .list {

//

//   }
// }

// // .select {

// // 	&.disabled {
// // 		opacity: .3;
// // 		cursor: not-allowed;
// // 		border: 1px solid map-get($general-color, 'general-grey-90');
// // 		&::placeholder {
// // 			color: map-get($general-color, 'general-grey-100');
// // 		}
// // 		&:hover {
// // 			border: 1px solid map-get($general-color, 'general-grey-90');
// // 			&::placeholder {
// // 				color: map-get($general-color, 'general-grey-100');
// // 			}
// // 		}
// // 	}
// // }
