@import '../../../../assets/styles/colors';

.component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 380px;
  padding-right: 12px;
  padding-left: 4px;

  .wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    .text {
      display: flex;
      flex-direction: column;
    }
  }

  .default {
    display: flex;
    align-items: center;
    gap: 4px;
    color: map-get($general-color, 'general-grey-90');
  }
}
