@import '../../../../assets/styles/colors';

.panel {
  position: fixed;
  max-width: 920px;
  width: 100%;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: map-get($general-color, 'general-violet-90');
}
