@import '../../../assets/styles/colors';

.container {
  height: 100%;
  min-height: 0;
  width: 100%;
  background-color: map-get($general-color, 'general-grey-10');
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;

  &.focus {
    background-color: map-get($general-color, 'general-white-100');
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.13);

    &:hover {
      background-color: map-get($general-color, 'general-white-100');
    }
  }

  .textarea {
    overflow-y: scroll;
    flex-shrink: 1;
    margin-bottom: 5px;
  }

  .footer {
    width: 100%;
    height: 60px;
    flex-direction: column;
    visibility: hidden;
    flex-shrink: 0;

    &.visible {
      visibility: visible;
    }
  }

  .actions {
    padding: 16px;
    justify-content: flex-end;
    gap: 16px;
  }

  &:hover {
    background-color: map-get($general-color, 'general-grey-20');
  }
}