@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';

.wrapper {
  display: inline-flex;
  flex-direction: column;
  border-radius: $border-radius-default;
  min-width: 400px;
  max-width: 640px;
  min-height: 160px;
  padding: 16px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 180px;
  user-select: none;
  z-index: 20;
  animation: fadeIn 0.5s ease;
  &.position {
    &_absolute {
      position: absolute;
    }
    &_fixed {
      position: fixed;
    }
  }
  &.type {
    &_default {
      background: rgba(map-get($general-color, 'general-black-100'), 0.9);
      color: map-get($general-color, 'general-white-100');
      box-shadow: 0 2px 8px rgba(map-get($general-color, 'general-black-100'), 0.15);
    }
    &_success {
      background: rgba(map-get($extra-color, 'extra-green-90'), 0.9);
      color: map-get($general-color, 'general-white-100');
      box-shadow: 0 2px 8px rgba(map-get($extra-color, 'extra-green-90'), 0.15);
    }
    &_warning {
      background: rgba(map-get($extra-color, 'extra-yellow-90'), 0.9);
      color: map-get($general-color, 'general-white-100');
      box-shadow: 0 2px 8px rgba(map-get($extra-color, 'extra-yellow-90'), 0.15);
    }
    &_error {
      background: rgba(map-get($extra-color, 'extra-red-90'), 0.9);
      color: map-get($general-color, 'general-white-100');
      box-shadow: 0 2px 8px rgba(map-get($extra-color, 'extra-red-90'), 0.15);
    }
  }
  .main {
    display: flex;
    width: 100%;
    flex-grow: 1;
    gap: 16px;

    .icon {
      flex-shrink: 0;
      display: inline-flex;
      align-items: center;
      height: 28px;
      &.rotate {
        animation: spin 1s linear infinite;
      }
    }
    .content {
      flex-grow: 1;
      min-width: 0;
      line-height: 28px;

      overflow: hidden;
    }
    .close {
      flex-shrink: 0;
      display: inline-flex;
      align-items: center;
    }
  }
  .action {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 12px;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%);
  }
}
