@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';

@import 'inputMixins';

.inputBase {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  transition: $transition-default;

  align-items: center;

  & .inputWithLabelWrapper {
    position: relative;
    display: flex;

    width: 100%;
    height: 100%;

    transition: $transition-default;

    & .inputWrapper {
      width: 100%;
      opacity: 0;

      display: flex;
      align-items: center;
    }

    & .label {
      position: absolute;
      left: 0;

      font-size: 14px;
      line-height: 14px;
      transition: $transition-default;
      pointer-events: none;
      user-select: none;

      .required {
        color: map-get($extra-color, 'extra-red-90');
      }
    }
  }

  & .label {
    top: 50%;
    transform: translateY(-50%);
  }

  &.tag {
    &_input {
      & .label {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &_textarea {
      & .label {
        top: 12px;
      }
    }
  }

  & .icon, .symbol {
    flex-shrink: 0;
    max-width: 32px;
  }

  & .counter {
    user-select: none;
    transition: $transition-default;
    padding-left: 4px;
  }

  & .suffix {
    flex-shrink: 0;
    max-width: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
  }

  & .icon {
    font-size: 0;
    transition: $transition-default;
  }

  @include input-colors;

  &.disabled {
    @include input-disabled;
  }

  &.view {
    @include input-view;
  }

  &.error {
    @include input-error;
  }
}

// SPECIFIED BY HEIGHT VALUE

.inputBase {
  @include position-48;
  @include font-params-48;

  &.height {
    &_28,
    &_36 {
      gap: 8px;

      @include font-params-28-36;
      @include position-28-36;
    }

    &_48 {
      gap: 16px;

      @include font-params-48;
      @include position-48;
    }
  }

  &.minHeight {
      &_48{
        gap: 16px;
        .label {
          top: 50%;
          transform: translateY(-50%);
        }
        &.focused, &.filled{
          .label {
            top: 12px
          }
        }
      }
  }
}

.tag {
  &_textarea {
    &.focused,
    &.filled {
      & .inputWrapper {
        opacity: 1;

        position: relative;
        padding-top: 16px;
        transition: $transition-default;
      }
    }
  }
}
