@import '../../../assets/styles/fonts';
@import '../../../assets/styles/colors';

// --- POSITION ---
@mixin position-28-36 {
  & .counter {
    position: relative;
  }

  &.focused,
  &.filled {
    & .inputWrapper {
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      opacity: 1;
    }

    & .label {
      display: none;
    }
  }
}

@mixin position-48 {
  & .counter {
    position: absolute;
    top: 0;
    right: 0;
  }

  &.focused,
  &.filled {
    & .inputWrapper {
      opacity: 1;

      position: absolute;
      bottom: 0;
      transition: $transition-default;
    }

    & .label {
      position: absolute;
      top: 0;
      transform: translateY(0);

      font-size: 12px;
      line-height: 12px;
    }
  }
}


// --- FONT PARAMS ---
@mixin font-params-28-36 {
  & .label {
    @include font-caption-regular;
  }

  & .counter {
    @include font-avatar-small;
  }
}

@mixin font-params-48 {
  & .label {
    @include font-body-regular-14;
  }

  & .counter {
    font-size: 12px;
    line-height: 12px;
  }
}


// COLORS
@mixin input-colors {
  .label,
  .icon,
  .symbol,
  .counter,
  .counter .valueLength {
    color: map-get($general-color, 'general-grey-100');
  }

  &.focused {
    .label {
      color: map-get($general-color, 'general-violet-90');
    }

    & .counter .valueLength {
      color: map-get($general-color, 'general-violet-90');
    }
  }
}


// --- DISABLED ---
@mixin input-disabled {
  cursor: not-allowed;

  .label,
  .icon,
  .symbol,
  .counter,
  .counter .valueLength {
    cursor: not-allowed;
    user-select: none;
    color: map-get($general-color, 'general-grey-90');
  }

  & .label .required {
    color: map-get($extra-color, 'extra-red-20');
  }
}

// --- VIEW ---
@mixin input-view {
  cursor: auto;

  .label,
  .icon,
  .symbol,
  .counter,
  .counter .valueLength {
    user-select: none;
    pointer-events: none;
    color: map-get($general-color, 'general-grey-100');
  }

  & .label .required {
    color: map-get($extra-color, 'extra-red-90');
  }
}


// --- ERRORS ---
@mixin input-error {
  .label,
  .icon,
  .symbol,
  .counter,
  .counter .valueLength {
    color: map-get($extra-color, 'extra-red-90');
  }
}
