@import '../../../../assets/styles/colors.scss';

.button {
  @include background-colors-new;
  @include text-colors-new;
  @include border-colors-new;
  &.shadow {
    &_default {
      box-shadow: 0 10px 30px rgba(192, 196, 205, 0.3);
    }
  }
}

.buttonWrapper {
  position: relative;

  & .disabledClickable {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
    z-index: 1;
  }
}

.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: $transition-default;
  user-select: none;
  min-width: 80px;
  // flex: 0 0 auto;
  flex-shrink: 0;
  white-space: nowrap;

  &.borderRadius {
    &_default {
      border-radius: $border-radius-default;
    }
    &_10 {
      border-radius: 10px;
    }
    &_16 {
      border-radius: 16px;
    }
  }

  &.align {
    &_left {
      justify-content: flex-start;
    }
    &_center {
      justify-content: center;
    }
    &_right {
      justify-content: flex-end;
    }
  }

  &:active,
  &:focus,
  &:visited {
    outline: 0;
  }
  //Width
  &.width {
    &_40 {
      width: 40px;
      min-width: 40px;
    }
    &_50 {
      width: 50px;
    }
    &_64 {
      width: 64px;
    }
    &_80 {
      width: 80px;
    }
    &_88 {
      width: 88px;
    }
    &_100 {
      width: 100px;
    }
    &_108 {
      width: 108px;
    }
    &_120 {
      width: 120px;
    }
    &_128 {
      width: 128px;
    }
    &_134 {
      width: 134px;
    }
    &_140 {
      width: 140px;
    }
    &_150 {
      width: 150px;
    }
    &_156 {
      width: 156px;
    }
    &_180 {
      width: 180px;
    }
    &_196 {
      width: 196px;
    }
    &_215 {
      width: 215px;
    }
    &_220 {
      width: 220px;
    }
    &_230 {
      width: 230px;
    }
    &_xs-auto {
      width: auto;
      min-width: unset;
    }
    &_xs {
      width: 100%;
      max-width: 110px;
    }
    &_sm {
      width: 100%;
      max-width: 150px;
    }
    &_md {
      width: 100%;
      max-width: 230px;
    }
    &_lg {
      width: 100%;
      max-width: 260px;
    }
    &_xl {
      width: 100%;
      max-width: 320px;
    }
    &_xxl {
      max-width: 320px;
      width: 100%;
      // Free to use
    }
    &_full {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
    }
    &_auto {
      width: auto;
    }
  }

  //Height
  &.height {
    &_24 {
      height: 24px;
      &.dropdown {
        padding: 4px 36px 4px 12px;
        & .trigger {
          height: 24px;
          width: 24px;
        }
      }
    }
    &_28 {
      height: 28px;
    }
    &_30 {
      height: 30px;
    }
    &_32 {
      height: 32px;
    }
    &_40 {
      height: 40px;
      &.dropdown {
        padding: 4px 56px 4px 16px;
        & .trigger {
          height: 40px;
          width: 40px;
        }
      }
    }
    &_44 {
      height: 44px;
    }
    &_48 {
      height: 48px;
    }
    &_50 {
      height: 50px;
    }
    &_tiny {
      height: 30px;
    }
    &_small {
      height: 40px;
      &.dropdown {
        padding: 5px 59px 5px 19px;
        & .trigger {
          height: 40px;
          width: 40px;
        }
      }
    }
    &_medium {
      height: 44px;
    }
    &_large {
      height: 50px;
      &.dropdown {
        padding: 5px 69px 5px 19px;
        & .trigger {
          height: 50px;
          width: 50px;
        }
      }
    }
  }
  // Padding
  &.padding {
    &_default {
      padding: 4px 12px;
    }
    &_none {
      padding: 0;
    }
    &_minimal {
      padding: 5px 10px;
    }
    &_8 {
      padding: 8px;
    }
  }
  &.dropdown {
    position: relative;
    & .dropdown_wrapper {
      position: absolute;
      height: 100%;
      right: 0;
      top: 0;
    }
    & .trigger {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: -1px;
      border-radius: 0 $border-radius-default $border-radius-default 0;
      transition: $transition-default;
      svg path {
        fill: currentColor;
      }

      &.border-left {
        &_white-100 {
          border-left: 1px solid  map-get($general-color, 'general-white-100');
        }
        &_grey-20-grey-90 {
          border-left: 1px solid map-get($general-color, 'general-grey-20');
          &:hover {
            border-left: 1px solid map-get($general-color, 'general-grey-90');
          }
        }
      }
    }
  }
  // Navigation button
  &.navigation:not(.disabled) {
    .icon {
      transition: margin 0.2s ease;
    }
    &:hover {
      .icon {
        &_left {
          margin-right: 12px;
        }
        &_right {
          margin-left: 12px;
        }
      }
    }
  }
  // Only icon for navigation
  &.onlyIcon {
    min-width: 40px;
    width: 100%;
    padding: 5px;
    &.tiny {
      min-width: 30px;
      max-width: 30px;
    }
    &.small {
      min-width: 40px;
      max-width: 40px;
    }
    &.large {
      min-width: 50px;
      max-width: 50px;
    }
    .icon {
      margin-right: 0;
      margin-left: 0;
    }
    .text {
      font-size: 0;
    }
  }
  //Disabled button
  &.disabled {
    border: 1px solid map-get($general-color, 'general-grey-90');
    background: map-get($general-color, 'general-grey-90');
    color: map-get($general-color, 'general-white-100');
    cursor: not-allowed;
    &:hover {
      border: 1px solid map-get($general-color, 'general-grey-90');
      background: map-get($general-color, 'general-grey-90');
      color: map-get($general-color, 'general-white-100');
    }
  }
  // Icon inside button
  .icon {
    display: inline-flex;
    align-items: center;
    &_left {
      margin-right: 8px;
    }
    &_right {
      margin-left: 8px;
    }
    &_color {
      svg path {
        fill: currentColor;
      }
    }
  }
  // Text
  & .text {
    &.text-transition {
      &_unset {
        transition: unset;
      }
      &_inherit {
        transition: inherit;
      }
    }
  }
}

//Disabled button with dropdown
.enable {
  cursor: pointer;
  z-index: 3;
}

.disable_dropdown {
  cursor: not-allowed;
  opacity: .5;
}

.disabled_button {
  cursor: not-allowed;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: inherit;
    opacity: 0.5;
    &:hover {
      border: 1px solid map-get($general-color, 'general-grey-90');
      background: map-get($general-color, 'general-grey-90');
      color: inherit;
    }
}
}


