@import '../../../../assets/styles/colors';

.component {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 12px 0 12px 16px;
  background: map-get($general-color, 'general-grey-10');
  border-radius: $border-radius-default;
  cursor: pointer;
  transition: background 0.25s ease, color 0.25s ease;
  &:hover {
    background: map-get($general-color, 'general-grey-20');
    .icon {
      animation: trigger 0.6s ease;
    }
  }
  &.active {
    background: map-get($general-color, 'general-blue-10');
    color: map-get($general-color, 'general-violet-90');
    &:hover {
      color: map-get($general-color, 'general-violet-100');
    }
  }
  .icon {
    margin-right: 12px;
  }
  .name {
    max-width: 260px;
  }
  .divider {
    height: 48px;
    width: 2px;
    margin-left: 16px;
    background: map-get($general-color, 'general-white-100');
  }
  .button {
    transition: $transition-default;
    &.rotate {
      transform: rotate(180deg);
    }
  }
}

@keyframes trigger {
  30%,
  70% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(0deg);
  }
}
