@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';

.wrapper {
  width: 100%;
  transition: $transition-default;
  border-radius: $border-radius-default;
  .component {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: $border-radius-default;
    .textarea {
      display: block;
      width: 100%;
      height: 100%;
      resize: none;
      &.minHeight {
        &_88 {
          min-height: 88px;
        }
        &_128 {
          min-height: 128px;
        }
        &_134 {
          min-height: 134px;
        }
        &_155 {
          min-height: 155px;
        }
      }
      padding-top: 16px;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 8px;
      @include font-body-regular-14;
      transition: all 0.25s ease, height 0s;
      border-radius: $border-radius-default;
      @include text-align;
      &:hover {
        background: map-get($general-color, 'general-grey-20');
      }
      &::placeholder {
        transition: $transition-default;
      }
      &:active,
      &:visited,
      &:focus,
      &.active {
        outline: 0;
      }
      &.color {
        &_default {
          & ~ .label {
            color: map-get($general-color, 'general-grey-100');
          }
          &:focus {
            & ~ .label {
              color: map-get($general-color, 'general-violet-90');
            }
          }
          &:focus {
            &:not(:placeholder-shown) {
              color: map-get($general-color, 'general-black-100');
              & ~ .label {
                color: map-get($general-color, 'general-violet-90');
              }
            }
          }
          &:focus,
          &:active {
            &::placeholder {
              color: map-get($general-color, 'general-grey-90');
            }
          }
        }
        &_light {
          color: map-get($general-color, 'general-white-100');
          &::placeholder,
          & ~ .label {
            color: map-get($general-color, 'general-white-100');
          }
          &:hover,
          &:focus,
          &:active {
            &::placeholder {
              color: map-get($general-color, 'general-grey-90');
            }
          }
        }
      }
      &::placeholder {
        opacity: 0;
      }
      &:focus,
      &:not(:placeholder-shown),
      &.active {
        & ~ .label {
          font-size: 12px;
          line-height: 12px;
          top: 6px;
        }
        &::placeholder {
          opacity: 1;
        }
      }
      // &.error {
      //   border: 1px solid map-get($extra-color, 'extra-red-90');
      //   color: map-get($general-color, 'general-black-100');
      //   & ~ .label {
      //     color: map-get($extra-color, 'extra-red-90');
      //   }

      //   &:not(:placeholder-shown) {
      //     & ~ .label {
      //       color: map-get($extra-color, 'extra-red-90');
      //     }
      //   }
      // }
      &.color {
        &_default,
        &_light {
          &.error {
            border: 1px solid map-get($extra-color, 'extra-red-10');
            background: map-get($extra-color, 'extra-red-10');
            color: map-get($general-color, 'general-black-100');
            & ~ .label {
              color: map-get($extra-color, 'extra-red-90');
            }
            // &:hover,
            &:focus {
              &:not(:placeholder-shown) {
                & ~ .label {
                  color: map-get($extra-color, 'extra-red-90');
                }
              }
            }
          }
          &.disabled {
            cursor: not-allowed;
            & ~ .label {
              color: map-get($general-color, 'general-grey-100');
            }
            &:hover {
              &::placeholder {
                color: map-get($general-color, 'general-grey-100');
              }
              & ~ .label {
                color: map-get($general-color, 'general-grey-100');
              }
            }
          }
        }
      }
    }
    .label {
      position: absolute;
      left: 17px;
      top: 17px;
      font-size: 14px;
      line-height: 14px;
      transition: $transition-default;
      pointer-events: none;
      user-select: none;
      .required {
        color: map-get($extra-color, 'extra-red-90');
      }
    }
    .counter {
      position: absolute;
      top: 6px;
      right: 8px;
      transition: $transition-default;
      color: map-get($general-color, 'general-grey-100');
      font-size: 12px;
      line-height: 12px;
      user-select: none;
      &.error {
        opacity: 1;
      }
      &.hidden {
        opacity: 0;
      }
      .current {
        color: map-get($general-color, 'general-violet-90');
        &.limit,
        &.error {
          color: map-get($extra-color, 'extra-red-90');
        }
      }
    }
  }
}

.textarea {
  &.background {
    &_grey-10 {
      background: map-get($general-color, 'general-grey-10');
    }
    &_white-100 {
      background: map-get($general-color, 'general-white-100');
    }
    &_violet-90 {
      background: map-get($general-color, 'general-violet-90');
    }
    &_transparent {
      background: transparent;
    }
  }
  &.border {
    &_default {
      border: 1px solid map-get($general-color, 'general-grey-20');
      &:focus,
      &.active {
        border: 1px solid map-get($general-color, 'general-violet-90');
      }
    }
    &_light {
      border: 1px solid map-get($general-color, 'general-white-100');
      &:focus,
      &.active {
        border: 1px solid map-get($general-color, 'general-white-100');
      }
    }
    &_transparent {
      border: none;
    }
  }
}
