@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/fonts';

.multiSelectMain {
  position: relative;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  flex: 1;
  min-width: 0;

  & .multiSelectItemWrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;

    &.gap {
      gap: 8px;
    }

    &.filled {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      flex: 1;
      min-width: 0;

      gap: unset;
    }

    & .multiSelectValueWrapper {
      display: flex;
      align-items: center;
      gap: 8px;
      max-height: 56px;

      flex: 1;
      min-width: 0;
      width: 100%;

      & .multiSelectItemList {
        flex: 1;

        display: flex;
        align-items: center;
        width: 100%;
        gap: 8px;

        flex-wrap: wrap;

        & .bankAccountTag {
          max-width: 250px;

          &:hover {
            background: map-get($general-color, 'general-grey-90');
          }
        }

        &.hidden {
          position: relative;
          z-index: -100;
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }
}
