@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/fonts';

.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  &.mainShown {
    justify-content: flex-start;
  }
  &.secondaryShown {
    justify-content: flex-end;
  }
  &.bothShown {
    justify-content: space-between;
  }
  & .label {
    display: flex;
    @include font-caption-regular;
    user-select: none;
    cursor: pointer;
    &.required {
      position: relative;
      &:after {
        position: relative;
        content: '*';
        top: 0;
        right: -1px;
        color: map-get($extra-color, 'extra-red-90');
      }
    }
    &.disabled {
      cursor: not-allowed;
    }
  }
  .secondary {
    display: flex;
    align-items: center;
    .secondaryLabel {
      display: flex;
      @include font-caption-regular;
      color: map-get($general-color, 'general-grey-100');
      user-select: none;
      cursor: default;
    }
    .icon {
      margin-left: 6px;
    }
  }
}
