@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';

.wrapper {
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $transition-default;
  &.type {
    &_box {
      width: 48px;
      height: 24px;
      border-radius: 6px;
    }
    &_radio {
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }
  }

  .radio {
    appearance: none;
    position: relative;
    cursor: inherit;
    width: 16px;
    height: 16px;
    transition: inherit;
    // Outer circle
    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      border-radius: 50%;
      transition: inherit;
      //
      //
    }
    // Inner circle
    &:before {
      opacity: 0;
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      z-index: 1;
    }
  }
}

// COLORS
.wrapper {
  background: map-get($general-color, 'general-grey-10');
  .radio {
    &:after {
      border-width: 1px;
      border-style: solid;
      border-color: map-get($general-color, 'general-grey-90');
      background: map-get($general-color, 'general-white-100');
    }
    &:before {
      background: map-get($general-color, 'general-white-100');
    }
  }
  &.color {
    // RED START
    &_error {
      &:hover {
        .radio {
          &:after {
            border-color: map-get($extra-color, 'extra-red-90');
          }
        }
      }
      &.checked {
        background: map-get($extra-color, 'extra-red-10');
        .radio {
          &:after {
            border-width: 4px;
            border-color: map-get($extra-color, 'extra-red-90');
          }
          &:before {
            opacity: 1;
          }
        }
        &:hover {
          background: map-get($extra-color, 'extra-red-20');
          .radio {
            &:after {
              border-color: map-get($extra-color, 'extra-red-100');
            }
          }
        }
      }
    }
    // RED END
    // YELLOW START
    &_warning {
      &:hover {
        .radio {
          &:after {
            border-color: map-get($extra-color, 'extra-yellow-90');
          }
        }
      }
      &.checked {
        background: map-get($extra-color, 'extra-yellow-10');
        .radio {
          &:after {
            border-width: 4px;
            border-color: map-get($extra-color, 'extra-yellow-90');
          }
          &:before {
            opacity: 1;
          }
        }
        &:hover {
          background: map-get($extra-color, 'extra-yellow-20');
          .radio {
            &:after {
              border-color: map-get($extra-color, 'extra-yellow-100');
            }
          }
        }
      }
    }
    // YELLOW END
    // GREEN START
    &_success {
      &:hover {
        .radio {
          &:after {
            border-color: map-get($extra-color, 'extra-green-90');
          }
        }
      }
      &.checked {
        background: map-get($extra-color, 'extra-green-10');
        .radio {
          &:after {
            border-width: 4px;
            border-color: map-get($extra-color, 'extra-green-90');
          }
          &:before {
            opacity: 1;
          }
        }
        &:hover {
          background: map-get($extra-color, 'extra-green-20');
          .radio {
            &:after {
              border-color: map-get($extra-color, 'extra-green-100');
            }
          }
        }
      }
    }
    // GREEN END
  }
}

// DISABLED ALL COLORS
.wrapper {
  &.disabled {
    cursor: not-allowed;
    .radio {
      &:after {
        border-color: map-get($general-color, 'general-grey-20');
      }
    }
    &:hover {
      background: map-get($general-color, 'general-grey-20');
      &.color {
        &_error,
        &_warning,
        &_success {
          .radio {
            &:after {
              border-color: map-get($general-color, 'general-grey-20');
            }
          }
        }
      }
    }
  }
}
