@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/tableCellWidth';
@import '../../../../assets/styles/grid';

// Padding settings

.wrapper {
  &.padding {
    &_default {
      padding: 6px 12px;
      .content {
        padding: 0 4px;
      }
    }
    &_none {
      justify-content: center;
      padding: 6px 4px;
    }
    &_0 {
      justify-content: center;
      padding: 0;
    }

    &_12 {
      padding: {
        left: 12px;
        right: 12px;
      }
    }
  }
  &:first-of-type {
    &.padding {
      &_default {
        .content {
          padding: 0 4px 0 5px;
        }
      }
      &_none {
        padding: 6px 4px 6px 5px;
      }
      &_0 {
        padding: 0;
      }
    }
  }
  &.min-width {
    &_36,
    &_40,
    &_48,
    &_50 {
      &.padding {
        // &_default {
        //   .content {
        //     padding: 0 4px 0 5px;
        //   }
        // }
        &_none {
          padding: 6px 4px 6px 5px;
        }
      }
    }
  }
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  @include flex-grow;
  @include tableCellWidth;

  gap: 4px;
  &.radius {
    &_0 {
      border-radius: 0;
    }
    &_10 {
      border-radius: $border-radius-default;
    }
  }
  &.background {
    &_white-100 {
      background-color: map-get($general-color, 'general-white-100');
    }
    &_grey-10 {
      background-color: map-get($general-color, 'general-grey-10');
    }
  }
  &.align {
    &_left {
      justify-content: flex-start;
    }
    &_center {
      justify-content: center;
    }
    &_right {
      justify-content: flex-end;
    }
  }
  .content {
    // height: 18px;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    // background: map-get($general-color, 'general-white-100');
    color: map-get($general-color, 'general-grey-100');
    .sorting_icon {
      color: map-get($general-color, 'general-grey-90');
    }
    .title_icon {
      padding-right: 8px;
    }
    .title {
      display: flex;
      align-items: flex-end;
    }
    &.sorting {
      cursor: pointer;
      transition: $transition-default;
      &:hover {
        background: map-get($general-color, 'general-blue-10');
        color: map-get($general-color, 'general-violet-100');
        .sorting_icon {
          color: map-get($general-color, 'general-violet-100');
        }
      }
      .title {
        margin-right: 4px;
      }
      &.sortingActive {
        background: map-get($general-color, 'general-blue-10');
        color: map-get($general-color, 'general-violet-90');
        &:hover {
          color: map-get($general-color, 'general-violet-100');
        }
      }
    }
    .sorting_icon {
      svg {
        transition: transform 0.25s ease, width 0.25s ease;
      }
      &.sorting {
        &_descending,
        &_ascending {
          svg {
            width: 5px;
            margin-right: 1px;
            path:nth-of-type(2) {
              display: none;
            }
          }
        }
        &_descending {
          svg {
            transform: rotateX(180deg);
          }
        }
      }
    }
  }
  // &:not(:last-of-type) {
  //   &:after {
  //     position: absolute;
  //     right: 0;
  //     top: 50%;
  //     transform: translateY(-50%);
  //     content: '';
  //     height: 20px;
  //     width: 1px;
  //     border-radius: 1px;
  //     background: map-get($general-color, 'general-grey-20');
  //   }
  // }
  // &:not(:first-of-type) {
  //   &:before {
  //     position: absolute;
  //     left: -1px;
  //     top: 50%;
  //     transform: translateY(-50%);
  //     content: '';
  //     height: 20px;
  //     width: 1px;
  //     border-radius: 1px;
  //     background: map-get($general-color, 'general-grey-20');
  //   }
  // }
  // &:first-of-type {
  //   border-top-left-radius: $border-radius-default;
  //   border-bottom-left-radius: $border-radius-default;
  // }
  // &:last-of-type {
  //   border-top-right-radius: $border-radius-default;
  //   border-bottom-right-radius: $border-radius-default;
  // }
}

.divider {
  width: 1px;
  // height: calc(100% / 3 * 2);
  height: 20px;
  background: map-get($general-color, 'general-grey-30');
  flex-shrink: 0;
  &:first-of-type {
    display: none;
  }
}

.wrapper {
  &.flex-basis {
    &_28 {
      flex-basis: 27px;
    }
    &_32 {
      flex-basis: 31px;
    }
    &_36 {
      flex-basis: 35px;
    }
    &_40 {
      flex-basis: 39px;
    }
    &_48 {
      flex-basis: 47px;
    }
    &_50 {
      flex-basis: 49px;
    }
    &_60 {
      flex-basis: 59px;
    }
    &_70 {
      flex-basis: 69px;
    }
    &_80 {
      flex-basis: 79px;
    }
    &_90 {
      flex-basis: 89px;
    }
    &_100 {
      flex-basis: 99px;
    }
    &_110 {
      flex-basis: 109px;
    }
    &_120 {
      flex-basis: 119px;
    }
    &_130 {
      flex-basis: 129px;
    }
    &_140 {
      flex-basis: 139px;
    }
    &_150 {
      flex-basis: 149px;
    }
    &_160 {
      flex-basis: 159px;
    }
    &_170 {
      flex-basis: 169px;
    }
    &_180 {
      flex-basis: 179px;
    }
    &_190 {
      flex-basis: 189px;
    }
    &_200 {
      flex-basis: 199px;
    }
    &_210 {
      flex-basis: 209px;
    }
    &_220 {
      flex-basis: 219px;
    }
    &_230 {
      flex-basis: 229px;
    }
    &_240 {
      flex-basis: 239px;
    }
    &_250 {
      flex-basis: 249px;
    }
    &_260 {
      flex-basis: 259px;
    }
    &_270 {
      flex-basis: 269px;
    }
    &_280 {
      flex-basis: 279px;
    }
    &_290 {
      flex-basis: 289px;
    }
    &_300 {
      flex-basis: 299px;
    }
    &_310 {
      flex-basis: 309px;
    }
    &_320 {
      flex-basis: 319px;
    }
    &_330 {
      flex-basis: 329px;
    }
    &_340 {
      flex-basis: 339px;
    }
    &_350 {
      flex-basis: 349px;
    }
    &_380 {
      flex-basis: 379px;
    }
    &_600 {
      flex-basis: 599px;
    }
  }
}
