@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/fonts';

.item {
  display: flex;
  align-items: center;
  border-radius: $border-radius-default;
  @include font-caption-regular;
  min-width: 0;
  cursor: pointer;
  height: 50px;
  padding: 8px;
  transition: $transition-default;
  user-select: none;
  gap: 8px;

  &:has( >.row) {
    height: 40px;
  }

  &:not(:last-of-type) {
    margin-bottom: 4px;
  }

  .container {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    color: map-get($general-color, 'general-violet-90');

    &.disabled {
      cursor: not-allowed;
      color: map-get($general-color, 'general-grey-90');
    }
  }

  .icon {
    color: map-get($general-color, 'general-black-100');
  }

  .row {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .secondaryLabel {
      margin-left: 10px;
      text-align: end;
    }


  }

  .label_width {
    .label {
      width: 70%;
    }

    .secondaryLabel {
      width: 30%;
    }
  }

  .column {
    flex-direction: column;
    //max-width: calc(100% - 32px);
  }

  .text {
    display: flex;
    min-width: 0;

    .label {
      color: map-get($general-color, 'general-black-100');
      transition: $transition-default;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .secondaryLabel {
      color: map-get($general-color, 'general-grey-100');
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  }

  &:hover {
    background: map-get($general-color, 'general-grey-20');

    .icon {
      color: map-get($general-color, 'general-violet-90');
    }
  }

  &.selected {
    background: map-get($general-color, 'general-grey-10');

    .icon {
      color: map-get($general-color, 'general-violet-100');
    }

    & .label {
      color: map-get($general-color, 'general-violet-100');
    }

    &:hover {
      background: map-get($general-color, 'general-grey-20');
      color: map-get($general-color, 'general-violet-100');
    }

    &.disabled {
      cursor: not-allowed;

      & .label {
        color: map-get($general-color, 'general-grey-90');
      }

      & .secondaryLabel {
        color: map-get($general-color, 'general-grey-90');
      }
    }
  }

  &.disabled {
    cursor: not-allowed;

    & .label {
      color: map-get($general-color, 'general-grey-90');
    }

    & .secondaryLabel {
      color: map-get($general-color, 'general-grey-90');
    }
  }
}
