@import "../../../../src/assets/styles/variables";
@import "../../../../src/assets/styles/colors/generalcolors";
@import '../../../../src/assets/styles/fonts';


.datepickerWrapper {
  display: flex;
  justify-content: center;

  padding: 16px;

  background: transparent;
}
