@import '../../../assets/styles/colors';

.container {
  width: 34px;
  flex: 0 0 34px;
  max-width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid map-get($general-color, 'general-grey-20');
  border-radius: $border-radius-default;
  color: map-get($general-color, 'general-grey-100');
  & .icon path {
    fill: currentColor;
  }
}
