@import '../../../assets/styles/grid';
@import '../../../assets/styles/colors';
.icon {
  @include display;
  line-height: 0;
  &.path {
    &_inherit svg * {
      fill: currentColor;
    }
    &_violet-100 svg * {
      fill: map-get($general-color, 'general-violet-100');
    }
    &_violet-90 svg * {
      fill: map-get($general-color, 'general-violet-90');
    }
    &_violet-20 svg * {
      fill: map-get($general-color, 'general-violet-20');
    }
    &_violet-10 svg * {
      fill: map-get($general-color, 'general-violet-10');
    }
    &_blue-100 svg * {
      fill: map-get($general-color, 'general-blue-100');
    }
    &_blue-20 svg * {
      fill: map-get($general-color, 'general-blue-20');
    }
    &_blue-10 svg * {
      fill: map-get($general-color, 'general-blue-10');
    }
    &_grey-100 svg * {
      fill: map-get($general-color, 'general-grey-100');
    }
    &_grey-100-black-100 svg * {
      fill: map-get($general-color, 'general-grey-100');
      &:hover {
        fill: map-get($general-color, 'general-black-100');
      }
    }
    &_grey-90 svg * {
      fill: map-get($general-color, 'general-grey-90');
    }
    &_grey-20 svg * {
      fill: map-get($general-color, 'general-grey-20');
    }
    &_grey-10 svg * {
      fill: map-get($general-color, 'general-grey-10');
    }
    &_white-100 svg * {
      fill: map-get($general-color, 'general-white-100');
    }
    &_black-100 svg * {
      fill: map-get($general-color, 'general-black-100');
    }
    &_black-90 svg * {
      fill: map-get($general-color, 'general-black-90');
    }
    &_green-100 svg * {
      fill: map-get($extra-color, 'extra-green-100');
    }
    &_green-90 svg * {
      fill: map-get($extra-color, 'extra-green-90');
    }
    &_green-20 svg * {
      fill: map-get($extra-color, 'extra-green-20');
    }
    &_green-10 svg * {
      fill: map-get($extra-color, 'extra-green-10');
    }
    &_red-100 svg * {
      fill: map-get($extra-color, 'extra-red-100');
    }
    &_red-90 svg * {
      fill: map-get($extra-color, 'extra-red-90');
    }
    &_red-20 svg * {
      fill: map-get($extra-color, 'extra-red-20');
    }
    &_red-10 svg * {
      fill: map-get($extra-color, 'extra-red-10');
    }
    &_yellow-100 svg * {
      fill: map-get($extra-color, 'extra-yellow-100');
    }
    &_yellow-90 svg * {
      fill: map-get($extra-color, 'extra-yellow-90');
    }
    &_yellow-20 svg * {
      fill: map-get($extra-color, 'extra-yellow-20');
    }
    &_yellow-10 svg * {
      fill: map-get($extra-color, 'extra-yellow-10');
    }
    &_purple-100 svg * {
      fill: map-get($extra-color, 'extra-purple-100');
    }
    &_purple-90 svg * {
      fill: map-get($extra-color, 'extra-purple-90');
    }
    &_purple-20 svg * {
      fill: map-get($extra-color, 'extra-purple-20');
    }
    &_purple-10 svg * {
      fill: map-get($extra-color, 'extra-purple-10');
    }
  }
  &.stroke {
    &_inherit svg * {
      stroke: currentColor;
    }
    &_violet-100 svg * {
      stroke: map-get($general-color, 'general-violet-100');
    }
    &_violet-90 svg * {
      stroke: map-get($general-color, 'general-violet-90');
    }
    &_violet-20 svg * {
      stroke: map-get($general-color, 'general-violet-20');
    }
    &_violet-10 svg * {
      stroke: map-get($general-color, 'general-violet-10');
    }
    &_blue-100 svg * {
      stroke: map-get($general-color, 'general-blue-100');
    }
    &_blue-20 svg * {
      stroke: map-get($general-color, 'general-blue-20');
    }
    &_blue-10 svg * {
      stroke: map-get($general-color, 'general-blue-10');
    }
    &_grey-100 svg * {
      stroke: map-get($general-color, 'general-grey-100');
    }
    &_grey-90 svg * {
      stroke: map-get($general-color, 'general-grey-90');
    }
    &_grey-20 svg * {
      stroke: map-get($general-color, 'general-grey-20');
    }
    &_grey-10 svg * {
      stroke: map-get($general-color, 'general-grey-10');
    }
    &_white-100 svg * {
      stroke: map-get($general-color, 'general-white-100');
    }
    &_black-100 svg * {
      stroke: map-get($general-color, 'general-black-100');
    }
    &_black-90 svg * {
      stroke: map-get($general-color, 'general-black-90');
    }
    &_green-100 svg * {
      stroke: map-get($extra-color, 'extra-green-100');
    }
    &_green-90 svg * {
      stroke: map-get($extra-color, 'extra-green-90');
    }
    &_green-20 svg * {
      stroke: map-get($extra-color, 'extra-green-20');
    }
    &_green-10 svg * {
      stroke: map-get($extra-color, 'extra-green-10');
    }
    &_red-100 svg * {
      stroke: map-get($extra-color, 'extra-red-100');
    }
    &_red-90 svg * {
      stroke: map-get($extra-color, 'extra-red-90');
    }
    &_red-20 svg * {
      stroke: map-get($extra-color, 'extra-red-20');
    }
    &_red-10 svg * {
      stroke: map-get($extra-color, 'extra-red-10');
    }
    &_yellow-100 svg * {
      stroke: map-get($extra-color, 'extra-yellow-100');
    }
    &_yellow-90 svg * {
      stroke: map-get($extra-color, 'extra-yellow-90');
    }
    &_yellow-20 svg * {
      stroke: map-get($extra-color, 'extra-yellow-20');
    }
    &_yellow-10 svg * {
      stroke: map-get($extra-color, 'extra-yellow-10');
    }
    &_purple-100 svg * {
      stroke: map-get($extra-color, 'extra-purple-100');
    }
    &_purple-90 svg * {
      stroke: map-get($extra-color, 'extra-purple-90');
    }
    &_purple-20 svg * {
      stroke: map-get($extra-color, 'extra-purple-20');
    }
    &_purple-10 svg * {
      stroke: map-get($extra-color, 'extra-purple-10');
    }
  }
  &.ellipse {
    &_inherit svg ellipse {
      fill: currentColor;
    }
    &_violet-100 svg ellipse {
      fill: map-get($general-color, 'general-violet-100');
    }
    &_violet-90 svg ellipse {
      fill: map-get($general-color, 'general-violet-90');
    }
    &_violet-20 svg ellipse {
      fill: map-get($general-color, 'general-violet-20');
    }
    &_violet-10 svg ellipse {
      fill: map-get($general-color, 'general-violet-10');
    }
    &_blue-100 svg ellipse {
      fill: map-get($general-color, 'general-blue-100');
    }
    &_blue-20 svg ellipse {
      fill: map-get($general-color, 'general-blue-20');
    }
    &_blue-10 svg ellipse {
      fill: map-get($general-color, 'general-blue-10');
    }
    &_grey-100 svg ellipse {
      fill: map-get($general-color, 'general-grey-100');
    }
    &_grey-90 svg ellipse {
      fill: map-get($general-color, 'general-grey-90');
    }
    &_grey-20 svg ellipse {
      fill: map-get($general-color, 'general-grey-20');
    }
    &_grey-10 svg ellipse {
      fill: map-get($general-color, 'general-grey-10');
    }
    &_white-100 svg ellipse {
      fill: map-get($general-color, 'general-white-100');
    }
    &_black-100 svg ellipse {
      fill: map-get($general-color, 'general-black-100');
    }
    &_black-90 svg ellipse {
      fill: map-get($general-color, 'general-black-90');
    }
    &_green-100 svg ellipse {
      fill: map-get($extra-color, 'extra-green-100');
    }
    &_green-90 svg ellipse {
      fill: map-get($extra-color, 'extra-green-90');
    }
    &_green-20 svg ellipse {
      fill: map-get($extra-color, 'extra-green-20');
    }
    &_green-10 svg ellipse {
      fill: map-get($extra-color, 'extra-green-10');
    }
    &_red-100 svg ellipse {
      fill: map-get($extra-color, 'extra-red-100');
    }
    &_red-90 svg ellipse {
      fill: map-get($extra-color, 'extra-red-90');
    }
    &_red-20 svg ellipse {
      fill: map-get($extra-color, 'extra-red-20');
    }
    &_red-10 svg ellipse {
      fill: map-get($extra-color, 'extra-red-10');
    }
    &_yellow-100 svg ellipse {
      fill: map-get($extra-color, 'extra-yellow-100');
    }
    &_yellow-90 svg ellipse {
      fill: map-get($extra-color, 'extra-yellow-90');
    }
    &_yellow-20 svg ellipse {
      fill: map-get($extra-color, 'extra-yellow-20');
    }
    &_yellow-10 svg ellipse {
      fill: map-get($extra-color, 'extra-yellow-10');
    }
    &_purple-100 svg ellipse {
      fill: map-get($extra-color, 'extra-purple-100');
    }
    &_purple-90 svg ellipse {
      fill: map-get($extra-color, 'extra-purple-90');
    }
    &_purple-20 svg ellipse {
      fill: map-get($extra-color, 'extra-purple-20');
    }
    &_purple-10 svg ellipse {
      fill: map-get($extra-color, 'extra-purple-10');
    }
  }
  &.cursor {
    &_default {
      cursor: default;
    }
    &_pointer {
      cursor: pointer;
    }
    &_move {
      cursor: move;
    }
    &_text {
      cursor: text;
    }
    &_inherit {
      cursor: inherit;
    }
  }
  &.clickThrough {
    pointer-events: none;
  }
  &.transition {
    &_inherit {
      transition: inherit;
    }
    &_unset {
      transition: unset;
    }
  }
}
