@import '../../../../../assets/styles/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  display: flex;
  align-items: center;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  gap: 4px;
  transition: $transition-default;
  border-radius: $border-radius-default;
  color: map-get($general-color, 'general-grey-100');
  cursor: pointer;
  position: relative;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      &:hover {
        color: map-get($general-color, 'general-black-100');
      }
    }

    &.opened {
      transform: rotate(90deg);
    }
  }



  .icon_main {
    &:hover {
      color: map-get($general-color, 'general-black-100');
    }
  }

  .name {
    max-width: 152px;
  }

  &:has( .icon_main):has(.actions) {
    .name {
      max-width: 143px;
    }
  }

  .add {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 8px;
    transition: inherit;
  }

  .actions {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 32px;
    transition: inherit;
  }

  &:hover,
  &.actionsOpen {
    .counter {
      opacity: 0;
      transition: none;
    }
    .add,
    .actions {
      opacity: 1;
      pointer-events: all;
    }
  }

  &.active {
    background: map-get($general-color, 'general-grey-10');
  }

  &:hover {
    background: map-get($general-color, 'general-grey-20');
  }
}
