@import '../../../../assets/styles/colors';

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  .order {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .text {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    width: 204px;
    flex-shrink: 0;
    margin-left: 20px;
    background: map-get($general-color, 'general-grey-10');
    border-radius: $border-radius-default;
  }
  .arrows {
    margin-left: 8px;
    margin-right: 8px;
  }
  .icon {
    margin-left: 16px;
  }
}
