@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/colors';


.component {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 12px;

  .text {
    @include font-text-regular;
    color: map-get($general-color, 'general-grey-90');
  }
}