@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';

@mixin font {
  &.height {
    &_36 {
      @include font-caption-regular;
    }

    &_48 {
      @include font-body-regular-14;
    }
  }
}

@mixin error {
  &.error {
    color: map-get($extra-color, 'extra-red-90');
  }
}


.select {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;

  color: map-get($general-color, 'general-grey-100');

  & .iconsWrapper {
    flex-shrink: 0;

    display: flex;
    align-items: center;
    gap: 8px;

    &.h40fixed {
      height: 40px;
    }

    @include error;

    & .selectClearCross {
      flex-shrink: 0;

      transition: $transition-default;

      &:hover {
        color: map-get($extra-color, 'extra-red-90');
      }

      @include error;
    }

    & .selectArrow {
      flex-shrink: 0;

      transition: $transition-default;

      &.focused {
        transform: rotate(180deg);
        color: map-get($general-color, 'general-violet-90');
      }

      &.disabled {
        color: map-get($general-color, 'general-grey-90');
      }

      @include error;
    }

  }
}
