@import '../../../../assets/styles/colors';

.container {
  & .icon {
    margin-left: 10px;
    font-size: 0;
    color: map-get($general-color, 'general-grey-90');
    transition: $transition-default;
    path {
      fill: currentColor;
    }
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  cursor: pointer;
  padding: 7px 10px;
  position: relative;
  background: map-get($general-color, 'general-white-100');
  &:first-of-type {
    border-top-left-radius: $border-radius-default;
    border-bottom-left-radius: $border-radius-default;
  }
  &:last-of-type {
    border-top-right-radius: $border-radius-default;
    border-bottom-right-radius: $border-radius-default;
  }
  &.spacing {
    justify-content: center;
    & .tooltip {
      margin-left: 10px;
    }
  }
  &.onlySortIcon {
    justify-content: center;
    & .icon {
      margin-left: 0;
    }
  }
  &.min-width {
    &_36 {
      min-width: 36px;
    }
    &_40 {
      min-width: 40px;
    }
    &_50 {
      min-width: 50px;
    }
    &_60 {
      min-width: 60px;
    }
    &_70 {
      min-width: 70px;
    }
    &_80 {
      min-width: 80px;
    }
    &_90 {
      min-width: 90px;
    }
    &_100 {
      min-width: 100px;
    }
    &_110 {
      min-width: 110px;
    }
    &_120 {
      min-width: 120px;
    }
    &_130 {
      min-width: 130px;
    }
    &_140 {
      min-width: 140px;
    }
    &_150 {
      min-width: 150px;
    }
    &_160 {
      min-width: 160px;
    }
    &_170 {
      min-width: 170px;
    }
    &_180 {
      min-width: 180px;
    }
    &_190 {
      min-width: 190px;
    }
    &_200 {
      min-width: 200px;
    }
    &_210 {
      min-width: 210px;
    }
    &_220 {
      min-width: 220px;
    }
    &_230 {
      min-width: 230px;
    }
    &_240 {
      min-width: 240px;
    }
    &_250 {
      min-width: 250px;
    }
    &_260 {
      min-width: 260px;
    }
    &_270 {
      min-width: 270px;
    }
    &_280 {
      min-width: 280px;
    }
    &_290 {
      min-width: 290px;
    }
    &_300 {
      min-width: 300px;
    }
    &_310 {
      min-width: 310px;
    }
    &_320 {
      min-width: 320px;
    }
    &_330 {
      min-width: 330px;
    }
    &_340 {
      min-width: 340px;
    }
    &_350 {
      min-width: 350px;
    }
    &_380 {
      min-width: 380px;
    }
    &_600 {
      min-width: 600px;
    }
  }
  &.flex-grow {
    &_0 {
      flex-grow: 0;
    }
    &_1 {
      flex-grow: 1;
      width: 100%;
    }
  }
  &:not(:last-of-type) {
    &:after {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      height: 20px;
      width: 1px;
      border-radius: 1px;
      background: map-get($general-color, 'general-grey-20');
    }
  }
  &:not(:first-of-type) {
    &:before {
      position: absolute;
      left: -1px;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      height: 20px;
      width: 1px;
      border-radius: 1px;
      background: map-get($general-color, 'general-grey-20');
    }
  }
  &:hover {
    .icon {
      color: map-get($general-color, 'general-grey-100');
    }
  }
}
