@import '../../../../assets/styles/colors';

.button {
  display: inline-flex;
  align-items: center;
  transition: $transition-default;
  border-radius: $border-radius-default;
  padding-left: 12px;
  padding-right: 11px;
  height: 40px;
  cursor: pointer;
  .filter {
    margin-right: 8px;
  }
  .text {
    margin-right: 4px;
  }
  .arrow {
    transition: transform 0.25s ease, margin-right 0.25s ease;
  }
  .divider {
    display: block;
    width: 1px;
    height: 100%;
    transition: background 0.25s ease;
  }
  .reset {
    width: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease, color 0s;
    .cross {
      transition: opacity 0.25s ease;
      opacity: 0;
      path {
        fill: currentColor;
      }
    }
  }
}

.button {
  &:hover {
    .filter {
      animation: trigger 0.6s ease;
    }
  }
  &.active {
    .arrow {
      transform: rotate(180deg);
    }
  }
  &.showReset {
    padding-right: 0;
    .arrow {
      margin-right: 8px;
    }
    .divider {
      background: map-get($general-color, 'general-white-100');
    }
    .reset {
      width: 40px;
      padding-left: 12px;
      padding-right: 12px;
      .cross {
        opacity: 1;
      }
    }
  }
}

// Dot element which is shown when search is active

.button {
  position: relative;
  &:before,
  &:after {
    position: absolute;
    transition: $transition-default;
    content: '';
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
  }
  &:before {
    width: 12px;
    height: 12px;
    background: map-get($general-color, 'general-white-100');
    top: -3px;
    left: -3px;
  }
  &:after {
    width: 8px;
    height: 8px;
    background: map-get($general-color, 'general-violet-90');
    top: -1px;
    left: -1px;
  }
  &.showReset {
    &:before,
    &:after {
      opacity: 1;
    }
  }
}

.button {
  background: map-get($general-color, 'general-grey-10');
  color: map-get($general-color, 'general-grey-100');
  &:hover {
    background: map-get($general-color, 'general-grey-20');
  }
  &.active {
    background: map-get($general-color, 'general-blue-10');
    color: map-get($general-color, 'general-violet-90');
    &:hover {
      background: map-get($general-color, 'general-blue-20');
    }
  }
  &.clear {
    &:after {
      background: map-get($extra-color, 'extra-red-90');
    }
    color: map-get($extra-color, 'extra-red-90');
    background: map-get($extra-color, 'extra-red-10');
    &:hover {
      background: map-get($extra-color, 'extra-red-10');
    }
  }
}

@keyframes trigger {
  30%,
  70% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(0deg);
  }
}
