@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 20px 40px;
  background: map-get($general-color, 'general-grey-10');
  .text {
    max-width: 670px;
  }
  .wrapper {
    display: flex;
    max-width: 444px;
    width: 100%;
    flex: 0 0 444px;
    align-items: center;
    .buttons {
      flex: 1 1 auto;
    }
    .icon {
      cursor: pointer;
    }
  }
}
