@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/fonts';

.wrapper {
  width: 100%;
  .button {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
    background: map-get($general-color, 'general-black-100');
    color: rgba(map-get($general-color, 'general-white-100'), 0.6);
    gap: 8px;
    cursor: pointer;
    border: none;
    appearance: none;
    transition: $transition-default;
    border-radius: $border-radius-default;
    user-select: none;

    &[data-type='module'] {
      &:before {
        position: absolute;
        content: '';
        width: 2px;
        height: 100%;
        background: map-get($general-color, 'general-violet-90');
        left: -14px;
        top: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        transition: $transition-default;
        opacity: 0;
      }

      &.selected {
        &:before {
          opacity: 1;
        }
      }
    }

    &:active,
    &:visited,
    &:focus {
      outline: 0;
    }

    .text {
      @include font-button;
      white-space: nowrap;
      transition: inset;
    }

    &.minimized {
      gap: 0;
      .text {
        font-size: 0;
      }
    }

    &:hover {
      color: map-get($general-color, 'general-white-100');
      background: rgba(map-get($general-color, 'general-grey-100'), 0.3);
    }

    &.selected {
      background: rgba(map-get($general-color, 'general-grey-100'), 0.3);
      color: map-get($general-color, 'general-white-100');
      &:hover {
        background: rgba(map-get($general-color, 'general-violet-90'), 0.3);
      }
    }
  }
}
