@import '../../../../../assets/styles/colors.scss';

.wrapper {
  display: flex;
  padding: 16px;
  width: 100%;
  border-radius: $border-radius-default;
  background: map-get($general-color, 'general-grey-10');
  .code {
    display: flex;
    flex-direction: column;
    .title {
      margin-top: 2px;
    }
    .item {
      display: inline-flex;
      align-items: center;
      background: map-get($general-color, 'general-black-100');
      padding: 8px;
      margin-top: 8px;
      border-radius: $border-radius-default;
      cursor: help;
      .info {
        margin-left: 8px;
      }
    }
  }
  .category,
  .subcategory {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    .title {
      margin-top: 2px;
    }
    .text {
      margin-top: 8px;
      line-height: 20px;
    }
  }
  .action {
    display: flex;
    flex-grow: 1;
    padding-left: 16px;
    gap: 12px;
    justify-content: flex-end;
    .icon {
      width: 24px;
      height: 24px;
    }
  }
}
