@import '../../../../../assets/styles/colors';

.header {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: map-get($general-color, 'general-grey-10');
  border-bottom: 1px solid map-get($general-color, 'general-grey-20');
  .wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    .block {
      display: flex;
      align-items: center;
      min-width: 140px;
      gap: 12px;
      .iconCircle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: map-get($general-color, 'general-grey-20');
      }
      .text {
        display: flex;
        flex-direction: column;
      }
    }
    .divider {
      position: relative;
      top: -2px;
    }
  }
  .actions {
    gap: 16px;
    display: flex;
    align-items: center;
    .close {
      width: 32px;
      height: 32px;
      background: map-get($general-color, 'general-white-100');
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $transition-default;
      border-radius: $border-radius-default;
      cursor: pointer;
    }
  }
}
