@import '../../../assets/styles/colors';

.wrapper {
  width: 350px;
  background: map-get($general-color, 'general-grey-10');
  border: 1px solid map-get($general-color, 'general-grey-20');
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  padding: 16px;

  .badge {
    position: absolute;
    content: '';
    top: -3px;
    right: -2px;

    width: 12px;
    height: 12px;
    border-radius: 50%;

    background: map-get($general-color, 'general-violet-90');
    border: 1px solid map-get($general-color, 'general-white-100');
  }

  &:hover {
    background:map-get($general-color, 'general-grey-20') ;
  }

  & .checkboxContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  & .collapseBtnContainer {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}