@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/fonts';

.component {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 16px 0;

  & .select_group {
    display: flex;
    align-items: center;
    gap: 12px;

    & .checkbox {
      padding: 8px;
      &:hover {
        border-radius: 10px;
        background: map-get($general-color, 'general-grey-20');
        height: 32px;
        padding: 8px;
      }
    }
    & .label {
      color: map-get($general-color, 'general-grey-100');
      @include font-caption-regular;
    }
  }

  & .button_group {
    display: flex;
    align-items: center;
    gap: 8px;

    & .clear_button {
      height: 32px;
      &:hover {
        background: map-get($extra-color, 'extra-red-10');
        color: map-get($extra-color, 'extra-red-90');
      }
    }
  }
}