@import '../../../../../../../assets/styles/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item {
  display: flex;
  align-items: center;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  gap: 4px;
  transition: $transition-default;
  border-radius: $border-radius-default;
  color: map-get($general-color, 'general-grey-100');
  cursor: pointer;
  position: relative;
  .icon {
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    &.opened {
      transform: rotate(90deg);
    }
  }
  .text_with_icon {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .name {
    max-width: 152px;
  }
  .add {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 8px;
    transition: inherit;
  }
  &:hover {
    background: map-get($general-color, 'general-grey-20');
    color: map-get($general-color, 'general-violet-90');
  }

  &.selected {
    background: map-get($general-color, 'general-grey-10');
    color: map-get($general-color, 'general-violet-100');

    &:hover {
      background: map-get($general-color, 'general-grey-20');
      color: map-get($general-color, 'general-violet-100');
    }

    &.disabled {
      cursor: not-allowed;
      color: map-get($general-color, 'general-grey-90');
    }
  }
}
