@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/inputWidth';

.wrapper {
  width: 100%;
  position: relative;
  transition: $transition-default;
  border-radius: $border-radius-default;
  @include inputWidth;

  .dropdown {
    display: inline-flex;
    width: 100%;
    padding: 9px 0;
    box-sizing: content-box;
    position: absolute;
  }

  .list {
    width: 100%;
    list-style: none;
    display: flex;
    background: map-get($general-color, 'general-white-100');
    box-shadow: 0 10px 30px rgba(192, 196, 205, 0.3);
    border-radius: 10px;
    z-index: 500;
    cursor: default;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    animation: slideInLeft 0.5s ease;
  }

  .select {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: $border-radius-default;
    border: 1px solid map-get($general-color, 'general-grey-20') ;
    transition: $transition-default;
    padding: 8px;

    .text {
      display: flex;
      align-items: center;
      font-size: 12px;
    }

    &.height {
      &_28 {
        height: 28px;

        .arrow {
          top: 6px;
        }
      }

      &_36 {
        height: 36px;

        .arrow {
          top: 10px;
        }
      }

      &_48 {
        height: 48px;

        .arrow {
          top: 16px;
        }
      }
    }

    &.background {
      &_grey-10 {
        background: map-get($general-color, 'general-grey-10');
      }

      &_transparent {
        background: transparent;
      }
    }
    &.active{
      border: 1px solid map-get($general-color, 'general-violet-90');
    }

    &:hover {
      color: map-get($general-color, 'general-violet-90');
      .arrow {
        color: map-get($general-color, 'general-violet-90');
      }
    }

    .arrow {
      transition: $transition-default;
      position: absolute;
      right: 12px;

      &.active {
        transform: rotate(180deg);
        color: map-get($general-color, 'general-violet-90');
      }

      &.color {
        &_default {
          color: map-get($general-color, 'general-grey-100');

          &.active {
            color: map-get($general-color, 'general-violet-90');
          }
        }
      }
    }

    &.disabled {
      cursor: not-allowed;
      color: map-get($general-color, 'general-grey-100');
    }
  }
}
