.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.main {
  display: flex;
  justify-content: space-between;
}

.text {
  display: flex;
}

.secondary {
  display: none;
  flex-direction: column;
  &.isOpen {
    display: flex;
  }
}

.icon {
  &.isClosed {
    transform: rotate(180deg);
  }
}
