@import '../../../assets/styles/colors';

.wrapper {
  position: relative;
  &.width {
    &_320 {
      max-width: 320px;
    }
    &_full {
      max-width: 100%;
    }
  }
  &.rules {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      bottom: 25px;
      transform: translateY(50%);
      background: map-get($general-color, 'general-grey-90');
      width: 7px;
      height: 7px;
      border-radius: 50%;
      left: -15px;
    }
  }
}

.autocomplete {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  max-height: 190px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background: map-get($general-color, 'general-white-100');
  box-shadow: 0 10px 30px rgba(192, 196, 205, 0.3);
  border-radius: $border-radius-default;
  padding: 10px;
  animation: suggestionSlideIn 0.5s ease;
}

.link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}

@keyframes suggestionSlideIn {
  from {
    opacity: 0;
    transform: translateY(90%);
  }
}
