@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/fonts';

.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 14px;
  width: 100%;
  background: map-get($general-color, 'general-black-100');
  transition: $transition-default;
  border-radius: $border-radius-default;
  border: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  position: relative;
  margin-top: 10px;
  @include font-button;
  &.type {
    &_navigation {
      color: map-get($general-color, 'general-white-100');
    }
    &_toggle {
      color: map-get($general-color, 'general-grey-90');
      &:hover {
        color: map-get($general-color, 'general-white-100');
      }
    }
  }
  &:active,
  &:visited,
  &:focus {
    outline: 0;
  }
  &:hover {
    background: rgba(map-get($general-color, 'general-grey-100'), 0.3);
  }
  &:before {
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background: map-get($general-color, 'general-violet-90');
    left: -14px;
    top: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: $transition-default;
    opacity: 0;
  }
  &.selected {
    background: rgba(map-get($general-color, 'general-grey-100'), 0.3);
    &:hover {
      background: rgba(map-get($general-color, 'general-violet-90'), 0.3);
    }
    &:before {
      opacity: 1;
    }
  }
  .icon {
    transition: $transition-default;
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    svg {
      transition: inherit;
    }
  }
  &.minimized {
    span:first-of-type {
      margin: 0;
    }
    span:last-of-type {
      font-size: 0;
    }
  }
}
