@import '../../../../assets/styles/colors';

.wrapper {
  margin-top: 16px;
  margin-right: 16px;
  margin-left: 16px;
  & .info {
    margin-left: 16px;
    margin-top: 8px;
  }
}

.inputs {
  display: flex;
  justify-content: space-between;
  position: relative;
  &.type {
    &_category {
      &:before {
        position: absolute;
        content: '';
        bottom: 25px;
        transform: translateY(50%);
        background: map-get($general-color, 'general-grey-90');
        width: 7px;
        height: 7px;
        border-radius: 50%;
        left: -15px;
      }
    }
    &_division,
    &_counterparty,
    &_thirdparty {
      &:before {
        position: absolute;
        content: '';
        bottom: 25px;
        transform: translateY(50%);
        background: map-get($general-color, 'general-grey-90');
        width: 12px;
        height: 1px;
        left: -12px;
      }
      &:after {
        position: absolute;
        content: '';
        bottom: 25px;
        background: map-get($general-color, 'general-grey-90');
        width: 1px;
        height: calc(100% + 16px);
        left: -12px;
      }
    }
  }
  & .delete {
    opacity: 0;
    position: absolute;
    content: '';
    bottom: 25px;
    transform: translateY(50%);
    right: -21px;
    color: map-get($general-color, 'general-grey-100');
    cursor: pointer;
    transition: $transition-default;
    svg path {
      fill: currentColor;
    }
    &:hover {
      color: map-get($extra-color, 'extra-red-90');
    }
  }
  &:hover {
    & .delete {
      opacity: 1;
    }
  }
}
