@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/fonts';

.item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: $border-radius-default;
  transition: $transition-default;
  user-select: none;
  color: map-get($general-color, 'general-grey-100');
  @include font-caption-regular;
  min-width: 0;
  justify-content: space-between;
  gap: 8px;

  &.height {
    &_32 {
      height: 32px;
    }

    &_40 {
      height: 40px;
    }
  }

  & .currentColor {
    svg path {
      fill: currentColor;
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 4px;
  }

  &:hover {
    background: map-get($general-color, 'general-grey-20');
  }

  &.selected {
    background: map-get($general-color, 'general-grey-10');
    color: map-get($general-color, 'general-violet-100');

    &:hover {
      background: map-get($general-color, 'general-grey-20');
    }

    &.disabled {
      cursor: not-allowed;
      color: map-get($general-color, 'general-grey-90');
    }
  }

  & .labelWrapper {
    flex: 1;
    min-width: 0;
    display: flex;
    align-items: center;
    gap: 8px;

    & .iconWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }

    & .label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  & .input {
    flex-shrink: 0;
  }

  &.disabled {
    cursor: not-allowed;
    color: map-get($general-color, 'general-grey-90');
  }
}
