@import '../../../assets/styles/colors';

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgba(99, 103, 246, 0.12);
  width: 30px;
  height: 30px;
  border: none;
  border-radius: $border-radius-default;
  user-select: none;
}
