@import '../../../assets/styles/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  .title {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    .icon {
      transition: $transition-default;
      &.active {
        transform: rotate(90deg);
      }
    }
    .text {
      margin-left: 8px;
    }
  }
  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.4s linear;
    opacity: 0;
    &.visible {
      max-height: 100vh;
      overflow: visible;
      opacity: 1;
    }
  }
}
