@import '../../../../../assets/styles/colors';

.wrapper {
  display: inline-flex;
  height: 24px;
  border-radius: 6px;
  background: map-get($general-color, 'general-grey-20');
  color: map-get($general-color, 'general-grey-100');
  padding: 4px 8px;
  max-width: 128px;
  gap: 4px;

  .divider {
    width: 1px;
    height: 24px;
    position: relative;
    top: -4px;
    background: map-get($general-color, 'general-white-100');
  }
}
