@import '../../assets/styles/colors';

.component {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  transition: $transition-default;
  cursor: pointer;
  color: map-get($general-color, 'general-grey-100');
  &:not(:last-of-type) {
    margin-bottom: 3px;
  }
  &.normal:hover {
    background: map-get($general-color, 'general-grey-10');
  }
  &.error:hover {
    background: #feefef; // change color later
  }
  & .icon {
    font-size: 0;
    svg path {
      fill: currentColor;
    }
  }
  & .text {
    margin: 0 10px;
    transition: unset;
  }
  &.default {
    min-width: 170px;
  }
  &:hover {
    color: map-get($general-color, 'general-violet-90');
  }
  &.button {
    height: 40px;
    justify-content: center;
  }
  &.option {
    height: 40px;
  }
  &.width {
    &_210 {
      min-width: 210px;
    }
    &_240 {
      min-width: 240px;
    }
  }
}
