.blurBackground {
  background: rgba(255, 255, 255, 0.9);
  //backdrop-filter: blur(2px);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  z-index: 2;
}