@import '../../../../../assets/styles/fonts';
@import '../../../../../assets/styles/colors';

.item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: $border-radius-default;
  transition: $transition-default;
  user-select: none;
  color: map-get($general-color, 'general-grey-100');
  @include font-caption-regular;
  min-width: 0;
  justify-content: space-between;
  gap: 8px;

  &.height {
    &_32 {
      height: 32px;
    }

    &_40 {
      height: 40px;
    }
  }

  &:hover {
    background: map-get($general-color, 'general-blue-10');
    color: map-get($general-color, 'general-violet-90');
  }

  &.selected {
    background: map-get($general-color, 'general-grey-10');
    color: map-get($general-color, 'general-violet-100');
    &::after {
      content: '';
      width: 16px;
      height: 16px;
      background-image: url("../../../../../assets/svg/16/check-violet.svg");
    }

    &:hover {
      background: map-get($general-color, 'general-blue-10');
      color: map-get($general-color, 'general-violet-100');
    }
  }
}
