@import '../../../assets/styles/colors';

.divider {
  display: flex;
  border-radius: 1px;
  &.horizontal {
    flex-grow: 1;
    height: 1px;
    max-height: 1px;
    &.position {
      &_left {
        margin-right: 8px;
      }
      &_right {
        margin-left: 8px;
      }
      &_both {
        margin-right: 8px;
        margin-left: 8px;
      }
    }
    &.fullHorizontalWidth {
      width: 100%;
      flex-shrink: 0;
    }
  }
  &.vertical {
    &.height {
      &_12 {
        height: 10px;
      }
      &_16 {
        height: 16px;
      }
      &_20 {
        height: 20px;
      }
      &_26 {
        height: 26px;
      }
      &_38 {
        height: 38px;
      }
      &_full {
        height: 100%;
      }
      &_auto {
        height: auto;
      }
    }
    width: 1px;
  }
  @include background-colors-new;
}
