@import '../../../assets/styles/colors';

@mixin common {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;

  color: map-get($general-color, 'general-grey-100');

  &.background {
    &_grey-20 {
      background: map-get($general-color, 'general-grey-20');

      &:hover{
        background: map-get($general-color, 'general-grey-30');
      }
    }
    &_grey-30 {
      background: map-get($general-color, 'general-grey-30');
    }

    &_blue-10 {
      background: map-get($general-color, 'general-blue-10');
      color: map-get($general-color, 'general-violet-90');

      &:hover {
        background: map-get($general-color, 'general-blue-20');
        color: map-get($general-color, 'general-violet-90');
      }
    }
  }
}

.container {
  display: flex;
  max-width: 100%;
}

.wrapper {
  border-radius: 6px;
  padding: 4px 8px;
  max-width: 100%;
  gap: 4px;

  @include common;

  .tooltip_wrapper {
    display: flex;
    align-items: center;
  }

  & .labels {
    min-width: 24px;
  }
  & .main_label {
    flex: 1;
    @extend .labels
  }
}

.wrapper {
  &.multiple {
    border-radius: 6px 0 0 6px;
  }
}

.counter {
  border-radius: 0 6px 6px 0;
  padding: 4px 8px 4px 0;
  cursor: pointer;
  @include common;

  .divider {
    width: 1px;
    height: 24px;
    position: relative;
    background: map-get($general-color, 'general-white-100');
    margin-right: 4px;
  }
}
