@import '../../../assets/styles/colors';

.component {
  display: flex;
  position: relative;

  & .item {
    &.margin_left {
      &_9 {
        margin-left: -9px;
      }
      &_5 {
        margin-left: -5px;
      }

    }
    border: 1px solid map-get($general-color, 'general-white-100');
  }
}