@import '../../../../assets/styles/colors';

.card {
  margin-bottom: 10px;
  transition: $transition-default;
  .toggle {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    transition: $transition-default;
    cursor: pointer;
    background: map-get($general-color, 'general-white-100');
    border-radius: $border-radius-default;
    &:after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -20px;
      content: url(../../../../assets/svg/16/caret-both.svg);
      opacity: 1;
      transition: $transition-default;
    }
    &:before {
      position: absolute;
      content: '';
      background: map-get($general-color, 'general-grey-100');
      height: 1px;
      width: calc(100% + 28px);
      bottom: -15px;
      left: -14px;
      opacity: 0;
      transition: $transition-default;
    }
  }
  .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &.name {
      height: 28px;
      width: 140px;
    }
    &.type {
      height: 16px;
      width: 90px;
    }
  }
  &.mini {
    margin-bottom: 0;
    .toggle {
      width: 44px;
      height: 44px;
      margin-bottom: 30px;
      &:after {
        opacity: 0;
      }
      &:before {
        opacity: 1;
      }
    }
    .text {
      width: 0;
      height: 0;
    }
  }
}
