.component {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease, opacity 0.25s linear, margin-top 0.25s ease;
  opacity: 0;
  //
  &.margins {
    &_default {
      margin-top: 0;
      margin-right: 24px;
      margin-left: 24px;
    }
    &_none {
      margin: 0;
    }
  }
  &.active {
    margin-top: 24px;
    max-height: 20vh;
    overflow: visible;
    opacity: 1;
  }
}
