@import '../../../assets/styles/colors';

.component {
  display: flex;
  justify-content: center;
  position: relative;
  width: 120px;
  height: 120px;
  background: map-get($general-color, 'general-grey-10');
  border: 1px dashed map-get($general-color, 'general-grey-20');
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background: map-get($general-color, 'general-blue-20');
  }
  &.delete {
    opacity: 0;
    background: rgba(map-get($extra-color, 'extra-red-90'), 0.9);
    &:hover {
      opacity: 1;
    }
  }
  &_text {
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: center;
  }

}
.picker_container {
  width: 504px;
  height: 261px;
  border: 1px solid map-get($general-color, 'general-grey-20');
  border-radius: 20px;
  background: map-get($general-color, 'general-grey-10');
  box-shadow: 0 4px 34px 0 rgba(0, 0, 0, 0.14);

}
.icons {
  display: flex;
  flex-wrap: wrap;
}
.icon {
  padding: 10px;
}
.chosen_icon {
  transform: scale(2, 2);
}