@import '../../../../assets/styles/grid';

.body {
  @include display;
  &.margin {
    &_default {
      margin: 10px 20px;
    }
    &_none {
      margin: 10px 0;
    }
  }
  &.display_table {
    width: calc(100% - 40px);
  }
  &.noResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 40px);
    height: calc(100% - 10px);
    margin: 0 auto;
  }
}
