@import '../../../../assets/styles/colors';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  position: sticky;
  top: 0;
  transform: translateY(-1px);

  &.margin {
    &_default {
      margin-bottom: 8px;
    }
    &_none {
      margin-bottom: 0;
    }
  }
  &.background {
    &_transparent {
      background-color: transparent;
      border: 1px solid transparent;
    }
    &_grey-10 {
      background-color: map-get($general-color, 'general-grey-10');
      border: 1px solid map-get($general-color, 'general-grey-10');
    }
    &_white-100 {
      background-color: map-get($general-color, 'general-white-100');
      border: 1px solid map-get($general-color, 'general-white-100');
    }
  }
  &.radius {
    &_0 {
      border-radius: 0;
    }
    &_10 {
      border-radius: $border-radius-default;
    }
  }
}
