@import '../../../../assets/styles/colors';

.container {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  max-width: 645px;
  width: 100%;
  background: map-get($general-color, 'general-grey-10');
  border-radius: $border-radius-default;
  & .title {
    width: 130px;
    margin-right: 7px;
  }
  & .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 460px;
    width: 100%;
  }
  &:not(:first-of-type) {
    margin-top: 4px;
  }
}
