@import '../../../../../assets/styles/colors';

.component {
  width: 100%;
  background: rgba(map-get($extra-color, 'extra-red-90'), 0.1);
  transition: $transition-default;
  border-radius: $border-radius-default;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 8px;
  &.width {
    &_112 {
      max-width: 96px;
    }
    &_150 {
      max-width: 134px;
    }
    &_190 {
      max-width: 174px;
    }
    &_192 {
      max-width: 176px;
    }
    &_215 {
      max-width: 201px;
    }
    &_230 {
      max-width: 214px;
    }
    &_260 {
      max-width: 244px;
    }
    &_300 {
      max-width: 284px;
    }
    &_320 {
      max-width: 304px;
    }
    &_408 {
      max-width: 392px;
    }
    &_full {
      max-width: 100%;
    }
  }
  &:first-of-type {
    margin-top: 8px;
  }
  &:not(:first-of-type) {
    margin-top: 4px;
  }
  .text {
    margin-left: 8px;
  }
}
