@import '../../../../../assets/styles/colors';

.header {
  position: relative;
  display: flex;
  align-items: center;
  color: map-get($general-color, 'general-black-100');
  padding: 0 24px;
  flex-shrink: 0;
  &.border {
    border-bottom: 1px solid map-get($general-color, 'general-grey-20');
  }
  &.radius {
    border-radius: $border-radius-default;
  }
  &.type {
    &_default {
      width: 100%;
    }
    &_fullwidth {
      max-width: 100%;
      margin: 20px 20px 0;
    }
  }
  &.height {
    &_40 {
      height: 40px;
    }
    &_60 {
      height: 60px;
    }
    &_72 {
      height: 72px;
    }
    &_80 {
      height: 80px;
    }
    &_96 {
      height: 96px;
    }
    &_128 {
      height: 128px;
    }
  }
  &.background {
    &_white-100 {
      background: map-get($general-color, 'general-white-100');
    }
    &_grey-10 {
      background: map-get($general-color, 'general-grey-10');
    }
  }
  &.titlePosition {
    &_left {
      justify-content: flex-start;
    }
    &_center {
      justify-content: center;
    }
    &_right {
      justify-content: flex-end;
      .iconBtn_group {
        left: 24px;
      }
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: map-get($general-color, 'general-white-100');
    transition: $transition-default;
    border-radius: $border-radius-default;

    &.background {
      &_white-100 {
        background: map-get($general-color, 'general-white-100');
        &:hover {
          background: map-get($general-color, 'general-grey-20');
        }
      }
      &_grey-10 {
        background: map-get($general-color, 'general-grey-10');
        &:hover {
          background: map-get($general-color, 'general-grey-20');
        }
      }
      &_inherit {
        background: inherit;
        &:hover {
          background: map-get($general-color, 'general-grey-20');
        }
      }
    }
    &.closeSize {
      &_24 {
        width: 24px;
        height: 24px;
      }
      &_32 {
        width: 32px;
        height: 32px;
      }
    }
  }
  .back {
    cursor: pointer;
    transition: all 0.25s ease;
    width: 16px;
    height: 16px;
    margin-right: 16px;
    &:hover {
      width: 20px;
      margin-right: 12px;
      transform: translateX(-4px);
    }
  }
  .tag {
    display: inline-flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 72px;
  }
  .iconBtn_group {
    display: flex;
    gap: 24px;
    position: absolute;
    right: 48px;
  }
}
