@import '../../../../../assets/styles/colors';

.component {
  display: flex;
  align-items: center;
  width: 350px;
  height: 72px;
  padding: 0 16px;
  background: map-get($general-color, 'general-grey-10');
  border-radius: $border-radius-default;
  transition: $transition-default;
  cursor: pointer;
  & .logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 16px 16px 0;
    background: map-get($general-color, 'general-grey-100');
    transition: $transition-default;
    flex-shrink: 0;
  }
  & .information {
    display: flex;
    flex-direction: column;
    color: map-get($general-color, 'general-grey-100');
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &:hover {
    background: map-get($general-color, 'general-blue-10');
    & .logo {
      background: map-get($general-color, 'general-violet-90');
    }
    & .information {
      color: map-get($general-color, 'general-violet-90');
    }
  }
}
