@import '../../../../assets/styles/colors';

.wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
  padding-bottom: 8px;
  .item {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    transition: $transition-default;
    cursor: pointer;
    user-select: none;
    position: relative;
    &:after {
      position: absolute;
      content: url(../../../../assets/svg/v2/12/chevron-up.svg);
      width: 12px;
      height: 12px;
      font-size: 0;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: $transition-default;
    }
    &:not(.active):hover {
      color: map-get($general-color, 'general-grey-100');
    }
    &.active {
      &:after {
        opacity: 1;
      }
    }
    &.disabled {
      cursor: not-allowed;
    }
  }
}

.old {
  .wrapper {
    &:not(:last-of-type) {
      margin-right: 30px;
    }
  }

  .tab {
  }
}

// .wrapper {
//   display: inline-flex;
//   overflow: hidden;
//   height: 32px;
//   border: 1px solid map-get($general-color, 'general-violet-90');
//   border-radius: $border-radius-default;
// }

// .item {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-width: 110px;
//   padding: 8px;
//   color: map-get($general-color, 'general-violet-90');
//   transition: $transition-default;
//   cursor: pointer;
//   &.active {
//     background: map-get($general-color, 'general-violet-90');
//     .text {
//       color: map-get($general-color, 'general-white-100');
//     }
//   }
// }
