@import '../../assets/styles/colors';
@import '../../assets/styles/fonts';
@import '../../assets/styles/inputWidth';

.selectDropdownWrapper {
  position: fixed;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  background: map-get($general-color, 'general-white-100');
  box-shadow: 0 10px 30px rgba(192, 196, 205, 0.3);
  border: 1px solid map-get($general-color, 'general-grey-20');
  border-radius: $border-radius-default;
  transition: $transition-default;

  padding: {
    top: 8px;
    bottom: 8px;
    right: 6px;
    left: 2px;
  }

  z-index: 10;

  &.mode {
    &_top-left {
      animation: SelectBottom 0.5s ease;
    }

    &_top-right {
      animation: SelectBottom 0.5s ease;
    }

    &_right-top {
      animation: SelectLeft 0.5s ease;
    }

    &_right-bottom {
      animation: SelectLeft 0.5s ease;
    }

    &_bottom-right {
      animation: SelectTop 0.5s ease;
    }

    &_bottom-left {
      animation: SelectTop 0.5s ease;
    }

    &_left-bottom {
      animation: SelectRight 0.5s ease;
    }

    &_left-top {
      animation: SelectRight 0.5s ease;
    }
  }
}

@keyframes SelectLeft {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
}

@keyframes SelectRight {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
}

@keyframes SelectBottom {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes SelectTop {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
}
