.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 20px;
  padding: 24px;

  &_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-width: 220px;
  }
}
