@import '../../../assets/styles/colors';

.component {
  display: flex;
  align-items: flex-end;
  & .input {
    display: none;
  }
  & .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: $border-radius-default;
    border: 1px dashed map-get($general-color, 'general-grey-90');
    &.image {
      border: transparent;
    }
    &.empty {
      background: map-get($general-color, 'general-grey-10');
      svg path {
        fill: map-get($general-color, 'general-grey-90');
      }
    }
  }
}
