@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';

.sidebar {
  width: 220px;
  // border-right: 2px solid #F6F6F6;
  padding: 30px 10px;
  // flex: 0 0 auto;
  border-radius: 10px;
  order: 1;
  background: map-get($general-color, 'general-white-100');

  &.medium {
    width: 220px;
  }

  &.small {
    width: 190px;
  }
}
