@import '../../../../../../assets/styles/colors';
@import '../../../../../../assets/styles/fonts';

.item {
  display: flex;
  align-items: center;
  border-radius: $border-radius-default;
  @include font-caption-regular;
  min-width: 0;
  cursor: pointer;
  height: 50px;
  padding: 8px;
  transition: $transition-default;
  user-select: none;
  gap: 8px;
  &:not(:last-of-type) {
    margin-bottom: 4px;
  }

  .icon {
    color: map-get($general-color, 'general-black-100');
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: calc(100% - 32px);
    .label {
      color: map-get($general-color, 'general-black-100');
      transition: $transition-default;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .secondaryLabel {
      color: map-get($general-color, 'general-grey-100');
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &:hover {
    background: map-get($general-color, 'general-grey-10');

    .icon {
      color: map-get($general-color, 'general-violet-90');
    }

    .text {
      .label {
        color: map-get($general-color, 'general-violet-90');
      }
    }
  }

  &.selected {
    background: map-get($general-color, 'general-grey-20');
    .icon {
      color: map-get($general-color, 'general-violet-100');
    }

    & .label {
      color: map-get($general-color, 'general-violet-100');
    }

    &:hover {
      color: map-get($general-color, 'general-violet-100');
    }
  }
}
