@import '../../../assets/styles/colors';

.component {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: $border-radius-default;
  gap: 4px;
  &.background {
    &_grey-10 {
      background: map-get($general-color, 'general-grey-10');
    }
    &_white-100 {
      background: map-get($general-color, 'general-white-100');
    }
  }
  &.height {
    &_24 {
      height: 24px;
    }
    &_32 {
      height: 32px;
    }
  }
  .edit {
    margin-left: 12px;
  }
}

.customWrapper {
  display: grid;
  grid-template-areas: 'from from to' 'selected equal base';
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 20px 32px;
  gap: 4px 8px;
  align-items: center;
  .from {
    grid-area: from;
    align-self: flex-end;
  }
  .to {
    grid-area: to;
    align-self: flex-end;
  }
  .selected {
    grid-area: selected;
  }
  .base {
    grid-area: base;
  }
  .equal {
    grid-area: equal;
  }
}
