@import '../../../../assets/styles/colors';

.wrapper {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-top: 24px;
}

.component {
  display: flex;
  background: map-get($general-color, 'general-grey-10');
  padding: 8px 0 8px 24px;
  border-radius: $border-radius-default;
  transition: $transition-default;
  overflow: hidden;
  max-height: 300px;
  &.showActiveTag {
    background: map-get($general-color, 'general-blue-10');
  }
  &.mini {
    max-height: 64px;
  }
  .arrow {
    transition: $transition-default;
    &.active {
      transform: rotate(180deg);
    }
  }
}

.data {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sum {
  width: 140px;
  padding-left: 16px;
  padding-right: 16px;
}

.currency {
  width: 80px;
  padding-left: 16px;
  padding-right: 16px;
}

.row {
  display: flex;
}

// h64px
// ovhidden

// Dot element which is shown when search is active

.component {
  position: relative;
  &:before,
  &:after {
    position: absolute;
    transition: $transition-default;
    content: '';
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
  }
  &:before {
    width: 12px;
    height: 12px;
    background: map-get($general-color, 'general-white-100');
    top: 0;
    left: 0;
  }
  &:after {
    width: 8px;
    height: 8px;
    background: map-get($general-color, 'general-violet-90');
    top: 2px;
    left: 2px;
  }
  &.showActiveTag {
    &:before,
    &:after {
      opacity: 1;
    }
  }
}
