@import '../../../../assets/styles/colors';

.component {
  display: flex;
  padding: 4px 16px;
  gap: 16px;
  align-items: center;
  cursor: pointer;
  max-width: 360px;
  border-width: 1px;
  border-style: solid;
  border-radius: $border-radius-default;
  min-height: 52px;
  transition: $transition-default;

  .info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  background: map-get($general-color, 'general-grey-10');
  border-color: map-get($general-color, 'general-grey-20');
  &:hover {
    background: map-get($general-color, 'general-grey-20');
  }

  .text {
    &.color {
      &_black-100 {
        color: map-get($general-color, 'general-black-100');
      }
      &_grey-100 {
        color: map-get($general-color, 'general-grey-100');
      }
    }
  }

  &.checked {
    background: map-get($general-color, 'general-blue-10');
    border-color: map-get($general-color, 'general-blue-20');
    .text {
      color: map-get($general-color, 'general-violet-90');
    }
  }
}
