@import '../../../../../../assets/styles/colors';

.component {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(map-get($general-color, 'general-black-100'), 0.7);
  cursor: wait;
}
