@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/grid';

.wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.type {
    &_old {
      justify-content: center;
      align-items: center;
    }

    &_new {
      justify-content: flex-end;
    }

    &_new-bottom {
      flex-direction: column;
      justify-content: flex-end;
    }

    &_small {
      justify-content: flex-end;
    }
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  // animation: fadeInOverlay .25s ease;
  &_black-100 {
    background: rgba(map-get($general-color, 'general-black-100'), 0.4);
  }

  &_grey-10 {
    background: map-get($general-color, 'general-grey-10');
  }

  &_white-100 {
    background: rgba(map-get($general-color, 'general-white-100'), 0.7);
  }

  &_violet-90 {
    background: map-get($general-color, 'general-violet-90');
  }

  &_none {
    background: transparent;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  overflow: hidden;

  &.type {
    &_old {
      border-radius: 10px;
      animation: fadeIn 0.25s ease;

      border: 1px solid map-get($general-color, 'general-grey-20');
      box-shadow: 0 5px 17px 0 rgba(153, 152, 152, 0.18);

      &.size {
        &_minimal {
          max-width: 920px;
          max-height: 78px;

          & .body {
            max-width: 600px;
          }
        }

        &_450 {
          max-width: 450px;
          max-height: 220px;

          & .body {
            max-width: 100%;
          }
        }

        &_530 {
          max-width: 530px;

          & .body {
            max-width: 100%;
          }
        }

        &_580 {
          max-width: 580px;

          & .body {
            max-width: 100%;
          }
        }

        &_614 {
          max-width: 614px;
          max-height: 545px;

          & .body {
            max-width: 100%;
          }
        }

        &_630 {
          max-width: 630px;
          max-height: 336px;
        }

        &_800 {
          max-width: 800px;
          max-height: 630px;

          & .body {
            max-width: 100%;
            height: 100%;
          }
        }

        &_820 {
          max-width: 820px;
          max-height: 463px;
        }

        &_912 {
          max-width: 912px;
          max-height: 452px;
        }

        &_920 {
          max-width: 920px;
          max-height: 660px;

          & .body {
            max-width: 100%;
            height: 100%;
          }
        }

        &_960 {
          max-width: 960px;
          max-height: 660px;

          & .body {
            max-width: 100%;
            height: 100%;
          }
        }

        &_990 {
          max-width: 990px;
          max-height: 660px;

          & .body {
            max-width: 100%;
            height: 100%;
          }
        }

        &_1040 {
          max-width: 1040px;
          max-height: 660px;

          & .body {
            max-width: 100%;
            height: 100%;
          }
        }

        &_1130 {
          max-width: 1132px;
          max-height: 450px;
          height: 100%;

          & .body {
            max-width: 100%;
            height: 100%;
          }
        }

        &_1288 {
          max-width: 1288px;
          max-height: 610px;
        }

        &_1392 {
          max-width: 1392px;
          max-height: 772px;
          & .body {
            max-width: 100%;
            height: 100%;
          }
        }

        &_xs {
          max-width: 690px;
          max-height: 340px;

          & .body {
            max-width: 450px;
          }
        }

        &_sm {
          max-width: 690px;
          max-height: 450px;

          & .body {
            max-width: 450px;
          }
        }

        &_md-narrow {
          max-width: 920px;
          max-height: 77vh;

          & .body {
            max-width: 480px;
          }
        }

        &_md-medium {
          max-width: 920px;
          max-height: 77vh;

          & .body {
            max-width: 550px;
            padding: 0 5px;
            // original 540px
          }
        }

        &_md-wide {
          max-width: 920px;
          max-height: 77vh;

          & .body {
            max-width: 600px;
          }
        }

        &_md-extrawide {
          max-width: 920px;
          max-height: 77vh;

          & .body {
            max-width: 710px;
          }
        }

        &_full {
          width: 100%;
          height: 100%;

          & .scroller {
            height: 100%;
          }

          & .body {
            height: 100%;
          }
        }

        &_lg {
          max-width: 1280px;
        }

        &_xl {
          max-width: 1920px;
        }
      }

      &.height {
        &_auto {
          height: auto;
          min-height: auto;
        }

        &_220 {
          min-height: 220px;
        }

        &_336 {
          min-height: 336px;
        }

        &_540 {
          max-height: 540px;
        }

        &_575 {
          max-height: 575px;
        }

        &_495 {
          min-height: 495px;
        }

        &_690 {
          min-height: 690px;
        }

        &_739 {
          min-height: 739px;
        }

        &_minimal {
          min-height: auto;
        }
      }
    }

    &_new {
      &.size {
        &_720 {
          max-width: 720px;
          animation: fadeInNew720 0.5s ease;
        }

        &_960 {
          max-width: 960px;
          animation: fadeInNew720 0.5s ease;
        }

        &_1040 {
          max-width: 1040px;
          animation: fadeInNew1040 0.5s ease;

          .body {
            height: 100%;
          }
        }

        &_full-with-scroll {
          width: 100%;
          height: 100%;

          & .scroller {
            height: 100%;
          }

          & .body {
            height: 100%;
          }
        }

        &_full {
          width: 100%;
          height: 100%;
          animation: fadeInNewFull 0.5s ease;
        }
      }
    }

    &_new-bottom {
      .body {
        height: 100%;
      }

      &.size {
        &_720 {
          max-height: 720px;
          animation: fadeInNewBottom720 0.5s ease;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;

          &.animationDisabled {
            animation: unset;
          }
        }

        &_full {
          width: 100%;
          height: 100%;
          animation: fadeInNewBottomFull 0.5s ease;

          &.animationDisabled {
            animation: unset;
          }
        }
      }
    }

    &_small {
      border-radius: 10px;
      animation: fadeIn 0.25s ease;

      border: 1px solid map-get($general-color, 'general-grey-20');
      box-shadow: 0 5px 17px 0 rgba(153, 152, 152, 0.18);

      &.size {
        &_352 {
          max-width: 352px;
          max-height: 456px;
        }
      }
    }
  }

  &.padding {
    &_default {
      .main {
        padding: 24px 8px 8px 24px;
      }
    }

    &_24 {
      .main {
        padding: 24px;
      }
    }

    &_none {
      .main {
        padding: 0;
      }
    }
  }

  &.centered {
    align-items: center;
  }

  & .main {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  & .scroller {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
  }

  & .body {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
    @include flex-direction;
    @include justify-content;
    @include align-items;
    @include align-content;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &.background {
    &_white-100 {
      background: map-get($general-color, 'general-white-100');
    }

    &_grey-10 {
      background: map-get($general-color, 'general-grey-10');
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInNew720 {
  from {
    opacity: 0;
    transform: translateX(720px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInNew1040 {
  from {
    opacity: 0;
    transform: translateX(1040px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInNewFull {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInNewBottom720 {
  from {
    opacity: 0;
    transform: translateY(720px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInNewBottomFull {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInOverlay {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
