.userInfoWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: inherit;

  & .container {
    width: 100%;
  }
}

.logoWrapper {
  flex-shrink: 0;
}

.isLogo {
  margin-left: 8px;
}
