@import '../../../../../assets/styles/colors';

.card {
  width: 148px;
  min-height: 116px;
  transition: $transition-default;
  color: map-get($general-color, 'general-black-100');
  background: map-get($general-color, 'general-grey-10');
  border-radius: $border-radius-default;
  padding: 12px 12px 8px 12px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  &:hover {
    color: map-get($general-color, 'general-violet-90');
    background: map-get($general-color, 'general-blue-10');
  }
  &.active {
    color: map-get($general-color, 'general-violet-90');
    background: map-get($general-color, 'general-blue-10');
    &:hover {
      color: map-get($general-color, 'general-violet-100');
    }
  }
  .tick {
    position: absolute;
    top: 12px;
    right: 12px;
    transition: opacity 0.25s ease;
    &:not(.active) {
      opacity: 0;
    }
  }
  .description,
  .toggle {
    margin-top: 8px;
  }
  .pretext {
    font-weight: 700;
  }
  .details {
    transition: max-height 0.35s ease, opacity 0.6s ease, margin-top 0.35s ease;
    max-height: 200px;
    margin-top: 8px;
    &.hidden {
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      margin-top: 0;
    }
  }
  .toggle {
    position: relative;
    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 3px;
      height: 3px;
      border-right: 1px solid currentColor;
      border-top: 1px solid currentColor;
      right: -8px;
      top: 50%;
      transform: rotateZ(-45deg);
      transition: transform 0.4s ease;
    }
    &.hidden {
      &:before {
        transform: translateY(-50%) rotateZ(135deg);
      }
    }
  }
}
