@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';

.wrapper {
  display: flex;
  flex-direction: column;
  background: map-get($general-color, 'general-white-100');
  border-radius: 10px;
  padding: 16px;
  gap: 12px;
  width: 100%;

  .envelope {
    margin-right: 16px;
  }

  .mail {
    display: flex;
    align-items: center;
  }

  .notes {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .input {
    border: none;
    flex-grow: 1;
    text-overflow: ellipsis;
    animation: fadeIn 0.5s ease;
    @include font-body-regular-14;
    &:focus {
      outline: 0;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
