@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/inputWidth';

:global {
  @import '../../../../assets/scss/DatePickerGeneral';
}

.wrapper {
  position: relative;
  width: 100%;

  .label {
    display: flex;
    top: 17px;
    left: 42px;
    font-size: 14px;
    line-height: 14px;
    user-select: none;
    pointer-events: none;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    color: map-get($general-color, 'general-grey-100');
    transition: $transition-default;

    &.focused {
      color: map-get($general-color, 'general-violet-90');
    }

    &.required {
      &:after {
        position: relative;
        content: '*';
        top: 0;
        right: -1px;
        color: map-get($extra-color, 'extra-red-90');
      }
    }

    &.focused,
    &.notEmpty {
      top: 6px;
      font-size: 12px;
      line-height: 12px;
    }

    &.disabled {
      cursor: not-allowed;
      color: map-get($general-color, 'general-grey-90');

      & ~ .input {
        .icon {
          color: map-get($general-color, 'general-grey-90');
        }
      }

      &:not(.focused):not(.notEmpty) {
        & ~ .input {
          .icon {
            color: map-get($general-color, 'general-grey-90');
          }
        }
      }

      &.required {
        &:after {
          position: relative;
          content: '*';
          top: 0;
          right: -1px;
          color: map-get($extra-color, 'extra-red-20');
        }
      }
    }

    &.readOnly {
      cursor: not-allowed;
      color: map-get($general-color, 'general-grey-100');

      & ~ .input {
        .icon {
          color: map-get($general-color, 'general-grey-100');
        }
      }

      &:not(.focused):not(.notEmpty) {
        & ~ .input {
          .icon {
            color: map-get($general-color, 'general-grey-100');
          }
        }
      }

      &.required {
        &:after {
          position: relative;
          content: '*';
          top: 0;
          right: -1px;
          color: map-get($extra-color, 'extra-red-90');
        }
      }
    }

    &.error {
      color: map-get($extra-color, 'extra-red-90');

      & ~ .input {
        .icon {
          color: map-get($extra-color, 'extra-red-90');
        }
      }

      &:not(.focused):not(.notEmpty) {
        & ~ .input {
          .icon {
            color: map-get($extra-color, 'extra-red-90');
          }
        }
      }

      &.required {
        &:after {
          position: relative;
          content: '*';
          top: 0;
          right: -1px;
          color: map-get($extra-color, 'extra-red-90');
        }
      }
    }
  }

  @include inputWidth;

  .input {
    position: relative;
    width: 100%;

    .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 16px;
      color: map-get($general-color, 'general-grey-100');
      transition: $transition-default;

      &.error {
        color: map-get($extra-color, 'extra-red-90');
      }

      &.hovered {
        background: map-get($general-color, 'general-grey-20');
      }
    }
  }
}

@keyframes calendarAnimation {
  from {
    opacity: 0;
    transform: translateY(60px) translate3d(0px, 50px, 0px);
  }
}
