@import '../../../assets/styles/colors';

.progress_bar {
  display: flex;
  align-items: center;
  &.left {
    justify-content: left;
  }
  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: right;
  }
  & .text {
    margin-right: 16px;
  }
  & .item {
    width: 60px;
    height: 2px;
    background: map-get($general-color, 'general-grey-90');
    border-radius: 1px;
    &:not(:last-of-type) {
      margin-right: 4px;
    }
    &.active {
      background-color: map-get($general-color, 'general-violet-90');
    }
  }
}
