@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';

.component {
  @include font-caption-regular;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  border-radius: 30px;
  width: 432px;
  min-height: 140px;
  padding: 16px 24px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 14px;
  position: relative;
  user-select: none;
  z-index: 1;
  animation: fadeIn 0.5s ease;

  background: rgba(map-get($general-color, 'general-black-100'), 0.9);
  color: map-get($general-color, 'general-grey-10');
  box-shadow: 0 5px 17px 0 rgba(153, 152, 152, 0.18);

  .text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .page_switcher_container {
    display: flex;
    align-items: center;
    gap: 8px;

    .title {
      @include font-body-regular-14
    }

  }

  .buttons_container {
    display: flex;
    gap: 24px;

    .btn {
      @include font-button;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;

      width: 180px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 10px;

      background: map-get($general-color, 'general-black-90');
    }

    .exclude_button {
      @extend .btn;

      border: 1px solid map-get($extra-color, 'extra-yellow-10');
      color: map-get($extra-color, 'extra-yellow-20');

      &:hover {
        background: map-get($extra-color, 'extra-yellow-20');
        color: map-get($extra-color, 'extra-yellow-90');
      }

      .icon {
        width: 16px;
        height: 16px;

        svg path {
          fill: currentColor;
        }
      }
    }

    .accept_button {
      @extend .btn;

      border: 1px solid map-get($extra-color, 'extra-green-20');
      color: map-get($extra-color, 'extra-green-20');

        &:hover {
          background: map-get($extra-color, 'extra-green-20');
          color: map-get($extra-color, 'extra-green-90');
        }

      .icon {
        width: 16px;
        height: 16px;

        svg path {
          fill: currentColor;
        }
      }
    }
  }
  .status_container {
    @include font-button;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    .accepted {
      color: map-get($extra-color, 'extra-green-20');
    }
    .excluded {
      color: map-get($extra-color, 'extra-yellow-20');
    }
    .deleted {
      color: map-get($extra-color, 'extra-red-20');
    }

    .icon {
      width: 34px;
      height: 30px;
      text-align: center;
    }
  }
}
