@import '../../../assets/styles/colors';

.component {
  display: flex;
  margin-top: 10px;
  height: 60px;
  & .container {
    border-radius: 4px;
    flex-grow: 1;
    height: 60px;
    background: map-get($general-color, 'general-grey-10');
    margin-right: 10px;
    display: flex;
    align-items: center;
    &_large {
      max-width: 340px;
    }
    &_small {
      max-width: 260px;
      justify-content: space-between;
      padding: 16px;
      & svg {
        cursor: pointer;
        & path {
          fill: map-get($general-color, 'general-violet-90');
        }
      }
    }
    & .logo {
      margin-right: 15px;
    }
  }
  & .action {
    background: map-get($general-color, 'general-grey-10');
    border-radius: 4px;
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    & svg path {
      transition: $transition-default;
      fill: map-get($general-color, 'general-grey-100');
    }
    &:hover {
      & svg path {
        fill: map-get($general-color, 'general-black-100');
      }
    }
  }
}
