@import '../../../../assets/styles/colors';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  background: map-get($general-color, 'general-white-100');
  z-index: 1;
  .order {
    display: flex;
    align-items: center;
    width: 40px;
    padding-left: 6px;
  }
  .source {
    display: flex;
    align-items: center;
    width: 232px;
    gap: 16px;
    padding-right: 16px;
  }
  .target {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 16px;
    max-width: calc(100% - 272px);
    padding-right: 16px;
  }
}
