@import '../../../assets/styles/colors';

.wrapper {
  &.border {
    border-bottom: 1px solid map-get($general-color, 'general-grey-20');
  }

  & .actionsWrapper {
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
  }
}