@import '../../../../assets/styles/tableCellWidth';
@import '../../../../assets/styles/grid';

.cell {
  display: flex;
  align-items: center;
  flex-basis: 0;
  gap: 8px;
  @include tableCellWidth;
  @include flex-grow;

  .iconWrapper {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textWrapper {
    display: flex;
    min-width: 0;
    flex-grow: 1;
    @include flex-direction;
    @include justify-content;
    @include align-items;
    @include align-content;

    &.gap {
      &_4 {
        gap: 4px;
      }

      &_8 {
        gap: 8px;
      }
    }
  }

  &.padding {
    &_16 {
      padding: {
        left: 16px;
        right: 16px;
      }
    }

    &_8 {
      padding: {
        left: 8px;
        right: 8px;
      }
    }

    &_12 {
      padding: {
        left: 12px;
        right: 12px;
      }
    }
  }

  .primary,
  .secondary {
    display: flex;
    align-items: center;

    &.align {
      &_left {
        justify-content: flex-start;
      }

      &_center {
        justify-content: center;
      }

      &_right {
        justify-content: flex-end;
      }
    }

    .counter,
    .tag {
      margin-left: 4px;
    }
  }
}
