@import '../../../assets/styles/colors';

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 300px;
  @include customScroll;
}

.wrapper {
  display: inline-flex;
  height: 24px;
  border-radius: 6px;
  background: map-get($general-color, 'general-grey-20');
  color: map-get($general-color, 'general-grey-100');
  padding: 4px 8px;
  max-width: 308px;
  transition: $transition-default;
  gap: 4px;
}

.wrapper {
  &.multiple {
    cursor: pointer;
    &:hover {
      color: map-get($general-color, 'general-black-100');
    }
    &.active {
      background: map-get($general-color, 'general-blue-10');
      color: map-get($general-color, 'general-violet-90');
      &:hover {
        color: map-get($general-color, 'general-violet-100');
      }
    }
    .divider {
      width: 1px;
      height: 24px;
      position: relative;
      top: -4px;
      background: map-get($general-color, 'general-white-100');
    }
  }
}

.total {
  margin-top: 8px;
  padding-left: 8px;
}
