@import '../../../../../assets/styles/colors';

.wrapper {
  position: relative;
  width: 100%;

  .list {
    min-width: 176px;
    position: absolute;
    right: -176px;
    top: -8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 8px 8px 22px;
    background: map-get($general-color, 'general-black-100');
    border-radius: $border-radius-default;
    transition: $transition-default;
    animation: fadeIn 0.25s ease;
    z-index: 1000000;
  }

  &:hover {
    button[data-type='module'] {
      background: rgba(map-get($general-color, 'general-grey-100'), 0.3);
      color: map-get($general-color, 'general-white-100');
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
