@import '../../../../assets/styles/colors';

.container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 170px;
  cursor: pointer;
  .text {
    &.category {
      color: map-get($general-color, 'general-black-100');
    }
    &.company {
      color: map-get($general-color, 'general-grey-100');
    }
  }
  &:hover {
    .text {
      color: map-get($general-color, 'general-violet-90');
    }
  }
  .counterWrapper {
    display: flex;
    align-items: center;
    .counter {
      margin-left: 4px;
    }
  }
}
