@import '../../../../assets/styles/colors';

.component {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 320px;
  margin-right: 24px;
  background: map-get($general-color, 'general-white-100');

  .header {
    padding-bottom: 26px;
    position: relative;

    .logo {
      position: absolute;
      bottom: 0px;
      left: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: map-get($general-color, 'general-violet-90');
      border: 2px solid map-get($general-color, 'general-white-100');
    }
  }

  .main {
    margin-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
    .title {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .position {
      margin-top: 4px;
    }
  }

  .contacts {
    display: flex;
    gap: 12px;
    margin-top: 12px;
    align-items: center;

    .data {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
  }

  .divider {
    margin-top: 12px;
  }
}
