@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: map-get($general-color, 'general-black-100');
    opacity: 0.5;
    animation: fadeIn 0.1s linear;
  }
  .loader {
    height: 50px;
    width: 50px;
    -webkit-animation: loader-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    animation: loader-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: auto;
      margin: auto;
      width: 12px;
      height: 12px;
      background-color: map-get($general-color, 'general-violet-90');
      border-radius: 50%;
      -webkit-animation: loader-2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
      animation: loader-2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: auto;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 12px;
      height: 12px;
      background-color: map-get($general-color, 'general-violet-90');
      border-radius: 50%;
      -webkit-animation: loader-3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
      animation: loader-3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    }
    .content {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 50px;
      width: 50px;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: auto;
        right: 0;
        margin: auto;
        width: 12px;
        height: 12px;
        background-color: map-get($general-color, 'general-violet-90');
        border-radius: 50%;
        -webkit-animation: loader-4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        animation: loader-4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: auto;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 12px;
        height: 12px;
        background-color: map-get($general-color, 'general-violet-90');
        border-radius: 50%;
        -webkit-animation: loader-5 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        animation: loader-5 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
      }
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  }
  @keyframes loader-1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes loader-2 {
    0% {
      transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
      transform: translate3d(24px, 0, 0) scale(0.5);
    }
    100% {
      transform: translate3d(0, 0, 0) scale(1);
    }
  }
  @keyframes loader-3 {
    0% {
      transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
      transform: translate3d(-24px, 0, 0) scale(0.5);
    }
    100% {
      transform: translate3d(0, 0, 0) scale(1);
    }
  }
  @keyframes loader-4 {
    0% {
      transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
      transform: translate3d(0, 24px, 0) scale(0.5);
    }
    100% {
      transform: translate3d(0, 0, 0) scale(1);
    }
  }
  @keyframes loader-5 {
    0% {
      transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
      transform: translate3d(0, -24px, 0) scale(0.5);
    }
    100% {
      transform: translate3d(0, 0, 0) scale(1);
    }
  }
}
