@import '../../../../assets/styles/colors';

.component {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  background: map-get($general-color, 'general-blue-10');
  border-radius: $border-radius-default;
  min-width: 50px;
  max-width: 60px;
  transition: $transition-default;
  &:hover {
    background: map-get($general-color, 'general-blue-20');
  }
}
