@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';

.wrapper {
  padding-right: 0;
  position: relative;
}

.placeholder {
  @include font-subtext-regular;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  flex-shrink: 0;

  user-select: none;
  pointer-events: none;

  color: map-get($general-color, 'general-grey-90');
  left: 6px;
}

.button {
  @include font-caption-regular;
  position: absolute;
  margin-right: 1px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 36px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 7px;
  background: map-get($general-color, 'general-grey-90');
  color: map-get($general-color, 'general-white-100');
  border: none;
  cursor: pointer;

  &.active {
    background: map-get($general-color, 'general-violet-100');
  }

  &.error {
    background: map-get($extra-color, 'extra-red-90');
    cursor: not-allowed;
    user-select: none;
  }
}

.input {
  @include font-subtext-regular;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background: transparent;
  width: 100%;
  border: none;
  caret-color: map-get($general-color, 'general-black-100');
  padding-left: 6px;

  &.error {
    color: map-get($extra-color, 'extra-red-90');
  }
}