@import '../../../../assets/styles/colors';

.component {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  margin-top: 4px;

  & .container {
    flex-basis: 32px;
  }

  &.radius {
    &_default {
      border-radius: $border-radius-default;
    }

    &_rounded {
      border-radius: 50%;
    }
  }
}

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: $transition-default;
    user-select: none;
    width: 100%;
    height: 100%;
    position: relative;

    &.radius {
      &_default {
        border-radius: $border-radius-default;
      }

      &_rounded {
        border-radius: 50%;
      }
    }

    &.avatar {
      background: rgba(map-get($general-color, 'general-violet-90'), 0.12);
      cursor: pointer;
    }

    &.border {
      &_white {
        border: 1px solid map-get($general-color, 'general-white-100');
      }

      &_light {
        border: 1px solid map-get($general-color, 'general-grey-20');
      }

      &_dark {
        border: 1px solid map-get($general-color, 'general-grey-100');
      }

      &_none {
        border: none;
      }
    }
  }

  .wrapper {
    position: relative;
    &_img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
      background: map-get($general-color, 'general-black-100');
      user-select: none;
      border-radius: 50%;
    }
  }

.status_overlay {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 16px;
  left: 19px;
  text-align: center;
  z-index: 1;
  border-radius: 12px;
  border: 1px solid map-get($general-color, 'general-white-100');
  @include background-colors-new;
}

.icon {
  position: absolute;
  top: -2px;
  left: 4px;
}
