@import '../../../../assets/styles/colors';


.component {
  border: 5px solid map-get($general-color, 'general-blue-20');
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;

  &::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: -5px;
    border-radius: 50%;
    border: 5px solid map-get($general-color, 'general-violet-90');
    animation: prixClipFix 2s linear infinite ;
  }

  &.size {
    &_14 {
      width: 14px;
      height: 14px;
      border-width: 2px;
      &::before {
        border-width: 2px;
        inset: -2px;
      }
    }
    &_32 {
      width: 32px;
      height: 32px;
      border-width: 3px;
      &::before {
        border-width: 3px;
        inset: -3px;
      }
    }
  }
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
  25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
  100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}