.icon {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  background: #ffffff;
}

.wrapper {
  padding-top: 1px;
  .title {
    margin-top: 15px;
    margin-bottom: 16px;
  }
  .container {
    display: flex;
    background: #5a607d;
    .component {
      display: grid;
      width: 100%;
      gap: 1px;
      padding: 1px;
      &.size {
        &_10 {
          grid-template-columns: repeat(auto-fill, minmax(18px, 1fr));
        }
        &_12 {
          grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
        }
        &_16 {
          grid-template-columns: repeat(auto-fill, minmax(24px, 1fr));
        }
        &_24 {
          grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
        }
        &_32 {
          grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
        }
        &_40 {
          grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
        }
        &_50 {
          grid-template-columns: repeat(auto-fill, minmax(58px, 1fr));
        }
        &_52 {
          grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
        }
        &_56 {
          grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
        }
        &_124 {
          grid-template-columns: repeat(auto-fill, minmax(132px, 1fr));
        }
        &_180 {
          grid-template-columns: repeat(auto-fill, minmax(188px, 1fr));
        }
      }
    }
  }
}
