@import '../../../../../assets/styles/colors';

.component {
  display: flex;
  gap: 12px;
  align-items: center;

  .text {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}

.logoWrapper {
  flex-shrink: 0;
}

.iconCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: map-get($general-color, 'general-grey-20');
}
