@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/inputWidth';

.inputErrorPopup {
  position: fixed;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  background: map-get($extra-color, 'extra-red-10');

  border: 1px solid map-get($extra-color, 'extra-red-20');

  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.11);
  border-radius: 20px;
  transition: $transition-default;

  padding: 16px 16px 16px;

  z-index: 10;

  & .titleWrapper {
    flex: 1;

    display: flex;
    gap: 16px;
  }

  & .title {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: map-get($extra-color, 'extra-red-90');
  }

  & .controlsWrapper {
    flex-shrink: 0;

    display: flex;
    justify-content: flex-end;
  }

  &.mode {
    &_top-left {
      animation: SelectBottom 0.5s ease;
    }

    &_top-right {
      animation: SelectBottom 0.5s ease;
    }

    &_right-top {
      animation: SelectLeft 0.5s ease;
    }

    &_right-bottom {
      animation: SelectLeft 0.5s ease;
    }

    &_bottom-right {
      animation: SelectTop 0.5s ease;
    }

    &_bottom-left {
      animation: SelectTop 0.5s ease;
    }

    &_left-bottom {
      animation: SelectRight 0.5s ease;
    }

    &_left-top {
      animation: SelectRight 0.5s ease;
    }
  }
}

@keyframes SelectLeft {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
}

@keyframes SelectRight {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
}

@keyframes SelectBottom {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes SelectTop {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
}
