@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/grid';
@import '../../../../assets/styles/tableCellWidth';

.cell {
  display: flex;
  border-radius: $border-radius-default;
  position: relative;
  &.padding {
    &_0 {
      padding: 0;
    }
    &_8 {
      padding: {
        left: 8px;
        right: 8px;
      }
    }
    &_16 {
      padding: {
        left: 16px;
        right: 16px;
      }
    }
    &_12 {
      padding: {
        left: 12px;
        right: 12px;
      }
    }
    &_8-0 {
      padding-left: 8px;
    }
    &_12-0 {
      padding-left: 12px;
    }
    &_16-0 {
      padding-left: 16px;
    }
  }
  @include tableCellWidth;
  @include gap;
  @include flex-grow;
  @include flex-direction;
  @include justify-content;
  @include align-items;
  @include align-content;
}
