.container {
  margin-right: 8px;
  padding-right: 8px;
  padding-left: 8px;
  max-height: 100%;
  align-self: center;
  &.width {
    &_620 {
      width: 620px;
    }
    &_660 {
      width: 660px;
    }
    &_full {
      width: 100%;
    }
  }
}
