@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/grid';
@import '../../../../assets/styles/transitions';

.container {
  position: relative;
  flex-basis: auto;

  @include flex-direction;
  @include flex-wrap;
  @include justify-content;
  @include align-items;
  @include align-content;
  @include align-self;
  @include flex-grow;
  @include background-colors-new;
  @include background-transition;
  @include border-colors-new;

  &.radius {
    border-radius: $border-radius-default;
  }

  &.borderRadius {
    &_2 {
      border-radius: 2px;
    }

    &_8 {
      border-radius: 8px;
    }

    &_10 {
      border-radius: 10px;
    }

    &_14 {
      border-radius: 14px;
    }

    &_20 {
      border-radius: 20px;
    }

    &_50per {
      border-radius: 50%;
    }
  }

  &.transition {
    transition: $transition-default;
  }

  &.fullscreen {
    max-width: 100vw;
    width: 100%;
    height: 100vh;
  }

  &.blurBackground {
    position: relative;
    z-index: 2;
    box-shadow: 0 5px 17px 0 rgba(153, 152, 152, 0.18);
  }

  &.customScroll {
    @include customScroll;
  }

  @include gap;
  @include overflow;
  @include display;
  @include position;
}
