@import '../../../../../assets/styles/colors';

.control {
  display: flex;
  align-items: center;
  color: map-get($general-color, 'general-black-100');
  cursor: pointer;
  .icon {
    width: 16px;
    svg {
      transform: scale(0.66667) translateX(-6px);
    }
  }
  .icon,
  .caret {
    transition: $transition-default;
  }
  &.active {
    color: map-get($general-color, 'general-violet-90');
    .caret {
      transform: rotate(180deg);
    }
  }
  .name {
    margin: 0 4px;
  }
}

.wrapper {
  padding: 12px;
  .text {
    margin-left: 8px;
  }
  .categories {
    margin-top: 12px;
  }
}
