@import '../../../../assets/styles/colors';

.wrapper {
  display: inline-flex;
  .item {
    position: relative;
    padding: 12px 16px;
    min-width: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: map-get($general-color, 'general-grey-90');
    transition: $transition-default;
    border-top-left-radius: $border-radius-default;
    border-top-right-radius: $border-radius-default;
    border-bottom: 1px solid map-get($general-color, 'general-grey-90');
    cursor: pointer;
    &:after {
      position: absolute;
      content: '';
      bottom: -1px;
      left: 0;
      right: 0;
      height: 2px;
      border-top-left-radius: 1px;
      border-top-right-radius: 1px;
      background: currentColor;
      opacity: 0;
    }
    .icon {
      margin-right: 8px;
    }
    .counter {
      display: inline-flex;
      border-radius: 4px;
      background: map-get($general-color, 'general-grey-90');
      transition: inherit;
      margin-left: 4px;
      padding: 0 2px;
    }
    &:hover {
      background: map-get($general-color, 'general-grey-10');
    }
    &.active {
      color: map-get($general-color, 'general-violet-90');
      .counter {
        background: map-get($general-color, 'general-violet-90');
      }
      &::after {
        opacity: 1;
      }
    }
    &.disabled {
      cursor: not-allowed;
    }
  }
}
