@import '../../../../../../assets/styles/fonts';

.nameWrapper {
  margin-top: 8px;
  max-width: 88px;
  @include font-text-regular;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &.textOverflow {
    cursor: help;
  }
  .name {
    max-width: 88px;
  }
}
