@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fonts.scss';

.component {
  position: relative;
  width: min-content;

  .beta {
    position: absolute;
    top: 0;
    right: -15px;
    width: 30px;
    height: 14px;
    z-index: 10;

    display: flex;
    align-items: center;
    padding: 0 4px;

    background: map-get($extra-color, 'extra-green-90');
    border-radius: 4px;

    .text {
      text-align: center;
      color: map-get($general-color, 'general-white-100');
      @include font-subtext-regular;
    }
  }
}