@import '../../../../assets/styles/colors';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: $border-radius-default;
  transition: $transition-default;
  cursor: pointer;

  &.background {
    &_grey-10 {
      background: map-get($general-color, 'general-grey-10');
    }
    &_white-100 {
      background: map-get($general-color, 'general-white-100');
    }
  }
  background: map-get($general-color, 'general-grey-10');
  color: map-get($general-color, 'general-grey-100');
  &:hover {
    background: map-get($general-color, 'general-grey-20');
  }
  &.selected {
    background: map-get($general-color, 'general-violet-90');
    color:  map-get($general-color, 'general-white-100');
    &:hover {
      background: map-get($general-color, 'general-violet-100');
    }
  }
}
