@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';

.wrapper {
  width: 100%;
  transition: $transition-default;
  border-radius: $border-radius-default;
  &.width {
    &_300 {
      width: 300px;
      position: relative;

      &:has(.textarea:focus) {
        width: 100%;
      }
    }
    &_full {
      width: 100%;
    }
  }
  .component {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: $border-radius-default;
    box-sizing: border-box;
    .textarea {
      display: block;
      width: 100%;
      height: 100%;
      padding-top: 5px;
      padding-left: 31px;
      padding-right: 61px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      &.minHeight {
        &_36 {
          height: 36px;
        }
        &_88 {
          min-height: 88px;
        }
        &_134 {
          min-height: 134px;
        }
        &_155 {
          min-height: 155px;
        }
      }
      padding-bottom: 8px;
      @include font-caption-regular;
      transition: all 0.25s ease, height 0s;
      border-radius: $border-radius-default;
      @include text-align;

      &:hover {
        background: map-get($general-color, 'general-grey-20');
      }
      &::placeholder {
        position: absolute;
        top: 9px;
        left: 31px;
      }
      &:active,
      &:visited,
      &:focus,
      &.active {
        outline: 0;
      }
      &.color {
        &_default {
          & ~ .label {
            color: map-get($general-color, 'general-grey-100');
          }
          &:focus {
            &:not(:placeholder-shown) {
              color: map-get($general-color, 'general-black-100');
              & ~ .label {
                color: map-get($general-color, 'general-violet-90');
              }
            }
          }
          &:focus,
          &:active {
            &::placeholder {
              color: map-get($general-color, 'general-grey-90');
            }
          }
        }
        &_light {
          color: map-get($general-color, 'general-white-100');
          &::placeholder,
          & ~ .label {
            color: map-get($general-color, 'general-white-100');
          }
          &:hover,
          &:focus,
          &:active {
            &::placeholder {
              color: map-get($general-color, 'general-grey-90');
            }
          }
        }
      }
      &::placeholder {
        opacity: 0;
      }
      &:focus,
      &:not(:placeholder-shown),
      &.active {
        & ~ .label {
            display: none;
        }
        &::placeholder {
          opacity: 1;
        }
      }
       &.error {
         border: 1px solid map-get($extra-color, 'extra-red-90');
         color: map-get($general-color, 'general-black-100');

         & ~ .label {
           color: map-get($extra-color, 'extra-red-90');
         }
       }
      &.color {
        &_default,
        &_light {
          &.error {
            border: 1px solid map-get($extra-color, 'extra-red-10');
            background: map-get($extra-color, 'extra-red-10');
            color: map-get($general-color, 'general-black-100');
            & ~ .label {
              color: map-get($extra-color, 'extra-red-90');
            }
            &:focus {
              &:not(:placeholder-shown) {
                & ~ .label {
                  color: map-get($extra-color, 'extra-red-90');
                }
              }
            }
          }
          &.disabled {
            cursor: not-allowed;
            & ~ .label {
              color: map-get($general-color, 'general-grey-100');
            }
            &:hover {
              &::placeholder {
                color: map-get($general-color, 'general-grey-100');
              }
              & ~ .label {
                color: map-get($general-color, 'general-grey-100');
              }
            }
          }
        }
      }
    }
    .label {
      position: absolute;
      top: 11px;
      left: 32px;
      font-size: 12px;
      line-height: 14px;
      transition: $transition-default;
      pointer-events: none;
      user-select: none;
      .required {
        color: map-get($extra-color, 'extra-red-90');
      }
    }
    .counter {
      position: absolute;
      top: 11px;
      right: 8px;
      transition: $transition-default;
      color: map-get($general-color, 'general-grey-100');
      font-size: 12px;
      line-height: 12px;
      user-select: none;
      &.error {
        opacity: 1;
      }
      .current {
        color: map-get($general-color, 'general-violet-90');
        &.limit,
        &.error {
          color: map-get($extra-color, 'extra-red-90');
        }
      }
    }
    .icon {
      position: absolute;
      top: 9px;
      left: 8px;
      color: map-get($general-color, 'general-grey-100');
    }
  }
}

.textarea {
  &.background {
    &_grey-10 {
      background: map-get($general-color, 'general-grey-10');
    }
    &_white-100 {
      background: map-get($general-color, 'general-white-100');
    }
    &_violet-90 {
      background: map-get($general-color, 'general-violet-90');
    }
    &_transparent {
      background: transparent;
    }
  }
  &.border {
    &_default {
      border: 1px solid map-get($general-color, 'general-grey-20');
      &:focus,
      &.active {
        border: 1px solid map-get($general-color, 'general-violet-90');
      }
    }
    &_light {
      border: 1px solid map-get($general-color, 'general-white-100');
      &:focus,
      &.active {
        border: 1px solid map-get($general-color, 'general-white-100');
      }
    }
    &_transparent {
      border: none;
    }
  }
}

.inner_tooltip {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  word-break: break-all;
  height: max-content;
}
