@import '../../../../assets/styles/colors';

.container {
  background: map-get($general-color, 'general-white-100');
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 12px;
  flex-grow: 1;
  border-top-left-radius: $border-radius-default * 2;
  border-top-right-radius: $border-radius-default * 2;
  overflow: hidden;
}
