@import '../../../../../assets/styles/colors';

.component {
  display: flex;
  align-items: center;
  gap: 8px;
  .logo {
    width: 24px;
    height: 24px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: map-get($general-color, 'general-blue-10');
    border-radius: 50%;
  }
}
