@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/tableCellWidth';

.cell {
  @include tableCellWidth;
  &.flex-grow {
    &_0 {
      flex-grow: 0;
    }
    &_1 {
      flex-grow: 1;
    }
  }
  // Flex positioning inside container
  &.justify-content {
    &_center {
      justify-content: center;
    }
    &_flex-start {
      justify-content: flex-start;
    }
    &_flex-end {
      justify-content: flex-end;
    }
    &_space-around {
      justify-content: space-around;
    }
    &_space-between {
      justify-content: space-between;
    }
    &_space-evenly {
      justify-content: space-evenly;
    }
  }
  &.align-items {
    &_center {
      align-items: center;
    }
    &_flex-start {
      align-items: flex-start;
    }
    &_flex-end {
      align-items: flex-end;
    }
    &_stretch {
      align-items: stretch;
    }
    &_baseline {
      align-items: baseline;
    }
  }
  &.align-content {
    &_center {
      align-content: center;
    }
    &_flex-start {
      align-content: flex-start;
    }
    &_flex-end {
      align-content: flex-end;
    }
    &_space-around {
      align-content: space-around;
    }
    &_space-between {
      align-content: space-between;
    }
    &_stretch {
      align-content: stretch;
    }
  }
  &.flex-direction {
    &_row {
      flex-direction: row;
    }
    &_row-reverse {
      flex-direction: row-reverse;
    }
    &_column {
      flex-direction: column;
    }
    &_column-reverse {
      flex-direction: column-reverse;
    }
    &_inherit {
      flex-direction: inherit;
    }
  }
  &.background {
    &_transparent {
      background: transparent;
    }
    &_white-100 {
      background: map-get($general-color, 'general-white-100');
    }
    &_grey-10 {
      background: map-get($general-color, 'general-grey-10');
    }
  }
  display: flex;
  flex-basis: 0;
  padding: 0 8px;
  height: 100%;
  border-radius: $border-radius-default;
  // span {
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
  // max-width: 400px;
  // }
}
