.item {
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin-right: 10px;
}

.icon {
  font-size: 0;
}
