@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/fonts';
@import '../../Select.module';

.selectPlaceholder {
  user-select: none;
  transition: $transition-default;

  @include font;
  color: map-get($general-color, 'general-grey-90');

  @include error;
}
