@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/fonts';

.wrapper {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  padding-right: 8px;
  transition: $transition-default;
  flex-wrap: wrap;
  .container {
    position: relative;
  }
  .helper {
    position: absolute;
    z-index: 1;
    top: 28px;
    width: max-content;
    height: 70px;
    padding: 8px 16px;
    background-color: map-get($general-color, 'general-white-100');
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.18);
    border: 1px solid map-get($general-color, 'general-grey-10');
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    cursor: pointer;

    & .label {
      @include font-body-regular-14
    }
    & .text {
      width: 68px;
      height: 16px;
      padding: 0 4px;
      background-color: map-get($general-color, 'general-grey-20');
      border-radius: 4px;
      font-size: 12px;
      color: map-get($general-color, 'general-grey-100');
    }
    & .wrap__text {
      width: 205px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .input {
    width: 100%;
    border: none;
    flex-grow: 1;
    text-overflow: ellipsis;
    animation: fadeIn 0.5s ease;
    position: relative;
    @include font-body-regular-14;

    &:focus {
      outline: 0;
    }
  }
  &.padding-bottom {
    &_0 {
      padding-bottom: 0;
    }
    &_4 {
      padding-bottom: 4px;
    }
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.empty {
    padding-left: 0;
    padding-right: 0;
  }
}