@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  max-width: 200px;
  height: 50px;
  background: map-get($general-color, 'general-white-100');
  color: map-get($general-color, 'general-grey-100');
  transition: $transition-default;
  border-radius: $border-radius-default;
  border: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
  @include font-button;
  &:active,
  &:focus,
  &:visited {
    outline: 0;
  }
  & .icon {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    svg path {
      fill: currentColor;
    }
  }
  &.general {
    &:hover {
      background: map-get($general-color, 'general-grey-10');
      color: map-get($general-color, 'general-black-100');
    }
    &.selected {
      background: map-get($general-color, 'general-grey-10');
      color: map-get($general-color, 'general-black-100');
      &:hover {
        background: map-get($general-color, 'general-blue-10');
      }
    }
  }
  &.action {
    &:hover {
      color: map-get($general-color, 'general-violet-90');
    }
  }
}
