@import '../../../../assets/styles/colors';

.header {
  height: 30px;
  background: map-get($general-color, 'general-white-100');
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  position: sticky;
  top: 0;
  &.radius {
    &_0 {
      border-radius: 0;
    }
    &_10 {
      border-radius: $border-radius-default;
    }
  }
  &.margin {
    &_default {
      margin: 0 20px;
    }
    &_16 {
      margin-left: 16px;
    }
    &_none {
      margin: 0;
    }
  }
}
