@import '../../../../../assets/styles/colors';

.list {
  max-height: 300px;
}

.wrapper {
  display: inline-flex;
  height: 24px;
  border-radius: $border-radius-default;
  background: map-get($general-color, 'general-grey-20');
  color: map-get($general-color, 'general-grey-100');
  padding: 4px 8px;
  max-width: 308px;
  transition: $transition-default;
  gap: 4px;
}

.wrapper {
  cursor: pointer;
  &:hover {
    color: map-get($general-color, 'general-black-100');
  }
  &.active {
    background: map-get($general-color, 'general-blue-10');
    color: map-get($general-color, 'general-violet-90');
    &:hover {
      color: map-get($general-color, 'general-violet-100');
    }
  }
}
