@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';

@mixin text {
  @include font-body-regular-14;
  color: map-get($general-color, 'general-grey-100');
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: map-get($general-color, 'general-white-100');
    opacity: 0.8;
  }

  .text {
    @include text;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    z-index: 10;

    & .icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      animation: smooth-appear 1s linear forwards;
    }
  }
}

.error_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  .error_message_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    .text {
      @include text;
      max-width: 230px;
      text-align: center;
    }
  }
}

@keyframes smooth-appear {
  from{
    opacity: 0;
  }
  to{
    opacity:1;
  }
}
