@import '../../../../../assets/styles/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  display: flex;
  padding: 8px 12px;
  justify-content: space-between;
  align-items: center;
  transition: $transition-default;
  border-radius: $border-radius-default;
  cursor: pointer;
  position: relative;

  .main {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: inherit;
    .arrow {
      transition: inherit;
      &.active {
        transform: rotate(90deg);
      }
    }
  }

  .add {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 8px;
    transition: inherit;
  }

  .actions {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 32px;
    transition: inherit;
  }

  &:hover,
  &.actionsOpen {
    background: map-get($general-color, 'general-grey-10');

    .counter {
      opacity: 0;
      transition: none;
    }
    .add,
    .actions {
      opacity: 1;
      pointer-events: all;
    }


  }

  &.active {
    background: map-get($general-color, 'general-grey-10');
  }

  &:hover {
    background: map-get($general-color, 'general-grey-20');
  }
}
