@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';

// General styles

.wrapper {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  border-radius: $border-radius-default;
  transition: $transition-default;
  padding-left: 40px;
  @include font-body-regular-14;

  &.width {
    &_320 {
      min-width: 320px;
      max-width: 740px;
    }

    &_350 {
      min-width: 350px;
      max-width: 740px;
    }

    &_360 {
      min-width: 360px;
      max-width: 740px;
    }

    &_440 {
      min-width: 440px;
      max-width: 740px;
    }

    &_full {
      flex-grow: 1;
    }
  }

  &.height {
    &_40 {
      height: 40px;
    }

    &_50 {
      height: 50px;
    }
  }

  .icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: map-get($general-color, 'general-grey-100');
  }

  .reset {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    color: map-get($general-color, 'general-grey-90');

    &:hover {
      color: map-get($extra-color, 'extra-red-90');
    }

    &.active {
      opacity: 1;
    }
  }

  .input {
    width: 100%;
    height: 100%;
    transition: $transition-default;
    text-overflow: ellipsis;
    border: none;
    background: transparent;
    padding-right: 40px;

    &::placeholder {
      transition: $transition-default;
      user-select: none;
      text-overflow: inherit;
    }

    &:active,
    &:visited,
    &:focus,
    &.active {
      outline: 0;
    }

    &.full {
      cursor: default;
    }
  }
}

// Point element which is shown when search is active

.wrapper {
  position: relative;

  &:before,
  &:after {
    position: absolute;
    transition: $transition-default;
    content: '';
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
  }

  &:before {
    width: 12px;
    height: 12px;
    background: map-get($general-color, 'general-white-100');
    top: -3px;
    left: -3px;
  }

  &:after {
    width: 8px;
    height: 8px;
    background: map-get($general-color, 'general-violet-90');
    top: -1px;
    left: -1px;
  }

  &.withValues {
    &:before,
    &:after {
      opacity: 1;
    }
  }
}

// Color styles

.wrapper {
  background: map-get($general-color, 'general-grey-10');
  border: 1px solid transparent;

  .input {
    &::placeholder {
      color: map-get($general-color, 'general-grey-90');
    }
  }

  &.withValues {
    .input::placeholder {
      opacity: 0;
    }
  }

  &.hovered {
    background: map-get($general-color, 'general-grey-20');
  }

  &.focused {
    background: map-get($general-color, 'general-grey-10');
    border: 1px solid map-get($general-color, 'general-violet-90');

    .icon {
      color: map-get($general-color, 'general-violet-90');
    }

    .reset {
      color: map-get($general-color, 'general-violet-90');

      &:hover {
        color: map-get($extra-color, 'extra-red-90');
      }
    }
  }
}
