@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/fonts';

.item {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 8px;
  border-radius: $border-radius-default;
  transition: $transition-default;
  user-select: none;
  color: map-get($general-color, 'general-black-100');
  @include font-caption-regular;
  min-width: 0;
  &:not(:last-of-type) {
    margin-bottom: 4px;
  }
  &:hover {
    background: map-get($general-color, 'general-grey-10');
    color: map-get($general-color, 'general-violet-90');
  }
  &_active {
    background: map-get($general-color, 'general-grey-20');
    color: map-get($general-color, 'general-violet-100');
    &:hover {
      background: map-get($general-color, 'general-grey-20');
      color: map-get($general-color, 'general-violet-100');
    }
  }
  & .label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  svg {
    margin-right: 10px;
  }
}
