@import '../../../../assets/styles/colors';

.wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius-default;
  transition: color 0.25s ease;
  background: map-get($general-color, 'general-grey-10');
  color: map-get($general-color, 'general-grey-90');
  overflow: hidden;
  animation: fadeIn 0.1s linear;
  &.multiselect {
    margin-bottom: 24px;
  }
  .text {
    margin-top: 8px;
  }

  .input {
    display: none;
  }

  &.hover {
    color: map-get($general-color, 'general-violet-90');
    cursor: pointer;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
