@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';

.selectDropItemList {
  flex: 1 1 auto;
  max-height: 200px;
  list-style: none;
  padding-right: 6px;

  @include customScroll;

  & .multiSelectItemsWrapper {
    width: 100%;
    
    display: flex;
    flex-direction: column;
  }

  & .title {
    @include font-caption-regular;
    color: map-get($general-color, 'general-grey-100');
  }
}
