.form {
  width: 100%;
}

.justify-content {
  &_center {
    justify-content: center;
  }
  &_flex-start {
    justify-content: flex-start;
  }
  &_flex-end {
    justify-content: flex-end;
  }
  &_space-around {
    justify-content: space-around;
  }
  &_space-between {
    justify-content: space-between;
  }
  &_space-evenly {
    justify-content: space-evenly;
  }
}
.align-items {
  &_center {
    align-items: center;
  }
  &_flex-start {
    align-items: flex-start;
  }
  &_flex-end {
    align-items: flex-end;
  }
  &_stretch {
    align-items: stretch;
  }
  &_baseline {
    align-items: baseline;
  }
}
