@import '../../../assets/styles/fonts';
@import '../../../assets/styles/colors';

// --- AUTOFILL SNIPPET ---
@mixin input-autofill($color) {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: $color;
  }
}

.input {
  transition: all 0.25s ease, background-color 0s linear, box-shadow 0s linear;
  text-overflow: ellipsis;

  @include input-autofill(map-get($general-color, 'general-black-100'));
  @include text-align;

  &::placeholder {
    color: map-get($general-color, 'general-grey-90');

    transition: $transition-default;
  }

  &.disabled, &.disabled:focus, &.disabled:hover {
    cursor: not-allowed;
    user-select: none;
    pointer-events: none;

    color: map-get($general-color, 'general-grey-90');
    @include input-autofill(map-get($general-color, 'general-grey-90'));
  }

  &.readOnly, &.readOnly:focus, &.readOnly:hover {
    cursor: auto;
    user-select: none;
    pointer-events: none;

    color: map-get($general-color, 'general-black-100');
    @include input-autofill(map-get($general-color, 'general-black-100'));
  }

  &.error, &.error:focus, &.error:hover {
    color: map-get($extra-color, 'extra-red-90');
    @include input-autofill(map-get($extra-color, 'extra-red-90'));

    &::placeholder {
      color: map-get($extra-color, 'extra-red-20');
    }
  }
}

.input.height {
  &_28 {
    @include font-caption-regular;
  }

  &_36 {
    @include font-caption-regular;
  }

  &_48 {
    @include font-body-regular-14;
  }
}
