@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/inputWidth';

// General styles

.wrapper {
  width: 100%;
  transition: $transition-default;
  border-radius: $border-radius-default;
  @include inputWidth;
  .component {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: $border-radius-default;
    transition: $transition-default;
    .icon {
      font-size: 0;
      transition: $transition-default;
    }
    .icon,
    .symbol {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &_right {
        right: 8px;
      }
      &_left {
        left: 8px;
      }
    }
    .symbol {
      width: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .label {
      position: absolute;
      left: 16px; // 17
      top: 16px; // 17
      font-size: 14px;
      line-height: 14px;
      transition: $transition-default;
      pointer-events: none;
      user-select: none;
      .required {
        color: map-get($extra-color, 'extra-red-90');
      }
    }
    .secondaryLabel {
      position: absolute;
      right: 17px;
      top: 6px;
      transition: $transition-default;
      pointer-events: none;
      user-select: none;
      font-size: 12px;
      line-height: 12px;
      color: map-get($general-color, 'general-grey-100');
    }
    .input {
      display: block;
      width: 100%;
      height: 100%;
      transition: all 0.25s ease, background-color 0s linear, box-shadow 0s linear;
      text-overflow: ellipsis;
      @include text-align;
      border: none;
      background: transparent;
      &::placeholder {
        transition: $transition-default;
        user-select: none;
      }
      &:active,
      &:visited,
      &:focus,
      &.active {
        outline: 0;
      }
      .accordion_entries {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 5px 0;
      }
    }
  }
}

// Text, icon and symbol colors

.wrapper {
  &.height {
    &_28,
    &_36 {
      .component {
        &.color {
          &_default {
            .input {
              color: map-get($general-color, 'general-black-100');
              &::placeholder {
                color: map-get($general-color, 'general-grey-100');
              }
            }
            .icon,
            .symbol {
              color: map-get($general-color, 'general-grey-100');
            }
            &.active,
            &.notEmpty {
              .input {
                color: map-get($general-color, 'general-black-100');
                &::placeholder {
                  color: map-get($general-color, 'general-grey-90');
                }
              }
            }
            &.hovered {
                background: map-get($general-color, 'general-grey-20');
            }
          }
          &_light {
            .input {
              color: map-get($general-color, 'general-white-100');
              &::placeholder,
              & ~ .icon,
              & ~ .symbol,
              & ~ .label {
                color: map-get($general-color, 'general-white-100');
              }
            }
            &.hovered,
            &.active,
            &.notEmpty {
              .input {
                &::placeholder {
                  color: map-get($general-color, 'general-grey-90');
                }
              }
            }
          }
        }
      }
    }
  }
}

.wrapper {
  &.height {
    &_48 {
      .component {
        .hovered {
          background: map-get($general-color, 'general-grey-20');
        }
        &.color {
          &_default {
            .input {
              color: map-get($general-color, 'general-black-100');
              &::placeholder {
                color: map-get($general-color, 'general-grey-100');
              }
            }
            .label,
            .icon,
            .symbol {
              color: map-get($general-color, 'general-grey-100');
            }
            &.active,
            &.notEmpty {
              .input {
                color: map-get($general-color, 'general-black-100');
                &::placeholder {
                  color: map-get($general-color, 'general-grey-90');
                }
              }
            }
            &.hovered {
              background: map-get($general-color, 'general-grey-20');
            }
            &.active {
              .label {
                color: map-get($general-color, 'general-violet-90');
              }
            }
          }
          &_light {
            .input {
              color: map-get($general-color, 'general-white-100');
              &::placeholder {
                color: map-get($general-color, 'general-white-100');
              }
            }
            .label,
            .icon,
            .symbol {
              color: map-get($general-color, 'general-white-100');
            }
            &.hovered,
            &.active,
            &.notEmpty {
              .input {
                &::placeholder {
                  color: map-get($general-color, 'general-grey-90');
                }
              }
            }
          }
        }
      }
    }
    &_full {
      .component {
        &.color {
          &_default {
            .input {
              color: map-get($general-color, 'general-black-100');
              &::placeholder {
                color: map-get($general-color, 'general-grey-100');
              }
            }
            .label,
            .icon,
            .symbol {
              color: map-get($general-color, 'general-grey-100');
            }
            &.active,
            &.notEmpty {
              .input {
                color: map-get($general-color, 'general-black-100');
                &::placeholder {
                  color: map-get($general-color, 'general-grey-90');
                }
              }
            }
            &.hovered {
              background: map-get($general-color, 'general-grey-20');
            }
            &.active {
              .label {
                color: map-get($general-color, 'general-violet-90');
              }
            }
          }
          &_light {
            .input {
              color: map-get($general-color, 'general-white-100');
              &::placeholder {
                color: map-get($general-color, 'general-white-100');
              }
            }
            .label,
            .icon,
            .symbol {
              color: map-get($general-color, 'general-white-100');
            }
            &.hovered,
            &.active,
            &.notEmpty {
              .input {
                &::placeholder {
                  color: map-get($general-color, 'general-grey-90');
                }
              }
            }
          }
        }
      }
    }
  }
}

// Background and border styles

.component {
  &.background {
    &_grey-10 {
      background: map-get($general-color, 'general-grey-10');
      .input {
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          box-shadow: 0 0 0 30px map-get($general-color, 'general-grey-10') inset;
        }
      }
    }
    &_white-100 {
      background: map-get($general-color, 'general-white-100');
      .input {
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          box-shadow: 0 0 0 30px map-get($general-color, 'general-white-100') inset;
        }
      }
    }
    &_violet-90 {
      background: map-get($general-color, 'general-violet-90');
      .input {
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          box-shadow: 0 0 0 30px map-get($general-color, 'general-violet-90') inset;
        }
      }
    }
    &_transparent {
      background: transparent;
      .input {
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          box-shadow: 0 0 0 30px transparent inset;
        }
      }
    }
  }
  &.border {
    &_default {
      border: 1px solid map-get($general-color, 'general-grey-20');
      &.active {
        border: 1px solid map-get($general-color, 'general-violet-90');
      }
    }
    &_light {
      border: 1px solid map-get($general-color, 'general-white-100');
      &.active {
        border: 1px solid map-get($general-color, 'general-white-100');
      }
    }
    &_transparent {
      border: none;
    }
  }
}

// Height styles

.wrapper {
  &.height {
    &_28 {
      height: 28px;
    }
    &_36 {
      height: 36px;
    }
    &_48 {
      height: 48px;
    }
    &_90 {
      height: 90px;
    }
    &_full {
      min-height: 48px;
    }
  }
}

// Input and symbol font
.wrapper {
  &.height {
    &_28,
    &_36 {
      .component {
        @include font-caption-regular;
        .symbol {
          @include font-caption-regular;
        }
      }
    }
    &_48 {
      .component {
        @include font-body-regular-14;
        .symbol {
          @include font-body-regular-14;
        }
      }
    }
    &_full {
      .component {
        @include font-body-regular-14;
        .symbol {
          @include font-body-regular-14;
        }
      }
    }
  }
}

// Paddings and elements positioning

.wrapper {
  &.height {
    &_28,
    &_36 {
      .component {
        padding-left: 16px;
        padding-right: 16px;
        &.padding {
          &_right {
            padding-right: 28px;
          }
          &_left {
            padding-left: 28px;
          }
        }
      }
    }
  }
}

.wrapper {
  &.height {
    &_48 {
      .component {
        padding-left: 16px;
        padding-right: 16px;
        .input {
          &::placeholder {
            opacity: 0;
          }
        }
        &.active,
        &.notEmpty {
          .label {
            font-size: 12px;
            line-height: 12px;
            top: 6px;
          }
          .input {
            padding-top: 16px;
            &::placeholder {
              opacity: 1;
            }
          }
        }
        &.tags {
          .label {
            top: 4px;
          }
        }
        &.padding {
          &_right {
            padding-right: 28px;
            .secondaryLabel {
              right: 28px;
            }
          }
          &_left {
            padding-left: 32px;
            .label {
              left: 32px;
            }
          }
        }
      }
    }
    &_full {
      .component {
        min-height: 48px;
        padding: 17px 16px 9px 16px;
        //padding-left: 16px;
        //padding-right: 16px;
        .input {
          &::placeholder {
            opacity: 0;
          }
        }
        &.active,
        &.notEmpty {
          .label {
            font-size: 12px;
            line-height: 12px;
            top: 6px;
          }
          .input {
            padding-top: 16px;
            &::placeholder {
              opacity: 1;
            }
          }
        }
        &.tags {
          .label {
            top: 4px;
          }
        }
        &.padding {
          &_right {
            padding-right: 28px;
            .secondaryLabel {
              right: 28px;
            }
          }
          &_left {
            padding-left: 32px;
            .label {
              left: 32px;
            }
          }
        }
      }
    }
  }
}

.wrapper {
  &.height {
    &_48 {
      .component {
        .input {
          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            padding-top: 16px;
            & ~ .label {
              font-size: 12px;
              line-height: 12px;
              top: 6px;
            }
            .input {
              &::placeholder {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    &_full {
      .component {
        .input {
          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            padding-top: 16px;
            & ~ .label {
              font-size: 12px;
              line-height: 12px;
              top: 6px;
            }
            .input {
              &::placeholder {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

// Error colors

.wrapper {
  &.height {
    &_28,
    &_36 {
      .component {
        &.color_default,
        &.color_light {
          &.error {
            border: 1px solid map-get($extra-color, 'extra-red-10');
            background: map-get($extra-color, 'extra-red-10');
            .input,
            .input::placeholder,
            .icon,
            .symbol {
              color: map-get($extra-color, 'extra-red-90');
            }
            &.hovered {
              &:not(.active):not(.notEmpty) {
                .input,
                .input::placeholder,
                .icon,
                .symbol {
                  color: map-get($extra-color, 'extra-red-90');
                }
              }
            }
          }
        }
      }
    }
  }
}

.wrapper {
  &.height {
    &_48 {
      .component {
        &.error {
          border: 1px solid map-get($extra-color, 'extra-red-10');
          background: map-get($extra-color, 'extra-red-10');
          .label,
          .icon,
          .symbol {
            color: map-get($extra-color, 'extra-red-90');
          }
          &.hovered {
            .label {
              color: map-get($extra-color, 'extra-red-90');
            }
            &:not(.active):not(.notEmpty) {
              .icon,
              .symbol {
                color: map-get($extra-color, 'extra-red-90');
              }
            }
          }
        }
      }
    }
    &_full {
      .component {
        &.error {
          border: 1px solid map-get($extra-color, 'extra-red-10');
          background: map-get($extra-color, 'extra-red-10');
          .label,
          .icon,
          .symbol {
            color: map-get($extra-color, 'extra-red-90');
          }
          &.hovered {
            .label {
              color: map-get($extra-color, 'extra-red-90');
            }
            &:not(.active):not(.notEmpty) {
              .icon,
              .symbol {
                color: map-get($extra-color, 'extra-red-90');
              }
            }
          }
        }
      }
    }
  }
}

// Disabled colors

.wrapper {
  &.height {
    &_28,
    &_36 {
      .component {
        &.disabled {
          cursor: not-allowed;
          .input {
            cursor: not-allowed;
          }
          // border: 1px solid map-get($general-color, 'general-grey-100');
          .input::placeholder,
          .icon,
          .symbol {
            color: map-get($general-color, 'general-grey-100');
          }
          &.hovered {
            &:not(.active):not(.notEmpty) {
              .input::placeholder,
              .icon,
              .symbol {
                color: map-get($general-color, 'general-grey-100');
              }
            }
          }
        }
      }
    }
  }
}

.wrapper {
  &.height {
    &_48 {
      .component {
        &.disabled {
          cursor: not-allowed;
          .input {
            cursor: not-allowed;
          }
          // border: 1px solid map-get($general-color, 'general-grey-100');
          .label,
          .icon,
          .symbol {
            color: map-get($general-color, 'general-grey-100');
          }
          &.hovered {
            .label {
              color: map-get($general-color, 'general-grey-100');
            }
            &:not(.active):not(.notEmpty) {
              .icon,
              .symbol {
                color: map-get($general-color, 'general-grey-100');
              }
            }
          }
        }
      }
    }
  }
}

// Readonly colors

.wrapper {
  &.height {
    &_28,
    &_36 {
      .component {
        &.readOnly {
          cursor: not-allowed;
          .input {
            cursor: not-allowed;
          }
          border: 1px solid map-get($general-color, 'general-grey-10');
          .input::placeholder,
          .icon,
          .symbol {
            color: map-get($general-color, 'general-grey-100');
          }
          &.hovered {
            &:not(.active):not(.notEmpty) {
              .input::placeholder,
              .icon,
              .symbol {
                color: map-get($general-color, 'general-grey-100');
              }
            }
          }
        }
      }
    }
  }
}

.wrapper {
  &.height {
    &_48 {
      .component {
        &.readOnly {
          cursor: not-allowed;
          .input {
            cursor: not-allowed;
          }
          border: 1px solid map-get($general-color, 'general-grey-10');
          .label,
          .icon,
          .symbol {
            color: map-get($general-color, 'general-grey-100');
          }
          &.hovered {
            .label {
              color: map-get($general-color, 'general-grey-100');
            }
            &:not(.active):not(.notEmpty) {
              .icon,
              .symbol {
                color: map-get($general-color, 'general-grey-100');
              }
            }
          }
        }
      }
    }
  }
}

.input {
  // &:-webkit-autofill,
  // &:-webkit-autofill:hover,
  // &:-webkit-autofill:focus,
  // &:-webkit-autofill:active {
  // & ~ .label {
  //   display: none;
  // }
  // background-clip: text;
  // }
  // &:-webkit-autofill,
  // &:-webkit-autofill:hover,
  // &:-webkit-autofill:focus,
  // &:-webkit-autofill:active {
  //   box-shadow: 0 0 0 30px map-get($general-color, 'general-white-100') inset;
  // }

  // &:-webkit-autofill,
  // &:-webkit-autofill:focus {
  //   transition-delay: 9999s;
  // }
  // &:-webkit-autofill,
  // &:-webkit-autofill:focus {
  //   transition: background-color 600000s 0s, color 600000s 0s;
  // }
  // &[data-autocompleted] {
  //   background-color: transparent !important;
  // }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
  }

  // &:-internal-autofill-previewed,
  // &:-internal-autofill-selected {

  // }
  // &:-webkit-autofill {
  //   -webkit-box-shadow: 0 0 0px 1000px yellow inset;
  // }

  // input:-webkit-autofill {       transition: all 0s 50000s;     }
}

// ===========================
// DO NOT DELETE!!! IMPORTANT!
// ===========================
// .wrapper {
// 		&.flexgrow {
// 			&_0 {
// 				flex-grow: 0;
// 			}
// 			&_1 {
// 				flex-grow: 1;
// 			}
// 		}
// 	}
// ===========================
