@import '../../../../assets/styles/colors';

.component {
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 9px 12px;
  border-radius: 4px;
  transition: $transition-default;
  &:not(:first-of-type) {
    margin-top: 5px;
  }
  .secondaryLabel {
    flex-shrink: 0;
  }
  &:hover {
    background: map-get($general-color, 'general-grey-10');
  }
}
