@import '../../../assets/styles/fonts';
@import '../../../assets/styles/colors';

.pickerWrapper {
  display: flex !important;
  align-items: center !important;

  & div {
    display: flex !important;
    align-items: center !important;
  }

  &.height {
    &_36 input {
      @include font-caption-regular;
    }

    &_48 input {
      @include font-body-regular-14;
    }
  }

  & input, input:focus, input:active, input:hover {
    border: 0;
    border-radius: unset;
    padding: 0;
    background: transparent;

    &::placeholder {
      color: map-get($general-color, 'general-grey-90');

      transition: $transition-default;
    }
  }

  &.disabled, &.disabled:focus, &.disabled:hover {
    & input {
      cursor: not-allowed;
      user-select: none;
      pointer-events: none;

      color: map-get($general-color, 'general-grey-90');
    }
  }


  &.readOnly, &.readOnly:focus, &.readOnly:hover {
    & input {
      cursor: auto;
      user-select: none;
      pointer-events: none;

      color: map-get($general-color, 'general-black-100');
    }
  }

  &.error, &.error:focus, &.error:hover {
    & input {
      color: map-get($extra-color, 'extra-red-90');

      &::placeholder {
        color: map-get($extra-color, 'extra-red-20');
      }
    }
  }
}

.popperClassName {
  &.height {
    &_36 {
      transform: translate(16px, 46px) !important;
    }

    &_48 {
      transform: translate(16px, 58px) !important;
    }
  }
}
