@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/fonts';
@import '../../Select.module';

.singleSelectMain {
  position: relative;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  flex: 1;
  min-width: 0;

  @include font;

  & .singleSelectItemWrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;

    &.gap {
      gap: 8px;
    }

    &.filled {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex: 1;
      min-width: 0;
      gap: 0;
    }

    & .singleSelectValueWrapper {
      display: flex;
      align-items: center;
      gap: 8px;

      flex: 1;
      min-width: 0;
      max-width: 100%;

      &.gap {
        gap: 8px
      }

      & .singleSelectItemLabel {
        flex: 1;
        min-width: 0;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        color: map-get($general-color, 'general-black-100');
        user-select: none;

        transition: $transition-default;

        @include error;
      }
      & .bankAccountTypeTag {
        max-width: 300px;
      }
    }
  }

  & .singleSelectItemSubLabelWrapper {
    flex-shrink: 0;
    max-width: 30%;
    transition: $transition-default;
  }

  & .singleSelectItemSubLabel {
    @include font-caption-regular;
    color: map-get($general-color, 'general-grey-100');
    user-select: none;

    height: 100%;

    display: inline-block;
    align-items: center;

    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @include error;
  }
}


// SELECT TYPE === 'column'
.singleSelectColumnValueWrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  flex: 1;
  min-width: 0;

  & .singleSelectColumnLabelWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
  }

  & .singleSelectColumnLabel {
    flex: 1;
    min-width: 0;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @include font-caption-regular;
    color: map-get($general-color, 'general-black-100');
    user-select: none;

    transition: $transition-default;

    @include error;
  }

  & .singleSelectColumnSubLabel {
    flex: 1;
    min-width: 0;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @include font-caption-regular;
    color: map-get($general-color, 'general-grey-100');
    user-select: none;

    transition: $transition-default;
    @include error;
  }
}
