@import '../../../assets/styles/colors';

.navigation {
  height: 100%;
  width: 180px;
  padding: 15px 14px 20px;
  transition: $transition-default;
  span {
    transition: $transition-default;
  }
  &.default {
    width: 72px;
  }
}
