@import '../../../../assets/styles/colors.scss';

.button {
  background: inherit;
  display: flex;
  color: inherit;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: $border-radius-default;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  cursor: pointer;
  border: none;
  transition: $transition-default;
  user-select: none;
  flex-shrink: 0;
  white-space: nowrap;
  position: relative;
  @include background-colors-new;
  @include text-colors-new;
  @include border-colors-new;
  &.shadow {
    &_default {
      box-shadow: 0 10px 30px rgba(192, 196, 205, 0.3);
    }
  }

  &.align {
    &_left {
      justify-content: flex-start;
    }
    &_center {
      justify-content: center;
    }
    &_right {
      justify-content: flex-end;
    }
  }

  &:active,
  &:focus,
  &:visited {
    outline: 0;
  }

  // Padding
  &.padding {
    &_default {
      padding: 4px 12px;
    }
    &_none {
      padding: 0;
    }
    &_minimal {
      padding: 5px 10px;
    }
    &_8 {
      padding: 8px;
    }
  }

  // Navigation button
  &.navigation:not(.disabled) {
    .icon {
      transition: margin 0.2s ease;
    }
    &:hover {
      .icon {
        &_left {
          margin-right: 12px;
        }
        &_right {
          margin-left: 12px;
        }
      }
    }
  }
  // Only icon for navigation
  &.onlyIcon {
    min-width: 40px;
    width: 100%;
    padding: 5px;
    &.tiny {
      min-width: 30px;
      max-width: 30px;
    }
    &.small {
      min-width: 40px;
      max-width: 40px;
    }
    &.large {
      min-width: 50px;
      max-width: 50px;
    }
    .icon {
      margin-right: 0;
      margin-left: 0;
    }
    .text {
      font-size: 0;
    }
  }
  // Icon inside button
  .icon {
    display: inline-flex;
    align-items: center;
    &_left {
      margin-right: 8px;
    }
    &_right {
      margin-left: 8px;
    }
    &_color {
      svg path {
        fill: currentColor;
      }
    }
  }
  // Text
  & .text {
    &.text-transition {
      &_unset {
        transition: unset;
      }
      &_inherit {
        transition: inherit;
      }
    }
  }
}


.dropdown {
  position: relative;
  @include text-colors-new;
  @include background-colors-new;
  margin-right: 24px;

  //Width
  &.width {
    &_40 {
      width: 40px;
    }
    &_50 {
      width: 50px;
    }
    &_80 {
      width: 80px;
    }
    &_88 {
      width: 88px;
    }
    &_100 {
      width: 100px;
    }
    &_108 {
      width: 108px;
    }
    &_120 {
      width: 120px;
    }
    &_134 {
      width: 134px;
    }
    &_140 {
      width: 140px;
    }
    &_156 {
      width: 156px;
    }
    &_180 {
      width: 180px;
    }
    &_220 {
      width: 220px;
    }
    &_230 {
      width: 230px;
    }
    &_xs-auto {
      width: auto;
      min-width: unset;
    }
    &_xs {
      width: 100%;
      max-width: 110px;
    }
    &_sm {
      width: 100%;
      max-width: 150px;
    }
    &_md {
      width: 100%;
      max-width: 230px;
    }
    &_lg {
      width: 100%;
      max-width: 260px;
    }
    &_xl {
      width: 100%;
      max-width: 320px;
    }
    &_xxl {
      max-width: 320px;
      width: 100%;
      // Free to use
    }
    &_full {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
    }
    &_auto {
      width: auto;
    }
  }

  //Height
  &.height {
    &_24 {
      height: 24px;
        & .trigger {
          height: 24px;
          width: 24px;
          right: -24px;
        }
    }
    &_28 {
      height: 28px;
      & .trigger {
        height: 28px;
        width: 28px;
        right: -28px;
      }
    }
    &_30 {
      height: 30px;
      & .trigger {
        height: 30px;
        width: 30px;
        right: -30px;
      }
    }
    &_32 {
      height: 32px;
      & .trigger {
        height: 32px;
        width: 32px;
        right: -32px;
      }
    }
    &_40 {
      height: 40px;
        & .trigger {
          height: 40px;
          width: 40px;
          right: -40px;
        }
    }
    &_44 {
      height: 44px;
      & .trigger {
        height: 44px;
        width: 44px;
        right: -44px;
      }
    }
    &_48 {
      height: 48px;
      & .trigger {
        height: 48px;
        width: 48px;
        right: -48px;
      }
    }
    &_50 {
      height: 50px;
        & .trigger {
          height: 50px;
          width: 50px;
          right: -50px;
        }
    }
  }
   & .dropdown_wrapper {
     @include background-colors-new;
     @include text-colors-new;
     position: absolute;
     cursor: pointer;
     height: 100%;
     right: 0;
     top: 1px;
  }
  & .trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: inherit;
    border-left: 1px solid map-get($general-color, 'general-white-100');
    background: inherit;
    right: 0;
    top: -2px;
    border-radius: 0 $border-radius-default $border-radius-default 0;
    transition: $transition-default;
    svg path {
      fill: currentColor;
    }
  }
}

//Disabled button
//.disabled {
//  & .button,
//  & .trigger {
//    background: map-get($general-color, 'general-grey-90');
//    color: map-get($general-color, 'general-white-100');
//    cursor: not-allowed;
//
//    &:hover {
//      background: map-get($general-color, 'general-grey-90');
//      color: map-get($general-color, 'general-white-100');
//    }
//  }
//}

//Disabled button with dropdown
.enable {
  cursor: pointer;
  z-index: 3;
}

.disable_dropdown {
  cursor: not-allowed;
  opacity: .5;
}

.disabled_button {
  cursor: not-allowed;
  position: relative;
  opacity: .5;

}

.tooltip {
  width: inherit;
  height: inherit;
}

