@import '../../../../../assets/styles/colors';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  background: map-get($general-color, 'general-grey-10');
  width: 100%;
  height: 84px;
  .info {
    gap: 24px;
    display: flex;
    align-items: center;
  }
  .actions {
    gap: 16px;
    display: flex;
    align-items: center;
    .close {
      width: 32px;
      height: 32px;
      background: map-get($general-color, 'general-white-100');
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $transition-default;
      border-radius: $border-radius-default;
      cursor: pointer;
    }
  }
}
