@import '../../../../assets/styles/colors';

.container {
  width: 100%;
  max-width: 220px;
  flex-shrink: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px 20px;
  background: map-get($general-color, 'general-white-100');
  border-radius: $border-radius-default;
  @include customScroll;
}
