@import '../../../../../assets/styles/colors';

.component {
  color: map-get($general-color, 'general-grey-100');
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  padding: 8px;
  border-radius: $border-radius-default;
  cursor: pointer;
  .tick {
    opacity: 0;
    transition: $transition-default;
  }
  &:hover {
    color: map-get($general-color, 'general-black-100');
  }
  &.selected {
    color: map-get($general-color, 'general-violet-90');
    background: map-get($general-color, 'general-blue-10');
    .tick {
      opacity: 1;
    }
    &:hover {
      color: map-get($general-color, 'general-violet-100');
    }
  }
}
