@import '../../../../assets/styles/colors';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: $transition-default;
  cursor: pointer;
  &:not(:last-of-type) {
    margin-right: 5px;
  }
  &:hover {
    background: map-get($general-color, 'general-grey-10');
  }
  &.selected {
    background: map-get($general-color, 'general-grey-10');
    &:hover {
      background: map-get($general-color, 'general-blue-10');
    }
  }
}
