@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');
@import '../../../../assets/styles/colors';

.text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Chilanka', sans-serif;
  font-weight: 400;
  color: map-get($general-color, 'general-violet-90');
  font-size: 50px;
  line-height: 100%;
  user-select: none;
}
