@import '../../../../../assets/styles/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 160px;
  align-items: center;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 30px;
    transition: $transition-default;
    background: map-get($general-color, 'general-grey-10');
    border: 1px solid map-get($general-color, 'general-grey-20');
  }
  .text {
    margin-top: 16px;
  }
  &.active {
    cursor: pointer;
    .container {
      .icon {
        filter: opacity(0.5);
      }
    }
    .text {
      color: map-get($general-color, 'general-grey-100');
    }
    &:hover {
      .container {
        background: map-get($general-color, 'general-blue-10');
        border: 1px solid map-get($general-color, 'general-blue-10');
        .icon {
          filter: opacity(1);
        }
      }
      .text {
        color: map-get($general-color, 'general-violet-100');
      }
    }
  }
  &.disabled {
    // color: map-get($general-color, 'general-grey-90');
    filter: grayscale(1);
    cursor: not-allowed;
  }
}
