@import '../../../../assets/styles/colors';

@mixin absolute-vertical-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin input-height-36 {
  height: 12px;
}

@mixin input-height-48 {
  height: 14px;
}

@mixin font-input-28 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

@mixin font-input-36 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

@mixin font-input-48 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

@mixin label-focus {
  color: map-get($general-color, 'general-violet-90');
}

@mixin label-expand {
  left: 16px;
  top: 4px;
  transform: none;

  font-size: 12px;
  line-height: 16px;
}

.label {
  @include absolute-vertical-centered;
  color: map-get($general-color, 'general-grey-100');

  transition: $transition-default;
  pointer-events: none;
  user-select: none;

  @include font-input-48;

  &.expand {
    @include label-expand;
  }

  &.focus {
    @include label-focus;
  }

  & .required {
    color: map-get($extra-color, 'extra-red-90');
  }

  &.disabled {
    color: map-get($general-color, 'general-grey-90');

    & .required {
      color: map-get($extra-color, 'extra-red-20');
    }
  }

  &.readOnly {
    color: map-get($general-color, 'general-grey-100');

    & .required {
      color: map-get($extra-color, 'extra-red-90');
    }
  }

  &.error {
    color: map-get($extra-color, 'extra-red-90');

    & .required {
      color: map-get($extra-color, 'extra-red-100');
    }
  }
}

.numericInputWrapper {
  flex: 1;

  display: flex;
  align-items: center;

  position: relative;
  transition: $transition-default;

  &_48 {
    align-items: flex-end;
  }

  .inputWrapper {
    flex: 1;

    display: flex;
    align-items: center;
    position: relative;

    .input {
      background: transparent;

      width: 100%;
      text-align: right;
      border: none;
      caret-color: map-get($general-color, 'general-black-100');

      &:active,
      &:visited,
      &:focus,
      &.active {
        outline: 0;
      }

      &_positiveOnlyColored {
        color: map-get($extra-color, 'extra-green-100');
      }

      &_negativeOnlyColored {
        color: map-get($extra-color, 'extra-red-100');
      }


      &.disabled {
        user-select: none;
        pointer-events: none;
        color: map-get($general-color, 'general-grey-90');
      }

      &.readOnly {
        user-select: none;
        pointer-events: none;
        color: map-get($general-color, 'general-black-100');
      }

      &.error {
        color: map-get($extra-color, 'extra-red-90');
      }
    }

    .placeholder {
      @include absolute-vertical-centered;
      right: 0;
      flex-shrink: 0;

      user-select: none;
      pointer-events: none;

      transition: $transition-default;

      color: map-get($general-color, 'general-grey-90');

      &.focus {
        color: map-get($general-color, 'general-grey-90');
      }

      &.error {
        color: map-get($extra-color, 'extra-red-20');
      }
    }
  }

  .suffix {
    transition: $transition-default;
    flex-shrink: 0;
    color: map-get($general-color, 'general-black-100');

    margin-left: 4px;

    &.focus {
      color: map-get($general-color, 'general-black-100');
    }

    &.error {
      color: map-get($extra-color, 'extra-red-90');
    }
  }

  &.hidden {
    opacity: 0;

    .input {
      cursor: default;
    }
  }
}

// fonts
.input,
.label,
.placeholder,
.suffix {
  &_28 {
    @include font-input-28;
  }

  &_36 {
    @include font-input-36;
  }

  &_48 {
    @include font-input-48;
  }
}

.subValueWrapper {
  align-items: start;

  .subValue {
    font-size: 10px;
    color: map-get($general-color, 'general-grey-90');
    position: absolute;
    bottom: 2px;
    right: 8px;
    text-align: right;
  }

  .loader {
    position: relative;
  }
}