@import '../../../../assets/styles/colors';

.wrapper {
  display: inline-flex;
  background: map-get($general-color, 'general-grey-10');
  color: map-get($general-color, 'general-grey-100');
  border-radius: $border-radius-default;
  padding: 8px 12px;
  cursor: pointer;
  &.checked {
    color: map-get($general-color, 'general-black-100');
  }
}
