@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/fonts';
@import '../../Select.module';

.selectLabel {
  flex-shrink: 0;

  @include font;
  color: map-get($general-color, 'general-grey-100');
  user-select: none;
  transition: $transition-default;

  &.collapsed {
    @include font-caption-regular;
    color: map-get($general-color, 'general-grey-100');
  }

  &.focused {
    @include font-caption-regular;
    color: map-get($general-color, 'general-violet-90');
  }

  &.required {
    &::after {
      content: '*';
      color: map-get($extra-color, 'extra-red-90');
    }
  }

  &.disabled {
    color: map-get($general-color, 'general-grey-90');
  }

  @include error;
}
