@import '../../../../assets/styles/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: map-get($general-color, 'general-black-100');
  padding: 24px 60px;
  .header {
    min-height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    .links {
      display: flex;
      gap: 24px;
    }
  }
  .main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    .promo {
      height: 100%;
      position: relative;
      max-width: 640px;
      width: 100%;
      display: flex;
      align-items: center;
      .text {
        color: map-get($general-color, 'general-white-100');
        user-select: none;
        font-weight: 700;
        font-size: 56px;
        line-height: 84px;
        z-index: 1;
      }
    }
    .modal {
      display: flex;
      flex-direction: column;
      background: map-get($general-color, 'general-white-100');
      padding: 60px;
      width: 100%;
      max-width: 600px;
      border-radius: 20px;
      z-index: 1;
      .title {
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        color: black;
        text-align: center;
        user-select: none;
      }
    }
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: map-get($general-color, 'general-white-100');
  }
}
