@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/fonts';

.datepickerPresetsWrapper {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.presetsRadioWrapper {
  &:hover {
    background: map-get($general-color, 'general-grey-10');
    border-radius: 10px;
  }

  &:has(input:checked) {
    background: map-get($general-color, 'general-blue-10');
    color: map-get($general-color, 'general-violet-90');
    border-radius: 10px;
  }
}

.presetsRadio {
  padding: 8px;
  margin: 2px 0;
  width: 100%;
}


.presetsLabelWrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
}
