@import '../../../../../../assets/styles/colors';
@import '../../../../../../assets/styles/fonts';

.item {
  cursor: not-allowed;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 8px;
  border-radius: $border-radius-default;
  transition: $transition-default;
  user-select: none;
  color: map-get($general-color, 'general-black-100');
  @include font-caption-regular;
}
