@import '../../../assets/styles/colors';

.component {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 12px;
  background: map-get($general-color, 'general-white-100');
  min-width: 32px;
}
