@import '../../../../assets/styles/colors';

.header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: map-get($general-color, 'general-black-100');
  flex-shrink: 0;
  &.default {
    width: 100%;
  }
  &.fullwidth {
    max-width: 100%;
    border-radius: $border-radius-default;
    margin: 20px 20px 0;
  }
  & > .action {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  // Title positioning
  &.left {
    justify-content: flex-start;
  }
  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: flex-end;
    & > .action {
      right: unset;
      left: 32px;
    }
  }
  // Modal header height
  &.small {
    height: 60px;
  }
  &.medium {
    height: 70px;
  }
  //Background color of modal header
  &.background {
    &_grey-10 {
      background: map-get($general-color, 'general-grey-10');
    }
    &_white-100 {
      background: map-get($general-color, 'general-white-100');
    }
  }
  &.radius {
    border-radius: $border-radius-default;
  }
}
