@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/grid';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/inputWidth';

:global {
  @import './scss/InputPhoneGeneral.scss';
}

.wrapper {
  position: relative;

  &.disabled {
    cursor: not-allowed;

    & div:hover {
      cursor: not-allowed;
      pointer-events: none;
      background-color: transparent !important;
    }
  }

  &.readOnly {
    cursor: auto;

    & div:hover {
      cursor: auto;
      pointer-events: none;
      background-color: transparent !important;
    }
  }

  @include inputWidth;

  .input {
    width: 100%;
    height: 48px;
    padding-top: 16px;
    background: map-get($general-color, 'general-grey-10');
    @include font-body-regular-14;
    border-radius: $border-radius-default;
    border: 1px solid map-get($general-color, 'general-grey-20');
    transition: all 0.25s ease, padding-top 0s;

    &:active,
    &:hover,
    &:focus,
    &:visited {
      outline: 0;
    }

    &::placeholder {
      color: map-get($general-color, 'general-grey-90');
      user-select: none;
      transition: $transition-default;
      opacity: 0;
    }

    &.paddingCorrection {
      padding-top: 14px;
    }

    &.focus {
      border: 1px solid map-get($general-color, 'general-violet-90');

      &::placeholder {
        opacity: 1;
      }
    }

    &.hovered {
      background: map-get($general-color, 'general-grey-20');
    }

    &.disabled {
      border: 1px solid map-get($general-color, 'general-grey-20');

      color: map-get($general-color, 'general-grey-90');

      &::placeholder {
        color: map-get($general-color, 'general-grey-90');
      }
    }

    &.readOnly {
      border-color: map-get($general-color, 'general-grey-10');

      color: map-get($general-color, 'general-black-100');

      &::placeholder {
        color: map-get($general-color, 'general-grey-90');
      }
    }

    &.error {
      border: 1px solid map-get($extra-color, 'extra-red-10');
      background: map-get($extra-color, 'extra-red-10');
      color: map-get($extra-color, 'extra-red-90');

      &::placeholder {
        color: map-get($extra-color, 'extra-red-20');
      }

      &.focus {
        border: 1px solid map-get($extra-color, 'extra-red-20');
      }
    }
  }

  .label {
    position: absolute;
    left: 53px;
    top: 17px;
    font-size: 14px;
    line-height: 14px;
    transition: $transition-default;
    pointer-events: none;
    user-select: none;
    color: map-get($general-color, 'general-grey-100');

    .required {
      color: map-get($extra-color, 'extra-red-90');
    }

    &.focus {
      color: map-get($general-color, 'general-violet-90');
    }

    &.focus,
    &.inputActive {
      font-size: 12px;
      line-height: 12px;
      top: 6px;
    }

    &.disabled {
      color: map-get($general-color, 'general-grey-90');
    }

    &.readOnly {
      color: map-get($general-color, 'general-grey-100');
    }

    &.error {
      color: map-get($extra-color, 'extra-red-90');
    }
  }
}
