@keyframes slideInTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.iti {
  width: 100%;
}

.iti__country-list {
  margin-top: 4px;
  border-radius: 10px;
  animation: slideInTop 0.5s ease;
  width: 320px;
}

.iti__selected-dial-code {
  font-size: 14px;
}

.iti__divider {
  margin-left: 8px;
  margin-right: 8px;
}

.iti__selected-flag {
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  transition: all 0.25s ease;
}
