@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/grid';

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-default;
  border: 1px solid map-get($general-color, 'general-grey-20');
  &:not(:last-of-type) {
    margin-bottom: 8px;
  }
  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: relative;
    background: map-get($general-color, 'general-grey-10');
    border-radius: $border-radius-default;
    transition: $transition-default;
    &:before {
      position: absolute;
      content: '';
      width: 2px;
      height: 50%;
      background: map-get($general-color, 'general-violet-90');
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      transition: $transition-default;
      opacity: 0;
    }
    .control {
      transition: transform 0.6s ease;
      &.opened {
        transform: rotateX(180deg);
      }
    }
  }
  .rest {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.15s linear;
    opacity: 0;
    &.visible {
      overflow: visible;
      opacity: 1;
      transition: max-height 0.6s ease, opacity 0.3s 0.2s linear;
    }
    .secondaryRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      &:not(:last-of-type) {
        border-bottom: 1px solid map-get($general-color, 'general-grey-20');
      }
    }
  }

  &:hover {
    .main {
      background: map-get($general-color, 'general-violet-10');
      &:before {
        opacity: 1;
      }
    }
  }
}
