@import '../../../../assets/styles/colors';

.wrapper {
  display: inline-flex;
  overflow: hidden;
  height: 32px;
  border-radius: $border-radius-default;
  @include background-colors-new;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  color: map-get($general-color, 'general-violet-90');
  transition: $transition-default;
  border-radius: $border-radius-default;
  cursor: pointer;
  &.active {
    background: map-get($general-color, 'general-violet-90');
    .text {
      color: map-get($general-color, 'general-white-100');
    }
  }
}
