@import "../../../../../../src/assets/styles/variables";
@import "../../../../../../src/assets/styles/colors/generalcolors";
@import '../../../../../../src/assets/styles/fonts';

.datepickerPeriodCalendarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8px;

  gap: 4px;
}

.datepickerPeriodCalendarDateInputsContainer {
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 6px;

  padding: 0 40px;
}

.datepickerCalendar {

  &_dateInput {
    width: 110px;

    &_wrapper {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    &_label {
      color: map-get($general-color, 'general-grey-100');
      @include font-caption-regular;
    }
  }
}
