@import '../../../../assets/styles/colors';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-radius: 20px;
  min-width: 600px;
  width: calc(50% - 12px);
  height: 280px;
  &.type {
    &_balance {
      background: map-get($general-color, 'general-violet-90');
      .text {
        max-width: 380px;
      }
      .button {
        color: map-get($general-color, 'general-violet-90');
      }
    }
    &_register {
      background: map-get($extra-color, 'extra-purple-100');
      .text {
        max-width: 320px;
      }
      .button {
        color: map-get($extra-color, 'extra-purple-100');
      }
    }
    &_forThePeriod {
      background: map-get($extra-color, 'extra-green-90');
      .text {
        max-width: 424px;
      }
      .button {
        color: map-get($extra-color, 'extra-green-90');
      }
    }
    &_bankStatement {
      background: map-get($general-color, 'general-blue-100');
      .text {
        max-width: 347px;
      }
      .button {
        color: map-get($general-color, 'general-blue-100');
      }
    }
  }
  .title,
  .text,
  .button {
    z-index: 1;
  }
  .text {
    margin-top: 8px;
  }
  .button {
    margin-top: 28px;
  }
  .chart {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
