@import '../../../../assets/styles/colors';

.component {
  display: flex;
  align-items: center;
  min-width: 220px;
  padding: {
    left: 8px;
    right: 8px;
    top: 8px;
    bottom: 8px;
  }
  gap: 8px;
  color: map-get($general-color, 'general-grey-100');
  cursor: pointer;
  transition: $transition-default;
  border-radius: $border-radius-default;
  .arrow {
    width: 0;
    overflow: hidden;
    transition: width 0.25s ease;
  }
  &:hover {
    color: map-get($general-color, 'general-violet-100');
    background: map-get($general-color, 'general-blue-10');
    padding-left: 16px;
    .arrow {
      width: 16px;
    }
  }
}

.title {
  min-width: 220px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 8px 8px 16px;
}
