@import '../../../../../../assets/styles/colors';
@import '../../../../../../assets/styles/fonts';

.item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 8px;
  border-radius: $border-radius-default;
  transition: $transition-default;
  user-select: none;
  @include font-caption-regular;
  // min-width: 0;
  &:not(:last-of-type) {
    margin-bottom: 4px;
  }
  & .label {
    transition: $transition-default;
    color: map-get($general-color, 'general-grey-100');
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  & .secondaryLabel {
    color: map-get($general-color, 'general-grey-100');
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &:hover {
    background: map-get($general-color, 'general-grey-10');
    & .label {
      color: map-get($general-color, 'general-violet-90');
    }
  }
  &.selected {
    background: map-get($general-color, 'general-grey-20');
    & .label {
      color: map-get($general-color, 'general-violet-100');
    }
    &:hover {
      color: map-get($general-color, 'general-violet-100');
    }
  }
  svg {
    margin-right: 10px;
  }
}
