@import '../../../assets/styles/colors';

.width {
  max-width: 100%;
}

.tooltip_wrapper {
  min-width: 16px;
}

.icon_tooltip {
  &:hover {
    background: map-get($general-color, 'general-grey-90');
  }
  z-index: 1;
  margin-left: 1px;
  cursor: pointer;
}

.tooltip_message {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  word-break: break-all;
  height: max-content;
}
.container {
  display: flex;
}
.component {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: $transition-default;
  flex-shrink: 0;
  gap: 4px;
  &.size {
    &_16 {
      min-height: 16px;
      min-width: 16px;
    }

    &_24 {
      min-height: 24px;
      min-width: 24px;
    }

    &_32 {
      min-height: 32px;
      min-width: 32px;
    }

    &_48 {
      min-height: 48px;
      min-width: 48px;
    }
  }

  .body {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    max-width: 100%;
    &:has(+ .divider) {
      max-width: calc(100% - 30px);
    }
    &.icon {
      &_left {
        flex-direction: row;
      }
      &_right {
        flex-direction: row-reverse;
      }
    }
  }

  &.flexShrink {
    &_1 {
      flex-shrink: 1;
    }
  }

  &.padding {
    &_3 {
      padding: 3px;
    }

    &_0-4 {
      padding: 0 4px;
    }

    &_4 {
      padding: 4px;
    }

    &_2-8 {
      padding: 2px 8px;
    }

    &_4-8 {
      padding: 4px 8px;
    }

    &_8 {
      padding: 8px;
    }
  }

  &.shape {
    &_square {
      &.size {
        &_16 {
          border-radius: 6px;
            &:not( :only-child) {
              border-radius:  6px 0 0 6px ;
            }
          &.icon_tooltip {
            border-radius: 0 6px 6px 0;
          }
        }

        &_24,
        &_32 {
          border-radius: $border-radius-default;
          &:not( :only-child) {
            border-radius: $border-radius-default 0 0 $border-radius-default;
          }
          &.icon_tooltip {
            border-radius: 0 $border-radius-default $border-radius-default 0;
          }
        }

        &_48 {
          border-radius: 16px;
        }
      }
    }
    &_circle {
      border-radius: 50%;
    }
  }

  &.color {
    &_grey {
      background: map-get($general-color, 'general-grey-20');
      color: map-get($general-color, 'general-grey-100');
      &:hover:not(.isNotClickable) {
        &:not( :only-child) {
          background: map-get($general-color, 'general-grey-30');
        }

        &.icon_tooltip {
          background: map-get($general-color, 'general-grey-30');
        }
      }
    }

    &_grey-black {
      background: map-get($general-color, 'general-grey-20');
      color: map-get($general-color, 'general-black-100');
      &:hover:not(.isNotClickable) {
        &:not( :only-child) {
          background: map-get($general-color, 'general-grey-30');
        }
        &.icon_tooltip {
          background: map-get($general-color, 'general-grey-30');
        }
      }
    }

    &_grey-10-grey-90 {
      background: map-get($general-color, 'general-grey-10');
      color: map-get($general-color, 'general-grey-90');
    }

    &_grey-10:not(.isNotClickable) {
      background: map-get($general-color, 'general-grey-10');
      color: map-get($general-color, 'general-grey-100');

      &:hover {
        background: map-get($general-color, 'general-grey-20');
      }
    }

    &_green {
      background: rgba(map-get($extra-color, 'extra-green-90'), 0.1);
      color: map-get($extra-color, 'extra-green-90');
    }

    &_green-10-green-20 {
      background: rgba(map-get($extra-color, 'extra-green-90'), 0.1);
      color: map-get($extra-color, 'extra-green-90');

      &:hover:not(.isNotClickable) {
        background: map-get($extra-color, 'extra-green-20');
      }
    }

    &_yellow {
      background: rgba(map-get($extra-color, 'extra-yellow-90'), 0.1);
      color: map-get($extra-color, 'extra-yellow-90');
    }

    &_yellow-10-yellow-20 {
      background: rgba(map-get($extra-color, 'extra-yellow-90'), 0.1);
      color: map-get($extra-color, 'extra-yellow-90');

      &:hover:not(.isNotClickable) {
        background: map-get($extra-color, 'extra-yellow-20');
      }
    }

    &_red {
      background: rgba(map-get($extra-color, 'extra-red-90'), 0.1);
      color: map-get($extra-color, 'extra-red-90');
    }

    &_violet {
      background: map-get($general-color, 'general-blue-10');
      color: map-get($general-color, 'general-violet-90');
    }

    &_purple {
      background: rgba(map-get($extra-color, 'extra-purple-90'), 0.1);
      color: map-get($extra-color, 'extra-purple-90');
    }

    &_violetFilled {
      background: map-get($general-color, 'general-violet-90');
      color: map-get($general-color, 'general-white-100');
    }

    &_white {
      background: map-get($general-color, 'general-white-100');
      color: map-get($general-color, 'general-grey-100');
    }

    &_black {
      background: map-get($general-color, 'general-black-100');
      color: map-get($general-color, 'general-white-100');
    }
  }

  .divider {
    width: 1px;
    height: 24px;
    position: relative;
    background: map-get($general-color, 'general-white-100');
  }
}
