@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';

@mixin underscore-base {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  background: currentColor;
  transition: transform 0.25s ease;
}

.link {
  transition: $transition-default;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
  user-select: none;
  &:active,
  &:focus,
  &:visited {
    outline: 0;
  }

  // Custom selection colors
  &.secondary-success {
    &::selection {
      background: map-get($extra-color, 'extra-green-90');
      &:hover {
        color: map-get($general-color, 'general-white-100');
      }
    }
  }
  // Icon near link
  .icon {
    display: inline-flex;
    margin-right: 10px;
    margin-bottom: 6px;
    max-width: 16px;
    width: 100%;
    max-height: 16px;
    svg {
      width: 100%;
      height: 100%;
      path {
        fill: currentColor;
      }
    }
    &_right {
      margin-right: 0;
      margin-left: 10px;
    }
  }
  .main_text_container {
    display: inline-flex;
    position: relative;
    align-items: flex-end;
    @include text-colors-new;
    max-width: 100%;

    &:after {
      @include underscore-base;
      transform: scaleX(0);
      transform-origin: bottom right;
    }
    &:active,
    &:visited,
    &:hover {
      &:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
    &:focus-visible {
      outline: 0;
      &:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }

    &:has( .icon) {
      .noWrap {
        width: calc(100% - 26px);
      }
    }
  }

  .text {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    user-select: none;
    flex-shrink: 0;

    &.noWrap {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
    }
  }

  &:has(.second_text) {
    .main_text_container {
      max-width: 70%;
    }
  }
  .second_text {
    display: inline-flex;
    position: relative;
    align-items: flex-end;
    @include text-colors-new;
  }
  &:not(.disabled) {
    .main_text_container:hover + .second_text {
      color: map-get($general-color, 'general-violet-90');
      &:after {
        @include underscore-base;
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  &::selection {
    background: map-get($general-color, 'general-violet-90');
    color: map-get($general-color, 'general-white-100');
  }
  // Disabled button
  &.disabled {
    .main_text_container, .second_text {
      color: map-get($general-color, 'general-grey-90');
      &:hover {
        color: map-get($general-color, 'general-grey-90');
        &:after {
          transform: scaleX(0);
          transform-origin: bottom right;
        }
      }
    }

    cursor: not-allowed;

  }
}

.link {
  // Link typography
  &.inherit {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    &:after {
      bottom: 0;
    }
  }
  &.h1-bold {
    @include font-h1-bold;
    &:after {
      bottom: 0;
      height: 2px;
    }
  }
  &.h1-semibold {
    @include font-h1-semibold;
    &:after {
      bottom: 0;
      height: 2px;
    }
  }
  &.h2-bold {
    @include font-h2-bold;
    &:after {
      bottom: 2px;
      height: 2px;
    }
  }
  &.h2-semibold {
    @include font-h2-semibold;
    &:after {
      bottom: 2px;
    }
  }
  &.title-bold {
    @include font-title-bold;
    &:after {
      bottom: 1px;
    }
  }
  &.title-semibold {
    @include font-title-semibold;
    &:after {
      bottom: 1px;
    }
  }
  &.title-regular {
    @include font-title-regular;
    &:after {
      bottom: 1px;
    }
  }
  &.body-medium {
    @include font-body-medium;
    &:after {
      bottom: 2px;
    }
  }
  &.body-regular-16 {
    @include font-body-regular-16;
    &:after {
      bottom: 2px;
    }
  }
  &.body-regular-14 {
    @include font-body-regular-14;
    &:after {
      bottom: 3px;
    }
  }
  &.button {
    @extend %font-inter-500-medium;
    font-size: 14px;
    line-height: 28px;
    &:after {
      bottom: 3px;
    }
  }
  &.caption-uppercase {
    @include font-caption-uppercase;
    &:after {
      bottom: -2px;
    }
  }
  &.caption-semibold {
    @include font-caption-semibold;
    &:after {
      bottom: -2px;
    }
  }
  &.caption-regular {
    @include font-caption-regular;
    &:after {
      bottom: -2px;
    }
  }
  &.text-medium {
    @include font-text-medium;
    &:after {
      bottom: -1px;
    }
  }
  &.text-regular {
    @include font-text-regular;
    &:after {
      bottom: -1px;
    }
  }
  &.subtext-bold {
    @include font-subtext-bold;
    &:after {
      bottom: -1px;
    }
  }
  &.subtext-semibold {
    @include font-subtext-semibold;
    &:after {
      bottom: -1px;
    }
  }
  &.subtext-medium {
    @include font-subtext-medium;
    &:after {
      bottom: -1px;
    }
  }
  &.subtext-regular {
    @include font-subtext-regular;
    &:after {
      bottom: -1px;
    }
  }
}
