@import '../../../assets/styles/colors.scss';

// Styling
.container {
  @include background-colors-new;
  @include text-colors-new;
  @include border-colors-new;
}

// General styles
.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  // flex: 0 0 auto;
  appearance: none;
  user-select: none;
  transition: $transition-default;
  cursor: pointer;
  &:active,
  &:visited,
  &:focus {
    outline: 0;
  }
  // Size
  &.size {
    &_12 {
      width: 12px;
      height: 12px;
    }
    &_16 {
      width: 16px;
      height: 16px;
    }
    &_24 {
      width: 24px;
      height: 24px;
    }
  }
  // Shape
  &.square {
    border-radius: $border-radius-default;
  }
  &.circle {
    border-radius: 50%;
  }
  // Icon inside button
  & .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &_color {
      svg path {
        fill: currentColor;
      }
    }
  }
}
