<!-- .storybook/preview-head.html -->

<!-- Pull in static files served from your Static director or the internet -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<style>
	html,
	body,
	#root {
		height: 100%;
	}
</style>
<!-- Or you can load custom head-tag JavaScript: -->
<!--<script src="https://use.typekit.net/xxxyyy.js"></script>-->
<!--<script>try{ Typekit.load(); } catch(e){ }</script>-->