@import '../../../../assets/styles/colors';

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
  &.gap {
    &_0 {
      margin-bottom: 0;
    }
    &_10 {
      margin-bottom: 10px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  border-radius: $border-radius-default;
  transition: $transition-default;
  cursor: pointer;
  // Size
  &.size {
    &_extrasmall {
      height: 44px;
    }
    &_small {
      height: 50px;
    }
    &_medium {
      height: 60px;
    }
  }
  // Background color
  &.primary {
    background: map-get($general-color, 'general-white-100');
    &:hover {
      box-shadow: 0 0 20px rgba(192, 196, 205, 0.2);
    }
  }
  &.secondary {
    background: map-get($general-color, 'general-grey-10');
    &:hover {
      // box-shadow: 0 0 20px rgba(192, 196, 205, .2)
      background: map-get($general-color, 'general-blue-10');
    }
  }
  &.mixed {
    &:nth-of-type(odd) {
      background: map-get($general-color, 'general-grey-10');
    }
    &:nth-of-type(even) {
      background: map-get($general-color, 'general-white-100');
    }
    &:hover {
      background: map-get($general-color, 'general-blue-10');
      box-shadow: 0 0 20px rgba(192, 196, 205, 0.2);
    }
  }
  &.expired {
    background: rgba(map-get($extra-color, 'extra-red-90'), 0.15);
    &:hover {
      box-shadow: 0 0 10px rgba(208, 103, 106, 0.15);
    }
  }
}
