@import '../../../assets/styles/colors.scss';

.wrapper {
  display: inline-flex;
  min-width: 0;
  &.cursor {
    &_default {
      cursor: default;
    }
    &_pointer {
      cursor: pointer;
    }
    &_move {
      cursor: move;
    }
    &_text {
      cursor: text;
    }
    &_help {
      cursor: help;
    }
    &_inherit {
      cursor: inherit;
    }
  }
}

.tooltip {
  position: absolute;
  transition: $transition-default;
  animation: fadeIn 0.5s ease;
  background: map-get($general-color, 'general-black-100');
  border-radius: $border-radius-default;
  user-select: none;
  padding: 7px 10px;
  z-index: 1000;
  &.width {
    &_max-content {
      width: max-content;
      max-width: 100%;
    }
    &_350 {
      max-width: 350px;
    }

    &_560 {
      width: 560px;
      & .content_container {
        width: 100%;
      }
    }

  }
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  .primary_text_color {
    color: map-get($general-color, 'general-white-100');
  }
  .secondary_text_color {
    color: map-get($general-color, 'general-grey-90');
  }

  .text_content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .text_width {
    width: 70%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
