@import '../../../../assets/styles/colors';

.component {
  display: flex;
  justify-content: space-between;
  width: 315px;
  height: 40px;
  background: map-get($general-color, 'general-grey-10');
  color: map-get($general-color, 'general-grey-100');
  border-radius: 10px;
  align-items: center;
  padding: 6px 12px;
  &:hover{
    background: map-get($general-color, 'general-blue-10');
    color: map-get($general-color, 'general-violet-90') ;
  }
  &.added { color: map-get($general-color, 'general-violet-90')}
  & .text_wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}