.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  &.direction {
    &_horizontal {
      flex-direction: row;
    }
    &_vertical {
      flex-direction: column;
      align-items: flex-start;
      .secondary {
        margin-top: 2px;
      }
    }
  }
  & .left {
    display: flex;
    flex-direction: column;
    .tertiary,
    .quadro {
      margin-top: 2px;
    }
  }
  // &.checked {
  //
  // }
  &.blurred {
    opacity: 0.3;
  }
}
