@import '../../../assets/styles/colors';

.counter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 16px;
  padding: 0 4px;
  height: 16px;
  border-radius: 6px;
  background: map-get($general-color, 'general-violet-90');
  color: map-get($general-color, 'general-white-100');
  border: 2px solid map-get($general-color, 'general-white-100');
  font-family: 'Inter', Helvetica, sans-serif;
  font-size: 8px;
  line-height: 8px;
  user-select: none;
  flex-shrink: 0;
}
