@import '../../../assets/styles/colors';

.wrapper {
  position: absolute;
  bottom: 24px;
  left: 0;
  transition: $transition-default;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  & .bar {
    box-shadow: 0 10px 30px rgba(192, 196, 205, 0.3);
    transition: inherit;
    height: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: map-get($general-color, 'general-black-100');
    border-radius: 17px;
    padding: 16px ;
  }
}
