@import '../../../assets/styles/colors';

.component {
  background: map-get($general-color, 'general-grey-10');
  display: flex;
  flex-direction: column;
  position: relative;
  flex-shrink: 0;
  &.radius {
    &_default {
      border-radius: $border-radius-default;
    }
    &_rounded {
      border-radius: 50%;
    }
  }
  &.size {
    &_xs {
      width: 30px;
      height: 30px;
      & .container {
        flex-basis: 30px;
      }
    }
    &_24 {
      width: 24px;
      height: 24px;
      & .container {
        flex-basis: 24px;
      }
    }
    &_32 {
      width: 32px;
      height: 32px;
      & .container {
        flex-basis: 32px;
      }
    }
    &_44 {
      width: 44px;
      height: 44px;
      & .container {
        flex-basis: 44px;
      }
    }
    &_sm {
      width: 100%;
      max-width: 40px;
      height: 100%;
      max-height: 40px;
      & .container {
        flex-basis: 40px;
      }
    }
    &_md {
      width: 100%;
      max-width: 60px;
      height: 100%;
      max-height: 60px;
      & .container {
        flex-basis: 60px;
        &.avatar {
          cursor: default;
        }
      }
    }
    &_lg {
      width: 100%;
      max-width: 80px;
      height: 100%;
      max-height: 80px;
      & .container {
        flex-basis: 80px;
        &.avatar {
          cursor: default;
        }
      }
    }
    &_xl {
      width: 100%;
      max-width: 100px;
      height: 100%;
      max-height: 100px;
      & .container {
        flex-basis: 100%;
      }
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: $transition-default;
  user-select: none;
  width: 100%;
  height: 100%;
  &.radius {
    &_default {
      border-radius: $border-radius-default;
    }
    &_rounded {
      border-radius: 50%;
    }
  }
  &.avatar {
    background: rgba(map-get($general-color, 'general-violet-90'), 0.12);
    cursor: pointer;
  }
  &.border {
    &_white {
      border: 1px solid map-get($general-color, 'general-white-100');
    }
    &_light {
      border: 1px solid map-get($general-color, 'general-grey-20');
    }
    &_dark {
      border: 1px solid map-get($general-color, 'general-grey-100');
    }
    &_none {
      border: none;
    }
  }
}

.counter {
  position: absolute;
  top: -4px;
  right: -4px;
}

.wrapper {
  overflow: hidden;
  &_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
  }
  &_letter {
    line-height: 100%;
    font-weight: 600;
    user-select: none;
    text-transform: uppercase;
    transition: $transition-default;
    &.letter_big {
      font-size: 60px;
    }
    &.letter_medium {
      font-size: 26px;
    }
    &.letter_small {
      font-size: 20px;
    }
    &.letter_text {
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.no_img  {
  width: 24px;
  height: 24px;
}
