@import '../../../assets/styles/colors';
@import '../../../assets/styles/grid';
@import '../../../assets/styles/fonts';

.input {
  display: block;
  width: 100%;
  padding: 9px 16px;
  @include font-body-regular-14;
  @include text-align;
  @include text-colors-new;
  background: map-get($general-color, 'general-grey-10');
  border-radius: $border-radius-default;
  border: 1px solid map-get($general-color, 'general-grey-90');
  transition: $transition-default;

  &::placeholder {
    color: map-get($general-color, 'general-grey-90');
    user-select: none;
    text-align: left;
  }

  &:active,
  &:visited {
    outline: 0;
  }

  &:focus {
    outline: 0;
    border: 1px solid map-get($general-color, 'general-grey-100');
  }

  &.padding {
    &_9-16 {
      padding: 9px 16px;
    }

    &_5-16 {
      padding: 5px 16px;
    }
  }

  //Disabled field
  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
    border: 1px solid map-get($general-color, 'general-grey-90');

    &::placeholder {
      color: map-get($general-color, 'general-grey-100');
    }
  }

  &.readonly {
    border: 1px solid map-get($general-color, 'general-grey-90');
    cursor: not-allowed;
  }

  &_wrapper {
    position: relative;
    max-width: 320px;

    &.flexgrow {
      &_0 {
        flex-grow: 0;
      }

      &_1 {
        flex-grow: 1;
      }
    }

    &.height {
      &_40 {
        height: 40px;
      }

      &_50 {
        height: 50px;
      }
    }

    &.code {
      max-width: 65px;
      position: relative;

      &:after {
        position: absolute;
        content: '';
        width: 5px;
        height: 1px;
        background: map-get($general-color, 'general-black-100');
        right: -12px;
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-of-type {
        &:after {
          display: none;
        }
      }

      .input {
        text-align: center;
      }
    }

    &.rules {
      max-width: 190px;
    }

    &.minimal {
      max-width: 215px;
    }

    &.modal-sm {
      max-width: 230px;
    }

    &._248 {
      max-width: 248px;
    }

    &.modal-md {
      max-width: 260px;
    }

    &.large {
      max-width: 310px;
      width: 100%;
    }

    &.full {
      min-width: 100%;
      max-width: 100%;
    }
  }

  &_field {
    position: relative;
    width: 100%;
  }

  &.success {
    border: 1px solid map-get($extra-color, 'extra-green-90');

    &:hover,
    &:focus {
      border: 1px solid map-get($extra-color, 'extra-green-90');
    }
  }

  &.warning {
    border: 1px solid map-get($extra-color, 'extra-yellow-90');

    &:hover,
    &:focus {
      border: 1px solid map-get($extra-color, 'extra-yellow-90');
    }
  }

  &.error {
    border: 1px solid map-get($extra-color, 'extra-red-90');

    &:hover,
    &:focus {
      border: 1px solid map-get($extra-color, 'extra-red-90');
    }
  }

  &.suggestion {
    padding-right: 48px;
  }
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;

  &_right {
    right: 15px;

    & ~ .input {
      padding-right: 35px;
    }
  }

  &_left {
    left: 15px;

    & ~ .input {
      padding-left: 35px;
    }
  }

  &_password {
    cursor: pointer;
  }
}

.symbol {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &_right {
    right: 15px;

    & ~ .input {
      padding-right: 35px;
    }
  }

  &_left {
    left: 15px;

    & ~ .input {
      padding-left: 35px;
    }
  }
}
