@import '../../../../assets/styles/colors';

.component {
  display: flex;
  align-items: center;
  .icon {
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    &.status {
      &_new {
        background: rgba(map-get($general-color, 'general-grey-100'), 0.1);
        color: map-get($general-color, 'general-grey-100');
      }
      &_failed {
        background: rgba(map-get($extra-color, 'extra-red-90'), 0.1);
        color: map-get($extra-color, 'extra-red-90');
      }
      &_success {
        background: rgba(map-get($extra-color, 'extra-green-90'), 0.1);
        color: map-get($extra-color, 'extra-green-90');
      }
    }
  }
  .text {
    margin-left: 8px;
  }
}
