@import '../../../../assets/styles/colors';

.wrapper {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.2s linear;
  .component {
    position: relative;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-default;
    transition: $transition-default;
    background: map-get($general-color, 'general-grey-10');
    cursor: pointer;
    overflow: hidden;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
