@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/fonts';

.message {
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  padding: 8px 16px;
  border-radius: 10px;
  margin-top: 4px;
  user-select: none;
  @include font-text-regular;
  &.success {
    color: map-get($extra-color, 'extra-green-90');
    background: #edf9f0;
  }
  &.warning {
    color: map-get($extra-color, 'extra-yellow-90');
    background: #fff4ec;
  }
  &.error {
    color: map-get($extra-color, 'extra-red-90');
    background: #feefef;
  }
  &.normal {
    color: map-get($general-color, 'general-black-100');
    background: #f9f9fa;
  }
}

.icon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  color: map-get($general-color, 'general-white-100');
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-right: 8px;
  &.success {
    background: map-get($extra-color, 'extra-green-90');
  }
  &.warning {
    background: map-get($extra-color, 'extra-yellow-90');
  }
  &.error {
    background: map-get($extra-color, 'extra-red-90');
  }
}
