@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';

.textarea {
  display: block;
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  background: transparent;

  @include font-body-regular-14;
  @include text-align;

  &:active,
  &:visited,
  &:focus {
    outline: 0;
  }

  &::placeholder {
    user-select: none;
  }

  &.disabled, &.disabled:focus, &.disabled:hover {
    cursor: not-allowed;
    user-select: none;

    color: map-get($general-color, 'general-grey-90');
  }

  &.readOnly, &.readOnly:focus, &.readOnly:hover {
    cursor: auto;
    user-select: none;
    pointer-events: none;

    color: map-get($general-color, 'general-black-100');
  }

  &.error, &.error:focus, &.error:hover {
    color: map-get($extra-color, 'extra-red-90');

    &::placeholder {
      color: map-get($extra-color, 'extra-red-20');
    }
  }
}
