$general-color: (
  // General colors
        'general-violet-100': #4b4fed,
        'general-violet-90': #6367f6,
        'general-violet-20': #e4e4ff,
        'general-violet-10': #f8f8ff,
        'general-blue-100': #4678ff,
        'general-blue-20': #cfdcff,
        'general-blue-10': #eaefff,
        'general-grey-100': #5a607d,
        'general-grey-90': #bbc1c9,
        'general-grey-40': #cfd6de,
        'general-grey-30': #d9dfe5,
        'general-grey-20': #edeff1,
        'general-grey-10': #f9f9fa,
        'general-white-100': #ffffff,
        'general-black-100': #070f18,
        'general-black-90': #393f46
);

$extra-color: (
  // Extra colors
        'extra-green-100': #1d9c49,
        'extra-green-90': #4fae70,
        'extra-green-20': #cae7d4,
        'extra-green-10': #edf7f1,
        'extra-red-100': #d74a4e,
        'extra-red-90': #d0676a,
        'extra-red-20': #f2d4d5,
        'extra-red-10': #faf0f0,
        'extra-yellow-100': #e69d0f,
        'extra-yellow-90': #e6b34f,
        'extra-yellow-20': #f8e8ca,
        'extra-yellow-10': #fcf7ed,
        'extra-purple-100': #9528ef,
        'extra-purple-90': #b876ef,
        'extra-purple-20': #e3c8f9,
        'extra-purple-10': #f6ebff
);

@mixin customScroll {
  overflow: auto;
  padding-right: 6px;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #edeff1;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    padding-top: 2px;
    padding-bottom: 2px;
    background: rgba(0, 0, 0, 0);
    width: 6px;
    height: 6px;
  }

  @supports not selector(::-webkit-scrollbar) {
    html {
      scrollbar-color: #a0a0a5 rgba(0, 0, 0, 0);
      scrollbar-width: thin;
      scrollbar-gutter: stable both-edges;
    }
  }
}

//// TEMPLATES

// General colors
// map-get($general-color, 'general-violet-100'); #4B4FED
// map-get($general-color, 'general-violet-90'); #6367F6
// map-get($general-color, 'general-violet-20'); #E4E4FF
// map-get($general-color, 'general-violet-10'); #F8F8FF
// map-get($general-color, 'general-blue-100'); #4678FF
// map-get($general-color, 'general-blue-20'); #CDFCFF
// map-get($general-color, 'general-blue-10'); #EAEFFF
// map-get($general-color, 'general-grey-100'); #5A607D
// map-get($general-color, 'general-grey-90'); #BBC1C9
// map-get($general-color, 'general-grey-20'); #EDEFF1
// map-get($general-color, 'general-grey-10'); #F9F9FA
// map-get($general-color, 'general-white-100'); #FFFFFF
// map-get($general-color, 'general-black-100'); #070F18
// map-get($general-color, 'general-black-90'); #393F46

// Extra colors
// map-get($extra-color, 'extra-green-100'); #1D9C49
// map-get($extra-color, 'extra-green-90'); #4FAE70
// map-get($extra-color, 'extra-green-20'); #CAE7D4
// map-get($extra-color, 'extra-green-10'); #EDF7F1
// map-get($extra-color, 'extra-red-100'); #D74A4E
// map-get($extra-color, 'extra-red-90'); #D0676A
// map-get($extra-color, 'extra-red-20'); #F2D4D5
// map-get($extra-color, 'extra-red-10'); #FAF0F0
// map-get($extra-color, 'extra-yellow-100'); #E69D0F
// map-get($extra-color, 'extra-yellow-90'); #E6B34F
// map-get($extra-color, 'extra-yellow-20'); #F8E8CA
// map-get($extra-color, 'extra-yellow-10'); #FCF7ED
// map-get($extra-color, 'extra-purple-100'); #9528EF
// map-get($extra-color, 'extra-purple-90'); #B876EF
// map-get($extra-color, 'extra-purple-20'); #E3C8F9
// map-get($extra-color, 'extra-purple-10'); #F6EBFF
