@import '../../../../assets/styles/colors';

.action {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: $transition-default;
  animation: fadeIn 0.2s linear;
  border-radius: 10px;
  .text {
    margin-top: 4px;
  }
  &.delete {
    opacity: 0;
    background: rgba(map-get($extra-color, 'extra-red-90'), 0.9);
    &:hover {
      opacity: 1;
    }
  }
  &.download {
    opacity: 0;
    background: rgba(map-get($general-color, 'general-violet-90'), 0.9);
    gap: 8px;
    &:hover {
      opacity: 1;
    }
  }
  &.loading {
    cursor: wait;
    background: rgba(map-get($general-color, 'general-black-100'), 0.7);
  }
  &.error {
    background: rgba(map-get($general-color, 'general-black-100'), 0.7);
    &:hover {
      background: rgba(map-get($general-color, 'general-black-100'), 0.6);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
