@import '../../../../assets/styles/colors';

.wrapper {
  position: absolute;

  top: 38px;
  right: 0;
  z-index: 2;

  width: 500px;
  min-height: 80px;
  padding: 8px;

  background: map-get($general-color, 'general-white-100');
  border: 1px solid map-get($general-color, 'general-grey-20');
  border-radius: 10px;
  box-shadow: 0 10px 30px 0 rgba(192, 196, 205, 0.30);

  .contentContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .childrenContainer {
      padding: 8px;
    }

    .closeBtn {
      min-width: 24px;
    }
  }

  .popupArrow {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: map-get($general-color, 'general-white-100');
    border-style: solid;
    border-width: 1px;
    border-color: map-get($general-color, 'general-grey-20') transparent transparent map-get($general-color, 'general-grey-20');
    border-radius: 4px;
    transform: rotate(45deg);
    top: -6px;
    right: 8px;
  }
}