@import '../../../../../../assets/styles/colors';
@import '../../../../../../assets/styles/fonts';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 182px;
  width: 100%;
}
