@import '../../../../assets/styles/colors';

.item {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 268px;
  max-height: 52px;
  cursor: pointer;
  padding: 6px 40px 6px 10px;
  margin-bottom: 6px;
  border-radius: $border-radius-default;
  transition: $transition-default;
  &:hover {
    background: map-get($general-color, 'general-grey-10');
  }
  & .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: $border-radius-default;
  }
  &.selected {
    background: map-get($general-color, 'general-grey-10');
    &:hover {
      background: map-get($general-color, 'general-blue-10');
    }
    & .check {
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
      path {
        fill: map-get($general-color, 'general-violet-90');
      }
    }
  }
}
