%font-inter {
  font-family: 'Inter', Helvetica, sans-serif;
  font-style: normal;
}

%font-inter-400-regular {
  @extend %font-inter;
  font-weight: 400;
}

%font-inter-500-medium {
  @extend %font-inter;
  font-weight: 500;
}

%font-inter-600-semibold {
  @extend %font-inter;
  font-weight: 600;
}

%font-inter-700-bold {
  @extend %font-inter;
  font-weight: 700;
}

@mixin font-h1-bold {
  @extend %font-inter-700-bold;
  font-size: 32px;
  line-height: 38px;
}

@mixin font-h1-semibold {
  @extend %font-inter-600-semibold;
  font-size: 32px;
  line-height: 38px;
}

@mixin font-h2-bold {
  @extend %font-inter-700-bold;
  font-size: 24px;
  line-height: 36px;
}

@mixin font-h2-semibold {
  @extend %font-inter-600-semibold;
  font-size: 24px;
  line-height: 36px;
}

@mixin font-title-bold {
  @extend %font-inter-700-bold;
  font-size: 20px;
  line-height: 28px;
}

@mixin font-title-semibold {
  @extend %font-inter-600-semibold;
  font-size: 20px;
  line-height: 28px;
}

@mixin font-title-regular {
  @extend %font-inter-400-regular;
  font-size: 20px;
  line-height: 28px;
}

@mixin font-body-medium {
  @extend %font-inter-500-medium;
  font-size: 16px;
  line-height: 24px;
}

@mixin font-body-regular-16 {
  @extend %font-inter-400-regular;
  font-size: 16px;
  line-height: 24px;
}

@mixin font-body-bold-14 {
  @extend %font-inter-700-bold;
  font-size: 14px;
  line-height: 20px;
}

@mixin font-body-regular-14 {
  @extend %font-inter-400-regular;
  font-size: 14px;
  line-height: 24px;
}

@mixin font-button {
  @extend %font-inter-500-medium;
  font-size: 14px;
  line-height: 14px;
}

@mixin font-caption-uppercase {
  @extend %font-inter-400-regular;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
}

@mixin font-caption-bold {
  @extend %font-inter-700-bold;
  font-size: 12px;
  line-height: 16px;
}

@mixin font-caption-semibold {
  @extend %font-inter-600-semibold;
  font-size: 12px;
  line-height: 16px;
}

@mixin font-caption-regular {
  @extend %font-inter-400-regular;
  font-size: 12px;
  line-height: 16px;
}

@mixin font-caption-regular-height-20 {
  @extend %font-inter-400-regular;
  font-size: 12px;
  line-height: 20px;
  font-style: normal;
}

@mixin font-caption-regular-height-24 {
  @extend %font-inter-400-regular;
  font-size: 12px;
  line-height: 24px;
  font-style: normal;
}

@mixin font-text-medium {
  @extend %font-inter-500-medium;
  font-size: 12px;
  line-height: 16px;
}

@mixin font-text-regular {
  @extend %font-inter-400-regular;
  font-size: 12px;
  line-height: 16px;
}

@mixin font-subtext-bold {
  @extend %font-inter-700-bold;
  font-size: 10px;
  line-height: 16px;
}

@mixin font-subtext-semibold {
  @extend %font-inter-600-semibold;
  font-size: 10px;
  line-height: 16px;
}

@mixin font-subtext-medium {
  @extend %font-inter-500-medium;
  font-size: 10px;
  line-height: 16px;
}

@mixin font-subtext-regular {
  @extend %font-inter-400-regular;
  font-size: 10px;
  line-height: 16px;
}

@mixin font-avatar-small {
  @extend %font-inter-400-regular;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
}

@mixin font-avatar-big {
  @extend %font-inter-700-bold;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

@mixin font-file-name {
  @extend %font-inter-600-semibold;
  font-size: 9px;
  line-height: 9px;
  text-transform: uppercase;
}

//// TEMPLATES

// @include font-h1-bold;
/* H1 Headline / Bold */

// @include font-h1-semibold;
/* H1 Headline / SemiBold */

// @include font-h2-bold;
/* H2 Headline / Bold */

// @include font-h2-semibold;
/* H2 Headline / SemiBold */

// @include font-title-bold;
/* Title / Bold */

// @include font-title-semibold;
/* Title / SemiBold */

// @include font-body-medium;
/* Body / Medium */

// @include font-body-regular-16;
/* Body / Regular */

// @include font-body-regular-14;
/* Body / Regular */

// @include font-button;
/* Button / Medium */

// @include font-caption-uppercase;
/* Caption overline / Regular */

// @include font-caption-semibold;
/* Caption / SemiBold */

// @include font-caption-regular;
/* Caption / Regular */

// @include font-text-medium;
/* Text / Medium */

// @include font-text-regular;
/* Text / Regular */

@mixin text-transform {
  &.text-transform {
    &_none {
      text-transform: none;
    }
    &_lowercase {
      text-transform: lowercase;
    }
    &_uppercase {
      text-transform: uppercase;
    }
    &_capitalize {
      text-transform: capitalize;
    }
    &_first-letter {
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}

@mixin text-align {
  &.text-align {
    &_center {
      text-align: center;
    }
    &_left {
      text-align: left;
    }
    &_right {
      text-align: right;
    }
    &_justify {
      text-align: justify;
    }
  }
}
