@mixin position {
  &.position {
    &_static {
      position: static;
    }

    &_relative {
      position: relative;
    }

    &_absolute {
      position: absolute;
    }

    &_fixed {
      position: fixed;
    }

    &_sticky {
      position: sticky;
    }
  }
}

@mixin display {
  &.display {
    &_table {
      display: table;
    }

    &_inline {
      display: inline;
    }

    &_inline-block {
      display: inline-block;
    }

    &_block {
      display: block;
    }

    &_flex {
      display: flex;
    }

    &_inline-flex {
      display: inline-flex;
    }

    &_grid {
      display: grid;
    }

    &_none {
      display: none;
    }
  }
}

@mixin flex-direction {
  &.flex-direction {
    &_row {
      flex-direction: row;
    }

    &_row-reverse {
      flex-direction: row-reverse;
    }

    &_column {
      flex-direction: column;
    }

    &_column-reverse {
      flex-direction: column-reverse;
    }

    &_inherit {
      flex-direction: inherit;
    }
  }
}

@mixin flex-wrap {
  &.flex-wrap {
    &_wrap {
      flex-wrap: wrap;
    }

    &_nowrap {
      flex-wrap: nowrap;
    }
  }
}

@mixin justify-content {
  &.justify-content {
    &_center {
      justify-content: center;
    }

    &_flex-start {
      justify-content: flex-start;
    }

    &_flex-end {
      justify-content: flex-end;
    }

    &_space-around {
      justify-content: space-around;
    }

    &_space-between {
      justify-content: space-between;
    }

    &_space-evenly {
      justify-content: space-evenly;
    }
  }
}

@mixin align-items {
  &.align-items {
    &_center {
      align-items: center;
    }

    &_flex-start {
      align-items: flex-start;
    }

    &_flex-end {
      align-items: flex-end;
    }

    &_stretch {
      align-items: stretch;
    }

    &_baseline {
      align-items: baseline;
    }
  }
}

@mixin align-content {
  &.align-content {
    &_center {
      align-content: center;
    }

    &_flex-start {
      align-content: flex-start;
    }

    &_flex-end {
      align-content: flex-end;
    }

    &_space-around {
      align-content: space-around;
    }

    &_space-between {
      align-content: space-between;
    }

    &_stretch {
      align-content: stretch;
    }
  }
}

@mixin align-self {
  &.align-self {
    &_center {
      align-self: center;
    }

    &_flex-start {
      align-self: flex-start;
    }

    &_flex-end {
      align-self: flex-end;
    }

    &_stretch {
      align-self: stretch;
    }

    &_baseline {
      align-self: baseline;
    }
  }
}

@mixin flex-grow {
  &.flex-grow {
    &_0 {
      flex-grow: 0;
    }

    &_1 {
      flex-grow: 1;
    }

    &_2 {
      flex-grow: 2;
    }

    &_3 {
      flex-grow: 3;
    }

    &_4 {
      flex-grow: 4;
    }

    &_5 {
      flex-grow: 5;
    }
  }
}

@mixin gap {
  &.gap {
    &_0 {
      gap: 0;
    }

    &_4 {
      gap: 4px;
    }

    &_8 {
      gap: 8px;
    }

    &_12 {
      gap: 12px;
    }

    &_16 {
      gap: 16px;
    }

    &_16-100 {
      row-gap: 16px;
      column-gap: 100px;
    }

    &_20 {
      gap: 20px;
    }

    &_24 {
      gap: 24px;
    }

    &_28 {
      gap: 28px;
    }

    &_30 {
      gap: 30px;
    }

    &_32 {
      gap: 32px;
    }

    &_32-8 {
      column-gap: 32px;
      row-gap: 8px;
    }

    &_36 {
      gap: 36px;
    }

    &_39 {
      gap: 39px;
    }

    &_40 {
      gap: 40px;
    }

    &_80 {
      gap: 80px;
    }

    &_100 {
      gap: 100px;
    }

    &_165 {
      gap: 165px;
    }
  }
}

@mixin overflow {
  &.overflow {
    &_visible {
      overflow: visible;
    }

    &_scroll {
      overflow: scroll;
    }

    &_x-scroll {
      overflow-x: scroll;
    }

    &_y-scroll {
      overflow-y: scroll;
    }

    &_auto {
      overflow: auto;
    }

    &_x-auto {
      overflow-x: auto;
    }

    &_y-auto {
      overflow-y: auto;
    }

    &_hidden {
      overflow: hidden;
    }

    &_x-hidden {
      overflow-x: hidden;
    }

    &_y-hidden {
      overflow-y: hidden;
    }
  }
}
