@import '~normalize.css/normalize.css';
@import '../../assets/styles/colors';

@import 'inputWidth';

/* bring in normalize.css styles */

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before {
    box-sizing: inherit;
  }

  &::after {
    box-sizing: inherit;
  }
}

html,
body,
#root {
  height: 100%;
}

h1 {
  margin: 0;
}

input {
  width: 100%;
  border: none;
  background: transparent;

  &::placeholder {
    user-select: none;
  }

  &:active,
  &:visited,
  &:focus {
    outline: 0;
  }

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    border: none;
    -webkit-text-fill-color: map-get($general-color, 'general-black-100');
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
    transition: background-color 0s 600000s, color 0s 600000s;
  }
}
