@mixin inputWidth {
  &.width {
    &_44 {
      width: 44px;
    }

    &_66 {
      width: 66px;
    }

    &_80 {
      width: 80px;
    }

    &_84 {
      width: 84px;
    }

    &_90 {
      width: 90px;
    }

    &_96 {
      width: 96px;
    }

    &_110 {
      width: 110px;
    }

    &_112 {
      width: 112px;
    }

    &_114 {
      width: 112px;
    }

    &_120 {
      width: 120px;
    }

    &_124 {
      width: 124px;
    }

    &_130 {
      width: 134px;
    }

    &_134 {
      width: 134px;
    }

    &_138 {
      width: 138px;
    }

    &_140 {
      width: 140px;
    }

    &_144 {
      width: 144px;
    }

    &_150 {
      width: 150px;
    }

    &_157 {
      width: 157px;
    }

    &_170 {
      width: 170px;
    }

    &_172 {
      width: 172px;
    }

    &_180 {
      width: 180px;
    }

    &_190 {
      width: 190px;
    }

    &_192 {
      width: 192px;
    }

    &_200 {
      width: 200px;
    }

    &_215 {
      width: 215px;
    }

    &_220 {
      width: 220px;
    }

    &_230 {
      width: 230px;
    }

    &_248 {
      width: 248px;
    }

    &_260 {
      width: 260px;
    }

    &_270 {
      width: 270px;
    }

    &_280 {
      width: 280px;
    }

    &_300 {
      width: 300px;
    }

    &_311 {
      width: 311px;
    }

    &_320 {
      width: 320px;
    }

    // TODO
    &_330 {
      width: 330px;
    }

    &_338 {
      width: 338px;
    }

    &_354 {
      width: 354px;
    }

    &_370 {
      width: 370px;
    }

    &_375 {
      width: 375px;
    }

    &_408 {
      width: 408px;
    }

    &_416 {
      width: 416px;
    }

    &_480 {
      width: 480px;
    }

    &_502 {
      width: 502px;
    }

    &_542 {
      width: 542px;
    }

    &_552 {
      width: 552px;
    }

    &_624 {
      width: 624px;
    }

    &_672 {
      width: 672px;
    }

    &_full {
      width: 100%;
    }
  }
}
