// Margin top
@for $i from 0 through 90 {
  .mt#{$i} {
    $length: 1px * $i;
    margin-top: $length;
  }
}

// Margin bottom
@for $i from 0 through 90 {
  .mb#{$i} {
    $length: 1px * $i;
    margin-bottom: $length;
  }
}

// Margin right
@for $i from 0 through 90 {
  .mr#{$i} {
    $length: 1px * $i;
    margin-right: $length;
  }
}

// Margin left
@for $i from 0 through 90 {
  .ml#{$i} {
    $length: 1px * $i;
    margin-left: $length;
  }
}

// Margin top and bottom
@for $i from 0 through 90 {
  .mY#{$i} {
    $length: 1px * $i;
    margin-top: $length;
    margin-bottom: $length;
  }
}

// Margin right and left
@for $i from 0 through 90 {
  .mX#{$i} {
    $length: 1px * $i;
    margin-right: $length;
    margin-left: $length;
  }
}

// Margin all directions
@for $i from 0 through 90 {
  .m#{$i} {
    $length: 1px * $i;
    margin: $length;
  }
}

// Margins auto
.mt_auto {
  margin-top: auto;
}

.mb_auto {
  margin-bottom: auto;
}

.mr_auto {
  margin-right: auto;
}

.ml_auto {
  margin-left: auto;
}

.mY_auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mX_auto {
  margin-right: auto;
  margin-left: auto;
}

.m_auto {
  margin: auto;
}

// Padding top
@for $i from 0 through 90 {
  .pt#{$i} {
    $length: 1px * $i;
    padding-top: $length;
  }
}

// Padding bottom
@for $i from 0 through 90 {
  .pb#{$i} {
    $length: 1px * $i;
    padding-bottom: $length;
  }
}

// Padding right
@for $i from 0 through 90 {
  .pr#{$i} {
    $length: 1px * $i;
    padding-right: $length;
  }
}

// Padding left
@for $i from 0 through 90 {
  .pl#{$i} {
    $length: 1px * $i;
    padding-left: $length;
  }
}

// Padding top and bottom
@for $i from 0 through 90 {
  .pY#{$i} {
    $length: 1px * $i;
    padding-top: $length;
    padding-bottom: $length;
  }
}

// Padding right and left
@for $i from 0 through 90 {
  .pX#{$i} {
    $length: 1px * $i;
    padding-right: $length;
    padding-left: $length;
  }
}

// Padding all directions
@for $i from 0 through 90 {
  .p#{$i} {
    $length: 1px * $i;
    padding: $length;
  }
}

// Paddings auto
.pt_auto {
  padding-top: unset;
}

.pb_auto {
  padding-bottom: unset;
}

.pr_auto {
  padding-right: unset;
}

.pl_auto {
  padding-left: unset;
}

.pY_auto {
  padding-top: unset;
  padding-bottom: unset;
}

.pX_auto {
  padding-right: unset;
  padding-left: unset;
}

.p_auto {
  padding: unset;
}

// Full size
.w100p {
  max-width: 100%;
  width: 100%;
}

.h100p {
  max-height: 100%;
  height: 100%;
}

// Max-width
@for $i from 1 through 700 {
  $size: 2 * $i;
  .w#{$size} {
    $width: 2px * $i;
    max-width: $width;
  }
}

// Max-height
@for $i from 1 through 700 {
  $size: 2 * $i;
  .h#{$size} {
    $height: 2px * $i;
    max-height: $height;
  }
}

// Min-width
@for $i from 1 through 700 {
  $size: 2 * $i;
  .w#{$size}min {
    $width: 2px * $i;
    min-width: $width;
  }
}

// Min-height
@for $i from 1 through 700 {
  $size: 2 * $i;
  .h#{$size}min {
    $height: 2px * $i;
    min-height: $height;
  }
}

// Fixed width
@for $i from 1 through 700 {
  $size: 2 * $i;
  .w#{$size}fixed {
    $width: 2px * $i;
    width: $width;
  }
}

// Fixed height
@for $i from 1 through 700 {
  $size: 2 * $i;
  .h#{$size}fixed {
    $height: 2px * $i;
    height: $height;
  }
}

// View-width
@for $i from 1 through 100 {
  .w#{$i}vw {
    $width: 1px * $i;
    width: $width;
  }
}

// View-height
@for $i from 1 through 100 {
  .h#{$i}vh {
    $height: 1vh * $i;
    height: $height;
  }
}

//z-index
@for $i from 0 through 90 {
  .z_ind#{$i} {
    z-index: $i;
  }
}

//right
@for $i from 0 through 90 {
  .r#{$i} {
    $right: 1px * $i;
    right: $right;
  }
}

// Revise

.ml170 {
  margin-left: 170px;
}

.w80 {
  max-width: 80px;
  width: 100%;
}

.w33p {
  max-width: 33.33333333%;
}

.test {
  width: 735px;
}

.h504 {
  max-height: 504px;
}

.h340_f {
  height: 340px;
}

.w735 {
  width: 735px;
}

.chart {
  position: absolute;
  bottom: 0;
  right: 0;
}
