@mixin tableCellWidth {
  &.min-width {
    &_28 {
      min-width: 28px;
    }
    &_32 {
      min-width: 32px;
    }
    &_36 {
      min-width: 36px;
    }
    &_40 {
      min-width: 40px;
    }
    &_48 {
      min-width: 48px;
    }
    &_50 {
      min-width: 50px;
    }
    &_60 {
      min-width: 60px;
    }
    &_70 {
      min-width: 70px;
    }
    &_80 {
      min-width: 80px;
    }
    &_88 {
      min-width: 88px;
    }
    &_90 {
      min-width: 90px;
    }
    &_93 {
      min-width: 93px;
    }
    &_100 {
      min-width: 100px;
    }
    &_105 {
      min-width: 105px;
    }
    &_110 {
      min-width: 110px;
    }
    &_115 {
      min-width: 115px;
    }
    &_120 {
      min-width: 120px;
    }
    &_124 {
      min-width: 124px;
    }
    &_125 {
      min-width: 125px;
    }
    &_130 {
      min-width: 130px;
    }
    &_135 {
      min-width: 135px;
    }
    &_140 {
      min-width: 140px;
    }
    &_145 {
      min-width: 145px;
    }
    &_144 {
      min-width: 144px;
    }
    &_150 {
      min-width: 150px;
    }
    &_152 {
      min-width: 152px;
    }
    &_155 {
      min-width: 155px;
    }
    &_160 {
      min-width: 160px;
    }
    &_166 {
      min-width: 166px;
    }
    &_170 {
      min-width: 170px;
    }
    &_180 {
      min-width: 180px;
    }
    &_190 {
      min-width: 190px;
    }
    &_194 {
      min-width: 194px;
    }
    &_200 {
      min-width: 200px;
    }
    &_205 {
      min-width: 205px;
    }
    &_210 {
      min-width: 210px;
    }
    &_220 {
      min-width: 220px;
    }
    &_230 {
      min-width: 230px;
    }
    &_240 {
      min-width: 240px;
    }
    &_250 {
      min-width: 250px;
    }
    &_254 {
      min-width: 254px;
    }
    &_255 {
      min-width: 255px;
    }
    &_260 {
      min-width: 260px;
    }
    &_270 {
      min-width: 270px;
    }
    &_280 {
      min-width: 280px;
    }
    &_290 {
      min-width: 290px;
    }
    &_300 {
      min-width: 300px;
    }
    &_310 {
      min-width: 310px;
    }
    &_320 {
      min-width: 320px;
    }
    &_330 {
      min-width: 330px;
    }
    &_340 {
      min-width: 340px;
    }
    &_350 {
      min-width: 350px;
    }
    &_360 {
      min-width: 360px;
    }
    &_380 {
      min-width: 380px;
    }
    &_400 {
      min-width: 400px;
    }
    &_410{
      min-width: 410px;
    }
    &_420{
      min-width: 420px;
    }
    &_538 {
      min-width: 538px;
    }
    &_544 {
      min-width: 544px;
    }
    &_560 {
      min-width: 560px;
    }
    &_600 {
      min-width: 600px;
    }
  }
  &.max-width {
    &_28 {
      max-width: 28px;
    }
    &_32 {
      max-width: 32px;
    }
    &_36 {
      max-width: 36px;
    }
    &_40 {
      max-width: 40px;
    }
    &_48 {
      max-width: 48px;
    }
    &_50 {
      max-width: 50px;
    }
    &_60 {
      max-width: 60px;
    }
    &_70 {
      max-width: 70px;
    }
    &_80 {
      max-width: 80px;
    }
    &_88 {
      max-width: 88px;
    }
    &_90 {
      max-width: 90px;
    }
    &_93 {
      max-width: 93px;
    }
    &_100 {
      max-width: 100px;
    }
    &_110 {
      max-width: 110px;
    }
    &_120 {
      max-width: 120px;
    }
    &_124 {
      max-width: 124px;
    }
    &_125 {
      max-width: 125px;
    }
    &_130 {
      max-width: 130px;
    }
    &_135 {
      max-width: 135px;
    }
    &_140 {
      max-width: 140px;
    }
    &_144 {
      max-width: 144px;
    }
    &_145 {
      max-width: 145px;
    }
    &_150 {
      max-width: 150px;
    }
    &_152 {
      max-width: 152px;
    }
    &_155 {
      max-width: 155px;
    }
    &_160 {
      max-width: 160px;
    }
    &_166 {
      max-width: 166px;
    }
    &_170 {
      max-width: 170px;
    }
    &_180 {
      max-width: 180px;
    }
    &_190 {
      max-width: 190px;
    }
    &_194 {
      max-width: 194px;
    }
    &_200 {
      max-width: 200px;
    }
    &_205{
      max-width: 205px;
    }
    &_210 {
      max-width: 210px;
    }
    &_220 {
      max-width: 220px;
    }
    &_230 {
      max-width: 230px;
    }
    &_240 {
      max-width: 240px;
    }
    &_250 {
      max-width: 250px;
    }
    &_254 {
      max-width: 254px;
    }
    &_255 {
      max-width: 255px;
    }
    &_260 {
      max-width: 260px;
    }
    &_270 {
      max-width: 270px;
    }
    &_280 {
      max-width: 280px;
    }
    &_290 {
      max-width: 290px;
    }
    &_300 {
      max-width: 300px;
    }
    &_310 {
      max-width: 310px;
    }
    &_320 {
      max-width: 320px;
    }
    &_330 {
      max-width: 330px;
    }
    &_340 {
      max-width: 340px;
    }
    &_350 {
      max-width: 350px;
    }
    &_360 {
      max-width: 360px;
    }
    &_380 {
      max-width: 380px;
    }
    &_400 {
      max-width: 400px;
    }
    &_420 {
      max-width: 420px;
    }
    &_538 {
      max-width: 538px;
    }
    &_544 {
      max-width: 544px;
    }
    &_600 {
      max-width: 600px;
    }
  }
  &.flex-basis {
    &_28 {
      flex-basis: 28px;
    }
    &_32 {
      flex-basis: 32px;
    }
    &_36 {
      flex-basis: 36px;
    }
    &_40 {
      flex-basis: 40px;
    }
    &_48 {
      flex-basis: 48px;
    }
    &_50 {
      flex-basis: 50px;
    }
    &_60 {
      flex-basis: 60px;
    }
    &_70 {
      flex-basis: 70px;
    }
    &_80 {
      flex-basis: 80px;
    }
    &_90 {
      flex-basis: 90px;
    }
    &_100 {
      flex-basis: 100px;
    }
    &_110 {
      flex-basis: 110px;
    }
    &_120 {
      flex-basis: 120px;
    }
    &_130 {
      flex-basis: 130px;
    }
    &_140 {
      flex-basis: 140px;
    }
    &_150 {
      flex-basis: 150px;
    }
    &_160 {
      flex-basis: 160px;
    }
    &_170 {
      flex-basis: 170px;
    }
    &_180 {
      flex-basis: 180px;
    }
    &_190 {
      flex-basis: 190px;
    }
    &_200 {
      flex-basis: 200px;
    }
    &_210 {
      flex-basis: 210px;
    }
    &_220 {
      flex-basis: 220px;
    }
    &_230 {
      flex-basis: 230px;
    }
    &_240 {
      flex-basis: 240px;
    }
    &_250 {
      flex-basis: 250px;
    }
    &_260 {
      flex-basis: 260px;
    }
    &_270 {
      flex-basis: 270px;
    }
    &_280 {
      flex-basis: 280px;
    }
    &_290 {
      flex-basis: 290px;
    }
    &_300 {
      flex-basis: 300px;
    }
    &_310 {
      flex-basis: 310px;
    }
    &_320 {
      flex-basis: 320px;
    }
    &_330 {
      flex-basis: 330px;
    }
    &_340 {
      flex-basis: 340px;
    }
    &_350 {
      flex-basis: 350px;
    }
    &_380 {
      flex-basis: 380px;
    }
    &_600 {
      flex-basis: 600px;
    }
  }
}
