@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
}
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
}
@keyframes slideInBottom {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
}
@keyframes slideInTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
}

@mixin dropdownDirection {
  &.direction {
    &_top-left {
      animation: slideInBottom 0.5s ease;
    }

    &_top-right {
      animation: slideInBottom 0.5s ease;
    }

    &_right-top {
      animation: slideInLeft 0.5s ease;
    }

    &_right-bottom {
      animation: slideInLeft 0.5s ease;
    }

    &_bottom-right {
      animation: slideInTop 0.5s ease;
    }

    &_bottom-left {
      animation: slideInTop 0.5s ease;
    }

    &_left-bottom {
      animation: slideInRight 0.5s ease;
    }

    &_left-top {
      animation: slideInRight 0.5s ease;
    }
  }
}

@mixin background-transition {
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

// animation: slideInBottom .5s ease;
// animation: slideInTop .5s ease;
// animation: slideInRight .5s ease;
// animation: slideInLeft .5s ease;
