@import '../../../../../assets/styles/colors';

.component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  background: map-get($general-color, 'general-grey-10');
  border: 1px solid map-get($general-color, 'general-grey-20');
  border-radius: $border-radius-default;
  transition: $transition-default;
  cursor: pointer;
  min-width: 360px;
  .wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  .logo {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: map-get($general-color, 'general-grey-100');
    color: map-get($general-color, 'general-white-100');
    transition: $transition-default;
  }
  .text {
    color: map-get($general-color, 'general-grey-100');
    max-width: 270px;
  }
  .tick {
    color: map-get($general-color, 'general-violet-90');
    opacity: 0;
    transition: $transition-default;
  }
  &:hover {
    background: map-get($general-color, 'general-grey-20');
  }
  &.active {
    background: map-get($general-color, 'general-blue-10');
    border: 1px solid map-get($general-color, 'general-blue-20');
    .logo {
      background: map-get($general-color, 'general-violet-90');
    }
    .text {
      color: map-get($general-color, 'general-violet-90');
    }
    .tick {
      opacity: 1;
    }
  }
}
