@import '../../../assets/styles/colors';

.component {
  width: 100px;
  height: 80px;
  position: relative;
  flex-shrink: 0;
  & .logo {
    position: absolute;
    &_1 {
      top: 0;
      left: 0;
      z-index: 1;
    }
    &_2 {
      bottom: 0;
      right: 0;
      z-index: 2;
    }
  }
}
