@import '../../../../assets/styles/colors';

.component {
  display: flex;
  flex-direction: column;
  @include customScroll;

  &.maxHeight {
    &_none {
      max-height: none;
    }

    &_200 {
      max-height: 200px;
    }

    &_256 {
      max-height: 256px;
    }

    &_344 {
      max-height: 344px;
    }
  }

  &.gap {
    &_0 {
      gap: 0;
    }

    &_4 {
      gap: 4px;
    }
  }
}
