@import '../../../../assets/styles/colors';

.component {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2px 12px;
  border-radius: 4px;
  transition: $transition-default;
  & .text {
    cursor: default;
    user-select: none;
  }
}
