@import '../../../../../assets/styles/colors';

.component {
  display: flex;
  gap: 16px;
  align-items: center;
  .toggle {
    border-radius: 20px;
    background: map-get($general-color, 'general-grey-20');
    transition: $transition-default;
    position: relative;
    width: 46px;
    height: 24px;
    cursor: pointer;

  }
  &.disabled {
    opacity: 0.7;
    .toggle {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
  .switcher {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: map-get($general-color, 'general-white-100');
    border-radius: 50%;
  }
  &.sensitive {
    .toggle {
      background: map-get($general-color, 'general-violet-90');
    }
    .switcher {
      left: unset;
      right: 2px;
    }
  }
}
