@import '../../../assets/styles/colors';

.component {
  display: flex;
  height: 60px;
  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
  .logo {
    margin-right: 10px;
  }
  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 575px;
    width: 100%;
    padding: 16px 24px;
    border-radius: $border-radius-default;
    &_white-100 {
      background: map-get($general-color, 'general-white-100');
    }
    &_grey-10 {
      background: map-get($general-color, 'general-grey-10');
    }
    .text {
      display: flex;
      &_name {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 300px;
      }
      &_type {
        display: inline-flex;
      }
    }
  }
}
