@import '../../../assets/styles/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: calc(100% - 8px);
  top: 0;
  left: 0;
  background: map-get($general-color, 'general-grey-10');
  border: 1px solid map-get($general-color, 'general-grey-90');
  border-radius: 14px;
  z-index: 1;
  padding: 24px;
  gap: 24px;
  animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
