@import '../../../../assets/styles/colors';

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 624px;
  gap: 16px;
  width: 100%;
  align-items: center;
  padding: 16px;
  border-width: 1px;
  border-style: dashed;
  border-color: map-get($general-color, 'general-grey-90');
  border-radius: $border-radius-default;
  transition: $transition-default;
  overflow: hidden;
  &.hover {
    border-color: map-get($general-color, 'general-violet-90');
  }
  &.disabled {
    &.hover {
      border-color: map-get($general-color, 'general-grey-90');
    }
  }
  .dropzone {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: fadeIn 0.1s linear;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      pointer-events: none;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
