@import '../../../../assets/styles/colors';

.container {
  // width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  // justify-content: center;
  // align-items: center;
  @include customScroll;
  scrollbar-gutter: stable;
}
