@import '../../../../assets/styles/colors';

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  &.padding {
    &_0 {
      padding: 0;
    }
    &_16 {
      padding: 16px;
    }
  }
  &.borderTop {
    &_default {
      border-top: 1px solid map-get($general-color, 'general-grey-20');
    }
    &_none {
      border-top: none;
    }
  }
  .text {
    margin-right: 24px;
    color: map-get($general-color, 'general-grey-100');
  }
  .pagination {
    display: flex;
    align-items: center;
    .buttons {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .divider {
      margin: 0 16px;
    }
  }
}
