@import '../../../assets/styles/colors';

.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  &.disabled {
    opacity: .5;
  }
  .text {
    display: flex;
    align-items: center;
    .name {
      display: flex;
      align-items: center;
      .tooltip {
        margin-right: 4px;
        color: map-get($general-color, 'general-grey-90');
        &:hover {
          color: map-get($general-color, 'general-black-100');
        }
      }
      &.textWidth {
        &_130 {
          width: 130px;
        }
        &_160 {
          width: 160px;
        }
        &_260 {
          width: 260px;
        }
      }
    }
  }
}
