@import '../../../../../assets/styles/colors';

.tag {
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  max-height: 24px;
  animation: fadeIn 0.5s ease;
  padding-left: 4px;
  padding-right: 4px;
  transition: background 0.25s ease;

  &.background {
    &_violet {
      background: map-get($general-color, 'general-blue-10');
      color: map-get($general-color, 'general-violet-90');
    }

    &_grey_30 {
      background: map-get($general-color, 'general-grey-30');
      color: map-get($general-color, 'general-grey-100');
    }

    &_grey {
      background: map-get($general-color, 'general-grey-20');
      color: map-get($general-color, 'general-grey-100');
    }

    &_blue {
      background: map-get($general-color, 'general-blue-10');
      color: map-get($general-color, 'general-grey-100');
    }
  }

  &.delete {
    background: map-get($extra-color, 'extra-red-10');
    color: map-get($extra-color, 'extra-red-90');
  }

  .text {
    &.width {
      &_auto {
      }

      &_100 {
        max-width: 100px;
      }

      &_200 {
        max-width: 200px;
      }
    }
  }
}

.wrapper {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  padding-right: 8px;
  transition: $transition-default;

  &.padding-bottom {
    &_0 {
      padding-bottom: 0;
    }

    &_4 {
      padding-bottom: 4px;
    }
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.empty {
    padding-left: 0;
    padding-right: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
