@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/fonts';

.item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 8px;
  border-radius: $border-radius-default;
  transition: $transition-default;
  user-select: none;
  @include font-caption-regular;
  &:not(:last-of-type) {
    margin-bottom: 4px;
  }
  & .checkIconBlock {
    display: flex;
    align-items: center;
    width: 70%;
  }
  .gap {
    gap: 5px;
  }
  & .left {
    display: flex;
    flex-direction: column;
    min-width: 0;
    & .label {
      color: map-get($general-color, 'general-black-100');
      transition: $transition-default;
      @include font-caption-semibold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    & .tertiaryLabel {
      color: map-get($general-color, 'general-grey-100');
      transition: $transition-default;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    & .quadroLabel {
      color: map-get($general-color, 'general-grey-100');
      transition: $transition-default;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  & .right {
    display: flex;
    margin-left: 10px;
    min-width: 0;
    & .secondaryLabel {
      color: map-get($general-color, 'general-grey-100');
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &:hover {
    background: map-get($general-color, 'general-grey-20');
    & .label {
      color: map-get($general-color, 'general-black-100');
    }
    & .tertiaryLabel {
      color: map-get($general-color, 'general-black-100');
    }
  }
  &.selected {
    background: map-get($general-color, 'general-grey-10');
    color: map-get($general-color, 'general-violet-100');
    & .left, .label {
      color: map-get($general-color, 'general-violet-100');
    }
    &:hover {
      background: map-get($general-color, 'general-grey-20');
    }
  }
  svg {
    margin-right: 10px;
  }
}
