@import '../../../../assets/styles/colors';

.wrapper {
  line-height: 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  .title {
    margin-right: 8px;
  }

  .control {
    height: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: $border-radius-default;
    transition: background 0.25s ease;
    overflow: hidden;

    & .label {
      padding: 8px 12px;
      transition: background 0.25s ease;

      &:hover {
        background: map-get($general-color, 'general-grey-20');
      }
    }

    &.background {
      &_white-100 {
        background: map-get($general-color, 'general-white-100');

        .divider {
          background: map-get($general-color, 'general-grey-10');
        }
      }

      &_grey-10 {
        background: map-get($general-color, 'general-grey-10');

        .divider {
          background: map-get($general-color, 'general-white-100');
        }
      }
    }

    &:hover {
      background: map-get($general-color, 'general-grey-20');
    }

    &.appliedItems {
      background: map-get($general-color, 'general-blue-10');
      color: map-get($general-color, 'general-violet-90');

      & .label {
        &:hover {
          background: map-get($general-color, 'general-blue-20');
        }
      }
    }

    &.clearFilter {
      &:hover {
        background: rgba(map-get($extra-color, 'extra-red-90'), 0.1);
        color: map-get($extra-color, 'extra-red-90');
      }
    }

    .divider {
      height: 32px;
      width: 2px;
    }

    .button {
      transition: $transition-default;

      &.rotate {
        transform: rotate(180deg);
      }
    }
  }
}
