@import '../../../assets/styles/colors.scss';

.component {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  background: map-get($general-color, 'general-black-100');
  color: map-get($general-color, 'general-white-100');
  border-radius: 40px;
  transition: $transition-default;
  gap: 8px;

  &.bottom {
    &_none {
      bottom: unset;
    }
    &_72 {
      bottom: 72px;
    }
  }
}
