@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/transitions';

.component {
  position: relative;

  .dialogContainer {
    position: fixed;
    z-index: 500;

    overflow: hidden;

    background: map-get($general-color, 'general-white-100');
    box-shadow: 0 10px 30px 0 rgba(192, 196, 205, 0.30);
    border: 1px solid map-get($general-color, 'general-grey-20');
    border-radius: 10px;

    width: 508px;
    padding: 8px;

    display: flex;
    flex-direction: column;

    .dialogHeader {
      display: flex;
      justify-content: space-between;
      align-content: center;

      .headerTitle {
        @include font-button;
        color: map-get($general-color, 'general-grey-100');
        padding: 8px;
      }
    }

    .dialogContent {
      padding: 8px;
      max-height: 300px;
      @include customScroll;

      display: flex;
      flex-direction: column;
      gap: 8px;

      @include dropdownDirection
    }
  }
}