@import '../../../../../assets/styles/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  .title {
    color: map-get($general-color, 'general-black-100');
  }
  .subtitle {
    color: map-get($general-color, 'general-grey-100');
  }
  &:hover {
    .title,
    .subtitle {
      color: map-get($general-color, 'general-violet-90');
    }
  }
}
