@import '../../../../assets/styles/colors.scss';

.buttonWrapper {
  position: relative;

  & .disabledClickable {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
    z-index: 1;
  }
}

.wrapper {
  // Size
  &.size {
    &_minimal {
      width: auto;
      height: auto;
    }

    &_16 {
      width: 16px;
      height: 16px;
    }

    &_24 {
      width: 24px;
      height: 24px;
    }

    &_28 {
      width: 28px;
      height: 28px;
    }

    &_30 {
      width: 30px;
      height: 30px;
    }

    &_32 {
      width: 32px;
      height: 32px;
    }

    &_40 {
      width: 40px;
      height: 40px;
    }

    &_44 {
      width: 44px;
      height: 44px;
    }

    &_48 {
      width: 48px;
      height: 48px;
    }

    &_50 {
      width: 50px;
      height: 50px;
    }

    &_64 {
      width: 64px;
      height: 64px;
    }

    &_dropdown {
      width: 73px;
      height: 40px;
    }

    &_xs {
      width: 30px;
      height: 30px;
    }

    &_sm {
      width: 40px;
      height: 40px;
    }

    &_md {
      width: 44px;
      height: 44px;
    }

    &_lg {
      width: 50px;
      height: 50px;
    }
  }
}

// Styling
.button {
  @include background-colors-new;
  @include text-colors-new;
  @include border-colors-new;
}

// General styles
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  appearance: none;
  user-select: none;
  transition: $transition-default;
  cursor: pointer;
  position: relative;

  &:active,
  &:visited,
  &:focus {
    outline: 0;
  }

  // Shape
    &.square {
      border-radius: $border-radius-default;
    }

  &.circle {
    border-radius: 50%;
  }

  &.borderRadius {
    &_20{
      border-radius: 20px;
    }
  }


  // Disabled button
  &.disabled {
    border: 1px solid map-get($general-color, 'general-grey-20');
    background: map-get($general-color, 'general-grey-20');
    color: map-get($general-color, 'general-grey-90');
    cursor: not-allowed;

    &:hover {
      border: 1px solid map-get($general-color, 'general-grey-20');
      background: map-get($general-color, 'general-grey-20');
      color: map-get($general-color, 'general-grey-90');
    }
  }

  // Icon inside button
  & .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &_color {
      svg path {
        fill: currentColor;
      }
    }
  }

  // Info counter
  & .counter {
    position: absolute;
    top: -2px;
    right: -2px;
    animation: fadeIn 0.25s ease-in-out;
  }

  & .additionalIcon {
    position: absolute;
    top: -2px;
    right: -2px;

    width: 12px;
    height: 12px;

    background: map-get($general-color, 'general-white-100');
    border: 1px solid map-get($general-color, 'general-grey-20');
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: fadeIn 0.25s ease-in-out;
  }
}

.dropdown_block {
  display: flex;
  gap: 8px;
  padding-left: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
