@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/grid';
@import '../../../../assets/styles/fonts';

.text {
  &::selection {
    background: map-get($general-color, 'general-violet-90');
    color: map-get($general-color, 'general-white-100');
  }
  // Size, line-height and weight
  &.h1-bold {
    @include font-h1-bold;
  }
  &.h1-semibold {
    @include font-h1-semibold;
  }
  &.h2-bold {
    @include font-h2-bold;
  }
  &.h2-semibold {
    @include font-h2-semibold;
  }
  &.title-bold {
    @include font-title-bold;
  }
  &.title-semibold {
    @include font-title-semibold;
  }
  &.title-regular {
    @include font-title-regular;
  }
  &.body-medium {
    @include font-body-medium;
  }
  &.body-regular-16 {
    @include font-body-regular-16;
  }
  &.body-bold-14 {
    @include font-body-bold-14;
  }
  &.body-regular-14 {
    @include font-body-regular-14;
  }
  &.button {
    @include font-button;
  }
  &.caption-uppercase {
    @include font-caption-uppercase;
  }
  &.caption-bold {
    @include font-caption-bold;
  }
  &.caption-semibold {
    @include font-caption-semibold;
  }
  &.caption-regular {
    @include font-caption-regular;
  }
  &.caption-regular-height-20 {
    @include font-caption-regular-height-20;
  }
  &.caption-regular-height-24 {
    @include font-caption-regular-height-24;
  }
  &.text-medium {
    @include font-text-medium;
  }
  &.text-regular {
    @include font-text-regular;
  }
  &.subtext-bold {
    @include font-subtext-bold;
  }
  &.subtext-semibold {
    @include font-subtext-semibold;
  }
  &.subtext-medium {
    @include font-subtext-medium;
  }
  &.subtext-regular {
    @include font-subtext-regular;
  }
  &.avatar-small {
    @include font-avatar-small;
  }
  &.avatar-big {
    @include font-avatar-big;
  }
  &.filename {
    @include font-file-name;
  }
  @include text-align;
  @include text-transform;
  @include display;
  @include text-colors-new;
  &.noWrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &.noSelect {
    user-select: none;
  }
  &.transition {
    &_default {
      transition: $transition-default;
    }
    &_inherit {
      transition: inherit;
    }
    &_unset {
      transition: unset;
    }
  }
  &.line-clamp {
    &_1,
    &_2,
    &_3,
    &_4,
    &_5 {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
    &_1 {
      -webkit-line-clamp: 1;
    }
    &_2 {
      -webkit-line-clamp: 2;
    }
    &_3 {
      -webkit-line-clamp: 3;
    }
    &_4 {
      -webkit-line-clamp: 4;
    }
    &_5 {
      -webkit-line-clamp: 5;
    }
    &_none {
      -webkit-line-clamp: none;
    }
  }
}
