@import '../../../assets/styles/colors';

.card {
  padding: {
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 24px;
  }
  transition: $transition-default;
  display: flex;
  flex-direction: column;
  background: map-get($general-color, 'general-grey-10');
  border-radius: 14px;
  width: 293px;
  min-height: 160px;
  animation: fadeIn 0.5s ease;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid map-get($general-color, 'general-grey-90');
    .controls {
      opacity: 1;
    }
  }
  &.blurred {
    pointer-events: none;
    filter: blur(5px);
  }
}

.action {
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  .default {
    display: flex;
    align-items: center;
    gap: 4px;
    animation: fadeIn 0.5s ease;
    height: 24px;
  }
  .controls {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    gap: 8px;
    opacity: 0;
    transition: $transition-default;
    background: map-get($general-color, 'general-grey-10');
  }
}

.info {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .title {
    display: flex;
    flex-direction: column;
  }
  .account {
    display: flex;
    flex-direction: column;
    .data {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
